[Desktop Entry]
Type=Service
Icon=network-connect
ServiceTypes=simon/ConditionPlugin
X-KDE-Library=simondbusconditionplugin
Name=simon D-Bus Condition Plugin
Name[ca]=Connector de condició de D-Bus per a «simon»
Name[de]=D-Bus-Zustandsmodul für Simon
Name[el]=Πρόσθετο κατάστασης D-Bus του simon
Name[fi]=simon D-Bus-väyläehtoliitännäinen
Name[fr]=Module externe de condition D-Bus pour simon
Name[nl]=Plugin van simon D-Bus-voorwaarde
Name[pl]=Wtyczka warunku D-Bus dla simon
Name[pt]='Plugin' de Condição do DBus do Simon
Name[pt_BR]=Plugin de condição do D-Bus do simon
Name[sv]=Simon D-Bus villkorsinsticksprogram
Name[uk]=Додаток умов D-Bus simon
Name[x-test]=xxsimon D-Bus Condition Pluginxx
Comment=Checks application state over D-Bus
Comment[ca]=Comprova l'estat de l'aplicació en D-Bus
Comment[de]=Prüft den Zustand einer Anwendung über D-Bus
Comment[el]=Ελέγχει την κατάσταση της εφαρμογής με το D-Bus
Comment[fi]=Tarkistaa sovelluksen tilan D-Bus-väylän kautta
Comment[fr]=Vérifie l'état de l'application sur D-Bus
Comment[pl]=Sprawdza stan programu przez D-Bus
Comment[pt]=Verifica o estado da aplicação por DBus
Comment[pt_BR]=Verifica o estado do aplicativo por D-Bus
Comment[sv]=Kontrollerar programtillstånd via D-Bus
Comment[uk]=Перевірка стану програм за допомогою D-Bus
Comment[x-test]=xxChecks application state over D-Busxx

X-KDE-PluginInfo-Author=Peter Grasch
X-KDE-PluginInfo-Email=grasch@simon-listens.org
X-KDE-PluginInfo-Name=simondbusconditionplugin
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://simon-listens.org
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-ParentApp=simon
