[Desktop Entry]
Type=Service
Icon=network-connect
ServiceTypes=simon/ConditionPlugin
X-KDE-Library=simondbusconditionplugin
Name=simon DBus Condition Plugin
Name[de]=simon DBus Bedingungsplugin
Comment=Checks application state over DBus
Comment[de]=Überprüft den Anwendungszustand über DBus

X-KDE-PluginInfo-Author=Peter Grasch
X-KDE-PluginInfo-Email=grasch@simon-listens.org
X-KDE-PluginInfo-Name=simondbusconditionplugin
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://simon-listens.org
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-ParentApp=simon
