[Desktop Entry]
Type=Service
Icon=network-connect
ServiceTypes=simon/ConditionPlugin
X-KDE-Library=simondbusconditionplugin
Name=Simon D-Bus Condition Plugin
Name[ca]=Connector per a condició de D-Bus del Simon
Name[ca@valencia]=Connector per a condició de D-Bus del Simon
Name[cs]=Modul stavu D-Bus pro Simon
Name[da]=Simon-plugin til D-Bus-tilstande
Name[de]=D-Bus-Zustandsmodul für Simon
Name[el]=Πρόσθετο κατάστασης D-Bus για το Simon
Name[es]=Complemento de condición D-Bus de Simon
Name[et]=Simoni D-Busi tingimusplugin
Name[fi]=Simon D-Bus-väyläehtoliitännäinen
Name[fr]=Module externe de condition D-BUS pour Simon
Name[gl]=Complemento de condicións de D-Bus para Simon
Name[hu]=Simon D-Bus feltétel bővítmény
Name[nl]=Plugin van Simon D-Bus-voorwaarde
Name[pl]=Wtyczka warunku D-Bus dla Simon
Name[pt]='Plugin' de Condição do DBus do Simon
Name[pt_BR]=Plugin de condição do D-Bus do Simon
Name[sk]=Plugin D-Bus podmienky Simon
Name[sl]=Vstavek Simon za stanje D-Bus
Name[sv]=Simon D-Bus villkorsinsticksprogram
Name[uk]=Додаток умов D-Bus Simon
Name[x-test]=xxSimon D-Bus Condition Pluginxx
Name[zh_TW]=Simon D-Bus 條件外掛程式
Comment=Checks application state over D-Bus
Comment[ca]=Comprova l'estat de l'aplicació en D-Bus
Comment[ca@valencia]=Comprova l'estat de l'aplicació en D-Bus
Comment[cs]=Ověřuje stav programu přes D-Bus
Comment[da]=Tjekker programmers tilstand via D-Bus
Comment[de]=Prüft den Zustand einer Anwendung über D-Bus
Comment[el]=Ελέγχει την κατάσταση της εφαρμογής με το D-Bus
Comment[es]=Comprueba el estado de la aplicación sobre D-Bus
Comment[et]=Rakenduse oleku kontrollimine D-Busi kaudu
Comment[fi]=Tarkistaa sovelluksen tilan D-Bus-väylän kautta
Comment[fr]=Vérifie l'état de l'application sur D-BUS
Comment[gl]=Comproba o estado dos aplicativos a través do D-Bus
Comment[hu]=Alkalmazások állapotát ellenőrzi D-Bus-on keresztül
Comment[it]=Verifica lo stato delle applicazioni su D-Bus
Comment[nl]=Controleert de status van de toepassing via D-Bus
Comment[pl]=Sprawdza stan programu przez D-Bus
Comment[pt]=Verifica o estado da aplicação por DBus
Comment[pt_BR]=Verifica o estado do aplicativo por D-Bus
Comment[sk]=Skontroluje stav aplikácie cez D-Bus
Comment[sl]=Preverja programsko stanje preko D-Bus
Comment[sv]=Kontrollerar programtillstånd via D-Bus
Comment[uk]=Перевірка стану програм за допомогою D-Bus
Comment[x-test]=xxChecks application state over D-Busxx
Comment[zh_TW]=透過 D-Bus 檢查應用程式狀態

X-KDE-PluginInfo-Author=Peter Grasch
X-KDE-PluginInfo-Email=peter.grasch@bedahr.org
X-KDE-PluginInfo-Name=simondbusconditionplugin
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://userbase.kde.org/Simon
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-ParentApp=simon
