[Desktop Entry]
Type=Service
Icon=folder
ServiceTypes=simon/CommandPlugin
X-KDE-Library=simonplacecommandplugin
Name=Simon PlaceCommand Plugin
Name[ca]=Connector d'ordre de lloc per a Simon
Name[nl]=Plug-in voor Simon PlaceCommand
Name[pt]='Plugin' de Comando de Locais do Simon
Name[pt_BR]=Plugin de comando de locais do Simon
Name[uk]=Додаток команд «Місць» Simon
Name[x-test]=xxSimon PlaceCommand Pluginxx
Comment=Open places
Comment[ca]=Obre llocs
Comment[da]=Åbn steder
Comment[el]=Άνοιγμα χώρων
Comment[es]=Abrir lugares
Comment[et]=Asukohtade avamine
Comment[fi]=Avaa paikkoja
Comment[fr]=Ouvre des emplacements
Comment[gl]=Abrir lugares
Comment[it]=Apre luoghi
Comment[nl]=Opent plaatsen
Comment[pl]=Otwórz miejsca
Comment[pt]=Abrir os locais
Comment[pt_BR]=Abrir locais
Comment[sl]=Odprite mesta
Comment[sv]=Öppna platser
Comment[uk]=Відкриття пунктів зі списку «Місця»
Comment[x-test]=xxOpen placesxx

X-KDE-PluginInfo-Author=Peter Grasch
X-KDE-PluginInfo-Email=peter.grasch@bedahr.org
X-KDE-PluginInfo-Name=simonplacecommandplugin
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://userbase.kde.org/Simon
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-ParentApp=simon
