[Desktop Entry]
Type=Service
Icon=folder
ServiceTypes=simon/CommandPlugin
X-KDE-Library=simonplacecommandplugin
Name=simon PlaceCommand Plugin
Name[ca]=Connector d'ordre de lloc per a «simon»
Name[el]=Πρόσθετο PlaceCommand του simon
Name[et]=Simoni asukohtade käsuplugin
Name[fi]=simon PlaceCommand-liitännäinen
Name[fr]=Module externe de commandes d'emplacements pour simon
Name[gl]=Engadido de ordes de lugar do simon
Name[pl]=Wtyczka PolceniaUmieszczania simon
Name[pt]='Plugin' de Comando de Locais do Simon
Name[pt_BR]=Plugin de comando de locais do simon
Name[sv]=Simon insticksprogram för platskommandon
Name[uk]=Додаток команд «Місць» simon
Name[x-test]=xxsimon PlaceCommand Pluginxx
Comment=Open places
Comment[ca]=Obre llocs
Comment[el]=Άνοιγμα χώρων
Comment[es]=Abrir lugares
Comment[et]=Asukohtade avamine
Comment[fi]=Avaa paikkoja
Comment[fr]=Ouvre des emplacements
Comment[gl]=Abrir lugares
Comment[pl]=Otwórz miejsca
Comment[pt]=Abrir os locais
Comment[pt_BR]=Abrir locais
Comment[sv]=Öppna platser
Comment[uk]=Відкриття пунктів зі списку «Місця»
Comment[x-test]=xxOpen placesxx

X-KDE-PluginInfo-Author=Peter Grasch
X-KDE-PluginInfo-Email=grasch@simon-listens.org
X-KDE-PluginInfo-Name=simonplacecommandplugin
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://simon-listens.org
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-ParentApp=simon
