[Desktop Entry]
Name=afaras
Exec=afaras %i -caption "%c"
Icon=afaras
Type=Application
GenericName=Find and remove bad samples
Terminal=false
Categories=Qt;KDE;Utility;
