[Desktop Entry]
Name=Afaras
Name[ca]=Afaras
Name[ca@valencia]=Afaras
Name[cs]=Afaras
Name[da]=Afaras
Name[de]=Afaras
Name[el]=Afaras
Name[es]=Afaras
Name[et]=Afaras
Name[fi]=Afaras
Name[ga]=Afaras
Name[gl]=Afaras
Name[hu]=Afaras
Name[nl]=Afaras
Name[pl]=Afaras
Name[pt]=afaras
Name[pt_BR]=Afaras
Name[sk]=Afaras
Name[sl]=Afaras
Name[sv]=Afaras
Name[uk]=Afaras
Name[x-test]=xxAfarasxx
Name[zh_TW]=Afaras
Exec=afaras %i -caption "%c"
Icon=afaras
Type=Application
X-DocPath=afaras/index.html
GenericName=Find and remove bad samples
GenericName[ca]=Cerca i elimina les mostres dolentes
GenericName[ca@valencia]=Cerca i elimina les mostres dolentes
GenericName[cs]=Najít a odstranit špatné vzorky
GenericName[da]=Find og fjern dårlige samples
GenericName[de]=Schlechte Aufnahmen suchen und entfernen
GenericName[el]=εύρεση και αφαίρεση ακατάλληλων δειγμάτων
GenericName[es]=Buscar y eliminar muestras malas
GenericName[et]=Halbade näidete leidmine ja eemaldamine
GenericName[fi]=Etsi ja poista virheelliset näytteet
GenericName[fr]=Chercher et supprimer des exemples incorrects
GenericName[gl]=Atopar e eliminar as mostras malas
GenericName[hu]=Rossz minták keresése és eltávolítása
GenericName[nl]=Zoek en verwijder slechte samples
GenericName[pl]=Znajdź i usuń złe próbki
GenericName[pt]=Procurar e remover amostras inválidas
GenericName[pt_BR]=Procurar e remover amostras inválidas
GenericName[ro]=Găsește și elimină mostrele rele
GenericName[sk]=Nájsť a odstrániť zlé vzorky
GenericName[sl]=Najdite in odstranite slabe vzorce
GenericName[sv]=Sök och ta bort felaktiga samplingar
GenericName[uk]=Знайти і вилучити помилкові зразки
GenericName[x-test]=xxFind and remove bad samplesxx
GenericName[zh_CN]=查找并删除质量差的采样
GenericName[zh_TW]=尋找並移除不良的樣本
Terminal=false
Categories=Qt;KDE;Utility;
