[Desktop Entry]
Name=Afaras
Exec=afaras %i -caption %c
Icon=afaras
Type=Application
X-DocPath=afaras/index.html
X-AppStream-Ignore=true
GenericName=Find and remove bad samples
Terminal=false
Categories=Qt;KDE;Utility;
