[Desktop Entry]
Type=Service
Icon=computer
X-KDE-ServiceTypes=KCModule
X-KDE-Library=simonappcorekcm

X-DocPath=help:/simon/configuration.html#configuration_general

X-KDE-FactoryName=generalsettingsfactory
X-KDE-ParentComponents=libsimonappcore

X-KDE-ParentApp=simon
X-KDE-System-Settings-Parent-Category=simon

Name=General
Name[de]=Allgemein
Name[fr]=Général

Comment=Configuration of the general Options of simon
Comment[de]=Konfiguration der allgemeinen simon Einstellungen
Comment[fr]=Configuration des options générales de simon

