[Desktop Entry]
Type=Service
Icon=computer
X-KDE-ServiceTypes=KCModule
X-KDE-Library=simonappcorekcm

X-DocPath=help:/simon/configuration.html#configuration_general

X-KDE-FactoryName=generalsettingsfactory
X-KDE-ParentComponents=libsimonappcore

X-KDE-ParentApp=simon

Name=General
Name[bs]=Opšte
Name[ca]=General
Name[ca@valencia]=General
Name[cs]=Obecné
Name[da]=Generelt
Name[de]=Allgemein
Name[el]=Γενικά
Name[es]=General
Name[et]=Üldine
Name[fi]=Yleistä
Name[fr]=Général
Name[ga]=Ginearálta
Name[gl]=Xeral
Name[hu]=Általános
Name[it]=Generale
Name[nl]=Algemeen
Name[pl]=Ogólne
Name[pt]=Geral
Name[pt_BR]=Geral
Name[sk]=Všeobecné
Name[sl]=Splošno
Name[sv]=Allmänt
Name[uk]=Загальне
Name[x-test]=xxGeneralxx
Name[zh_CN]=常规
Name[zh_TW]=一般

Comment=Configuration of the general Options of Simon
Comment[ca]=Configuració de les opcions generals per a Simon
Comment[ca@valencia]=Configuració de les opcions generals per a Simon
Comment[da]=Konfiguration af Simons generelle indstillinger
Comment[de]=Allgemeine Konfiguration von Simon
Comment[el]=Διαμόρφωση των γενικών επιλογών του Simon
Comment[es]=Configuración de las opciones generales de Simon
Comment[et]=Simoni üldised seadistused
Comment[fi]=Simonin yleisvalitsinasetukset
Comment[gl]=Configuración das opcións xerais de Simon.
Comment[hu]=A Simon általános beállításainak konfigurálása
Comment[nl]=Configuratie van de algemene opties van Simon
Comment[pl]=Konfiguracja ogólnych opcji Simona
Comment[pt]=Configuração das opções gerais do Simon
Comment[pt_BR]=Configuração das opções gerais do Simon
Comment[sk]=Nastavenie všeobecných volieb Simon
Comment[sl]=Nastavitve splošnih zmožnosti Simon
Comment[sv]=Inställning av Simons allmänna alternativ
Comment[uk]=Налаштування загальних параметрів роботи Simon
Comment[x-test]=xxConfiguration of the general Options of Simonxx
Comment[zh_TW]=Simon 一般選項設定

