[Desktop Entry]
Type=Service
Icon=network-connect
ServiceTypes=simon/CommandPlugin
X-KDE-Library=simondbuscommandplugin
Name=Simon D-Bus Command Plugin
Comment=Provides a way to create interfaces to other applications through D-Bus

X-KDE-PluginInfo-Author=Peter Grasch
X-KDE-PluginInfo-Email=kde-accessibility@kde.org
X-KDE-PluginInfo-Name=simondbuslugin
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://userbase.kde.org/Simon
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
X-KDE-ParentApp=simon
