[Desktop Entry]
Type=Service
Icon=network-connect
ServiceTypes=simon/CommandPlugin
X-KDE-Library=simondbuscommandplugin
Name=simon D-Bus Command Plugin
Name[ca]=Connector d'ordres de D-Bus per a «simon»
Name[de]=D-Bus-Befehlsmodul für Simon
Name[el]=Πρόσθετο εντολών D-Bus του simon
Name[et]=Simoni D-Busi käsuplugin
Name[fi]=simon D-Bus-komentoliitännäinen
Name[fr]=Module externe de commande via D-Bus
Name[gl]=Engadido de ordes de D-Bus do simon
Name[nl]=Plugin van simon D-Bus-commando
Name[pl]=Wtyczka poleceń D-Bus dla simon
Name[pt]='Plugin' de Comandos de DBus do Simon
Name[pt_BR]=Plugin de comandos de D-Bus do simon
Name[sl]=Ukazni vstavek simon D-Bus
Name[sv]=Simon D-Bus kommandoinsticksprogram
Name[uk]=Додаток команд D-Bus simon
Name[x-test]=xxsimon D-Bus Command Pluginxx
Comment=Provides a way to create interfaces to other applications through D-Bus
Comment[ca]=Proporciona una manera per crear interfícies amb altres aplicacions a través de D-Bus
Comment[de]=Bietet die Möglichkeit, über D-Bus Schnittstellen zu anderen Anwendungen zu erstellen
Comment[el]=Παρέχει τρόπο δημιουργίας διεπαφών χρήστη με άλλες εφαρμογές μέσω D-Bus
Comment[et]=Võimalus luua liideseid teistele rakendustele D-Busi vahendusel
Comment[fi]=Tarjoaa tavan luoda rajapintoja muihin sovelluksiin D-Bus-väylän kautta
Comment[fr]=Fournit un moyen pour créer des interfaces à d'autres applications via D-Bus
Comment[gl]=Fornece unha maneira de crear interfaces para outros aplicativos mediante D-Bus
Comment[it]=Fornisce un modo per interfacciarsi ad altre applicazioni tramite D-Bus
Comment[nl]=Biedt een manier om interfaces te maken naar andere toepassingen via D-Bus
Comment[pl]=Zapewnia sposób utworzenia interfejsu do innych programów przez D-Bus
Comment[pt]=Oferece uma forma de criar interfaces para outras aplicações com o DBus
Comment[pt_BR]=Oferece uma forma de criar interfaces para outros aplicativos através do D-Bus
Comment[sl]=Ponuja način za ustvarjanje vmesnikov drugim programom preko D-Bus
Comment[sv]=Erbjuder ett sätt att skapa gränssnitt till andra program via D-Bus
Comment[uk]=Забезпечує роботу з іншими програмами за допомогою D-Bus
Comment[x-test]=xxProvides a way to create interfaces to other applications through D-Busxx

X-KDE-PluginInfo-Author=Peter Grasch
X-KDE-PluginInfo-Email=kde-accessibility@kde.org
X-KDE-PluginInfo-Name=simondbuslugin
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://userbase.kde.org/Simon
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
X-KDE-ParentApp=simon
