[Desktop Entry]
Name=simonoid
Name[ast]=simonoid
Name[bg]=simonoid
Name[ca]=simonoid
Name[ca@valencia]=simonoid
Name[cs]=simonoid
Name[da]=simonoid
Name[de]=simonoid
Name[el]=simonoid
Name[en_GB]=simonoid
Name[eo]=simonoid
Name[es]=simonoid
Name[et]=simonoid
Name[fi]=simonoid
Name[fr]=simonoid
Name[ga]=simonoid
Name[gl]=simonoid
Name[hu]=simonoid
Name[it]=simonoid
Name[ja]=simonoid
Name[kk]=simonoid
Name[km]=simonoid
Name[ko]=simonoid
Name[lv]=simonoid
Name[nb]=simonoid
Name[nds]=simonoid
Name[nl]=simonoid
Name[nn]=simonoid
Name[pa]=simonoid
Name[pl]=simonoid
Name[pt]=simonoid
Name[pt_BR]=simonoid
Name[ro]=simonoid
Name[ru]=simonoid
Name[sr]=simonoid
Name[sr@ijekavian]=simonoid
Name[sr@ijekavianlatin]=simonoid
Name[sr@latin]=simonoid
Name[sv]=simonoid
Name[tr]=simonoid
Name[uk]=simonoid
Name[x-test]=xxsimonoidxx
Name[zh_CN]=simonoid
Name[zh_TW]=simonoid
Comment=Plasma simonoid
Comment[ast]=Plasma simonoid
Comment[ca]=Plasma simonoid
Comment[ca@valencia]=Plasma simonoid
Comment[cs]=Plasma simonoid
Comment[da]=Plasma simonoid
Comment[de]=Plasma simonoid
Comment[el]=Plasma simonoid
Comment[en_GB]=Plasma simonoid
Comment[eo]=Plasma simonoid
Comment[es]=Plasma simonoid
Comment[et]=Plasma simonoid
Comment[fi]=Plasma simonoid
Comment[fr]=Plasma simonoid
Comment[ga]=Plasma simonoid
Comment[gl]=Plasma simonoid
Comment[hu]=Plasma simonoid
Comment[it]=Plasma simonoid
Comment[ja]=Plasma simonoid
Comment[kk]=Plasma simonoid
Comment[km]=ប្លាស្មា simonoid
Comment[ko]=Plasma simonoid
Comment[lv]=Plasma simonoid
Comment[nb]=Plasma simonoid
Comment[nds]=Plasma simonoid
Comment[nl]=Plasma simonoid
Comment[nn]=Plasma simonoid
Comment[pa]=ਪਲਾਜ਼ਮਾ simonoid
Comment[pl]=Plazma simonoid
Comment[pt]=Plasma simonoid
Comment[pt_BR]=Plasma simonoid
Comment[ro]=Plasma simonoid
Comment[ru]=Plasma simonoid
Comment[sr]=Плазмин simonoid
Comment[sr@ijekavian]=Плазмин simonoid
Comment[sr@ijekavianlatin]=Plasmin simonoid
Comment[sr@latin]=Plasmin simonoid
Comment[sv]=Plasma simonoid
Comment[tr]=Plasma simonoid
Comment[uk]=Плазма simonoid
Comment[x-test]=xxPlasma simonoidxx
Comment[zh_CN]=Plasma simonoid
Comment[zh_TW]=Plasma simonoid
Type=Service

X-KDE-ServiceTypes=Plasma/Applet
X-KDE-Library=plasma_applet_simonoid
X-KDE-PluginInfo-Author=%{AUTHOR}
X-KDE-PluginInfo-Email=%{EMAIL}
X-KDE-PluginInfo-Name=simonoid
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true

