[Desktop Entry]
Name=simonoid2
Name[ast]=simonoid2
Name[bg]=simonoid2
Name[ca]=simonoid2
Name[ca@valencia]=simonoid2
Name[cs]=simonoid2
Name[da]=simonoid2
Name[de]=simonoid2
Name[el]=simonoid2
Name[en_GB]=simonoid2
Name[eo]=simonoid2
Name[es]=simonoid2
Name[et]=simonoid2
Name[fi]=simonoid2
Name[fr]=simonoid2
Name[ga]=simonoid2
Name[gl]=simonoid2
Name[hu]=simonoid2
Name[it]=simonoid2
Name[ja]=simonoid2
Name[kk]=simonoid2
Name[km]=simonoid2
Name[ko]=simonoid2
Name[lv]=simonoid2
Name[nb]=simonoid2
Name[nds]=simonoid2
Name[nl]=simonoid2
Name[nn]=simonoid2
Name[pa]=simonoid2
Name[pl]=simonoid2
Name[pt]=simonoid2
Name[pt_BR]=simonoid2
Name[ro]=simonoid2
Name[ru]=simonoid2
Name[sr]=simonoid2
Name[sr@ijekavian]=simonoid2
Name[sr@ijekavianlatin]=simonoid2
Name[sr@latin]=simonoid2
Name[sv]=simonoid2
Name[tr]=simonoid2
Name[uk]=simonoid2
Name[x-test]=xxsimonoid2xx
Name[zh_CN]=simonoid2
Name[zh_TW]=simonoid2
Comment=Plasma simonoid2
Comment[ast]=Plasma simonoid2
Comment[ca]=Plasma simonoid2
Comment[ca@valencia]=Plasma simonoid2
Comment[cs]=Plasma simonoid2
Comment[da]=Plasma simonoid2
Comment[de]=Plasma simonoid2
Comment[el]=Plasma simonoid2
Comment[en_GB]=Plasma simonoid2
Comment[eo]=Plasma simonoid2
Comment[es]=Plasma simonoid2
Comment[et]=Plasma simonoid2
Comment[fi]=Plasma simonoid2
Comment[fr]=Plasma simonoid2
Comment[ga]=Plasma simonoid2
Comment[gl]=Plasma simonoid2
Comment[hu]=Plasma simonoid2
Comment[it]=Plasma simonoid2
Comment[ja]=Plasma simonoid2
Comment[kk]=Plasma simonoid2
Comment[km]=ប្លាស្មា simonoid2
Comment[ko]=Plasma simonoid2
Comment[lv]=Plasma simonoid2
Comment[nb]=Plasma simonoid2
Comment[nds]=Plasma simonoid2
Comment[nl]=Plasma simonoid2
Comment[nn]=Plasma simonoid2
Comment[pa]=ਪਲਾਜ਼ਮਾ simonoid2
Comment[pl]=Plazma simonoid2
Comment[pt]=Plasma simonoid2
Comment[pt_BR]=Plasma simonoid2
Comment[ro]=Plasma simonoid2
Comment[ru]=Plasma simonoid2
Comment[sr]=Плазмин simonoid2
Comment[sr@ijekavian]=Плазмин simonoid2
Comment[sr@ijekavianlatin]=Plasmin simonoid2
Comment[sr@latin]=Plasmin simonoid2
Comment[sv]=Plasma simonoid2
Comment[tr]=Plasma simonoid2
Comment[uk]=Плазма simonoid2
Comment[x-test]=xxPlasma simonoid2xx
Comment[zh_CN]=Plasma simonoid2
Comment[zh_TW]=Plasma simonoid2
Type=Service

X-KDE-ServiceTypes=Plasma/Applet
X-KDE-Library=plasma_applet_simonoid2
X-KDE-PluginInfo-Author=%{AUTHOR}
X-KDE-PluginInfo-Email=%{EMAIL}
X-KDE-PluginInfo-Name=simonoid2
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true

