[Desktop Entry]
Name=Simonoid
Name[bs]=Simonoid
Name[ca]=Simonoid
Name[ca@valencia]=Simonoid
Name[cs]=Simonoid
Name[da]=Simonoid
Name[de]=Simonoid
Name[el]=Simonoid
Name[en_GB]=Simonoid
Name[es]=Simonoid
Name[fi]=Simonoid
Name[fr]=Simonoid
Name[ga]=Simonoid
Name[gl]=Simonoid
Name[hu]=Simonoid
Name[it]=Simonoide
Name[kk]=Simonoid
Name[nl]=Simonoid
Name[pl]=Simonoid
Name[pt]=Simonóide
Name[pt_BR]=Simonoide
Name[sk]=Simonoid
Name[sl]=Simonoid
Name[sv]=Simonoid
Name[uk]=Саймоноїд
Name[x-test]=xxSimonoidxx
Name[zh_TW]=Simonoid
Comment=Plasma Simonoid
Comment[bs]=Plazma Simonoid
Comment[ca]=Plasma Simonoid
Comment[ca@valencia]=Plasma Simonoid
Comment[cs]=Plasma Simonoid
Comment[da]=Plasma Simonoid
Comment[de]=Plasma Simonoid
Comment[el]=Plasma Simonoid
Comment[en_GB]=Plasma Simonoid
Comment[es]=Plasma Simonoid
Comment[fi]=Plasma Simonoid
Comment[fr]=« Simonoid » pour Plasma
Comment[ga]=Plasma Simonoid
Comment[gl]=Simonoid para Plasma.
Comment[hu]=Plasma Simonoid
Comment[it]=Simonoide di Plasma
Comment[kk]=Plasma Simonoid
Comment[nl]=Plasma Simonoid
Comment[pl]=Plazma Simonoid
Comment[pt]=Plasmóide do Simon
Comment[pt_BR]=Plasmoide do Simon
Comment[sk]=Plasma Simonoid
Comment[sl]=Plasma Simonoid
Comment[sv]=Plasma Simonoid
Comment[uk]=Саймоноїд Плазми
Comment[x-test]=xxPlasma Simonoidxx
Comment[zh_TW]=Plasma Simonoid
Type=Service
Icon=simon

X-KDE-ServiceTypes=Plasma/Applet
X-KDE-Library=plasma_applet_simonoid
X-KDE-PluginInfo-Author=Manfred Scheucher, Peter Grasch
X-KDE-PluginInfo-Email=deadalps@gmail.com, peter.grasch@bedahr.org
X-KDE-PluginInfo-Name=simonoid
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true

