[Desktop Entry]
Name=Simonoid
Name[ca]=Simonoid
Name[cs]=Simonoid
Name[da]=Simonoid
Name[de]=Simonoid
Name[el]=Simonoid
Name[et]=Simonoid
Name[ga]=Simonoid
Name[gl]=Simonoid
Name[hu]=Simonoid
Name[nl]=Simonoid
Name[pl]=Simonoid
Name[pt]=Simonóide
Name[pt_BR]=Simonoide
Name[sv]=Simonoid
Name[uk]=Саймоноїд
Name[x-test]=xxSimonoidxx
Comment=Plasma Simonoid
Comment[ca]=Plasma Simonoid
Comment[da]=Plasma Simonoid
Comment[de]=Plasma Simonoid
Comment[el]=Plasma Simonoid
Comment[et]=Plasma simonoid
Comment[ga]=Plasma Simonoid
Comment[gl]=Simonoid para Plasma.
Comment[hu]=Plasma Simonoid
Comment[nl]=Plasma Simonoid
Comment[pl]=Plazma Simonoid
Comment[pt]=Plasmóide do Simon
Comment[pt_BR]=Plasmoide do Simon
Comment[sv]=Plasma Simonoid
Comment[uk]=Саймоноїд Плазми
Comment[x-test]=xxPlasma Simonoidxx
Type=Service
Icon=simon

X-KDE-ServiceTypes=Plasma/Applet
X-KDE-Library=plasma_applet_simonoid
X-KDE-PluginInfo-Author=Manfred Scheucher, Peter Grasch
X-KDE-PluginInfo-Email=deadalps@gmail.com, peter.grasch@bedahr.org
X-KDE-PluginInfo-Name=simonoid
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true

