[Desktop Entry]
Type=Service
Icon=input-keyboard
ServiceTypes=simon/CommandPlugin
X-KDE-Library=simonshortcutcommandplugin
Name=simon ShortcutCommand Plugin
Name[ca]=Connector d'ordres de drecera per a «simon»
Name[el]=Πρόσθετο ShortcutCommand του simon
Name[et]=Simoni kiirklahvide käsuplugin
Name[fi]=simon ShortcutCommand-liitännäinen
Name[fr]=Module externe de commandes de raccourcis pour simon
Name[gl]=Engadido de ordes de atallo do simon
Name[it]=Estensione simon per il comando scorciatoie
Name[nl]=Plug-in voor simon ShortcutCommand
Name[pl]=Wtyczka PoleceniaSkrótu simon
Name[pt]='Plugin' de Comandos de Atalhos do Simon
Name[pt_BR]=Plugin de comandos de atalhos do simon
Name[sv]=Simon insticksprogram för genvägskommandon
Name[uk]=Додаток команд скорочень simon
Name[x-test]=xxsimon ShortcutCommand Pluginxx
Comment=Activate shortcuts
Comment[ca]=Activa les dreceres
Comment[de]=Kurzbefehle aktivieren
Comment[el]=Ενεργοποιεί συντομεύσεις
Comment[es]=Activar accesos rápidos de teclado
Comment[et]=Kiirklahvide kasutamine
Comment[fi]=Aktivoi pikanäppäimet
Comment[fr]=Active les raccourcis
Comment[gl]=Activar atallos
Comment[it]=Attiva le scorciatoie da tastiera
Comment[nl]=Actieve sneltoetsen
Comment[pl]=Aktywuj skróty
Comment[pt]=Activar atalhos
Comment[pt_BR]=Ativar atalhos
Comment[sv]=Aktivera genvägar
Comment[uk]=Задіяти скорочення
Comment[x-test]=xxActivate shortcutsxx

X-KDE-PluginInfo-Author=Peter Grasch
X-KDE-PluginInfo-Email=grasch@simon-listens.org
X-KDE-PluginInfo-Name=simonshortcutcommandplugin
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://simon-listens.org
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-ParentApp=simon
