[Desktop Entry]
Type=Service
Icon=input-keyboard
ServiceTypes=simon/CommandPlugin
X-KDE-Library=simonshortcutcommandplugin
Name=Simon ShortcutCommand Plugin
Name[ca]=Connector per a ordres de drecera del Simon
Name[ca@valencia]=Connector per a ordes de drecera del Simon
Name[da]=Simon-plugin til genvejskommandoer
Name[de]=Tastenkürzel-Modul für Simon
Name[el]=Πρόσθετο ShortcutCommand για το Simon
Name[es]=Complemento de accesos rápidos de órdenes de Simon
Name[et]=Simoni kiirklahvide käsuplugin
Name[fi]=Simon ShortcutCommand-liitännäinen
Name[gl]=Complemento de ordes de atallo para Simon
Name[hu]=Simon gyorsbillentyű parancs bővítmény
Name[nl]=Plug-in voor Simon ShortcutCommand
Name[pl]=Wtyczka PoleceniaSkrótu Simon
Name[pt]='Plugin' de Comandos de Atalhos do Simon
Name[pt_BR]=Plugin de comandos de atalhos do Simon
Name[sl]=Vstavek Simon za bližnjične ukaze
Name[sv]=Simon insticksprogram för genvägskommandon
Name[uk]=Додаток команд скорочень Simon
Name[x-test]=xxSimon ShortcutCommand Pluginxx
Name[zh_TW]=Simon 捷徑指令外掛程式
Comment=Activate shortcuts
Comment[ca]=Activa les dreceres
Comment[ca@valencia]=Activa les dreceres
Comment[cs]=Zapnout klávesové zkratky
Comment[da]=Aktivér genveje
Comment[de]=Kurzbefehle aktivieren
Comment[el]=Ενεργοποιεί συντομεύσεις
Comment[es]=Activar accesos rápidos de teclado
Comment[et]=Kiirklahvide kasutamine
Comment[fi]=Aktivoi pikanäppäimet
Comment[fr]=Active les raccourcis
Comment[gl]=Activar atallos
Comment[hu]=Gyorsbillentyűk aktiválása
Comment[it]=Attiva le scorciatoie da tastiera
Comment[nl]=Actieve sneltoetsen
Comment[pl]=Aktywuj skróty
Comment[pt]=Activar atalhos
Comment[pt_BR]=Ativar atalhos
Comment[sk]=Aktivovať skratky
Comment[sl]=Omogočite bližnjice
Comment[sv]=Aktivera genvägar
Comment[uk]=Задіяти скорочення
Comment[x-test]=xxActivate shortcutsxx
Comment[zh_TW]=啟動捷徑

X-KDE-PluginInfo-Author=Peter Grasch
X-KDE-PluginInfo-Email=peter.grasch@bedahr.org
X-KDE-PluginInfo-Name=simonshortcutcommandplugin
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://userbase.kde.org/Simon
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-ParentApp=simon
