[Desktop Entry]
Type=Service
Icon=accessories-calculator
ServiceTypes=simon/CommandPlugin
X-KDE-Library=simoncalculatorplugin
Name=Simon Calculator Command Plugin
Name[ca]=Connector d'ordres de calculadora per a Simon
Name[da]=Simon-plugin til kontrol af en regnemaskine
Name[de]=Taschenrechner-Befehlsmodul für Simon
Name[el]=Πρόσθετο εντολών αριθμομηχανής για το Simon
Name[et]=Simoni kalkulaatori käsuplugin
Name[hu]=Simon számológép parancs bővítmény
Name[nl]=Commando-plug-in voor Simon Calculator
Name[pt]='Plugin' de Comandos da Calculadora do Simon
Name[pt_BR]=Plugin de comandos da calculadora do Simon
Name[sv]=Simon kommandoinsticksprogram för miniräknare
Name[uk]=Додаток команд калькулятора Simon
Name[x-test]=xxSimon Calculator Command Pluginxx
Comment=Provides a voice-controllable user interface
Comment[ca]=Proporciona una interfície d'usuari controlable per veu
Comment[da]=Giver en brugerflade, som kan kontrolleres med stemmen
Comment[de]=Bietet eine sprachgesteuerte Benutzeroberfläche
Comment[el]=Παρέχει μια διεπαφή χρήστη με έλεγχο φωνής
Comment[et]=Hääljuhitav kasutajaliides
Comment[fi]=Tarjoaa ääniohjattavan käyttöliittymän
Comment[fr]=Fournit une interface pouvant être commandée à la voix
Comment[gl]=Fornece unha interface de usuario controlábel coa voz
Comment[it]=Fornisce un'interfaccia utente controllabile con la voce
Comment[nl]=Levert een gebruikersinterface met stembesturing
Comment[pl]=Zapewnia interfejs użytkownika sterowany głosem
Comment[pt]=Oferece uma interface de utilizador controlada pela voz
Comment[pt_BR]=Oferece uma interface de usuário controlada pela voz
Comment[ro]=Furnizează o interfață cu utilizatorul controlabilă prin voce
Comment[sl]=Ponuja glasovno nadzorovan uporabniški vmesnik
Comment[sv]=Tillhandahåller ett röststyrt användargränssnitt
Comment[uk]=Надає інтерфейс користувача з керуванням за допомогою голосу
Comment[x-test]=xxProvides a voice-controllable user interfacexx

X-KDE-PluginInfo-Author=Dominik Neumeister
X-KDE-PluginInfo-Email=domar@gmx.at
X-KDE-PluginInfo-Name=simoncalculatorplugin
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://userbase.kde.org/Simon
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-ParentApp=simon
