[Desktop Entry]
Type=Service
Icon=accessories-calculator
ServiceTypes=simon/CommandPlugin
X-KDE-Library=simoncalculatorplugin
Name=Simon Calculator Command Plugin
Comment=Provides a voice-controllable user interface

X-KDE-PluginInfo-Author=Dominik Neumeister
X-KDE-PluginInfo-Email=domar@gmx.at
X-KDE-PluginInfo-Name=simoncalculatorplugin
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://userbase.kde.org/Simon
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-ParentApp=simon
