[Desktop Entry]
Type=Service
Icon=accessories-calculator
ServiceTypes=simon/CommandPlugin
X-KDE-Library=simoncalculatorplugin
Name=Simon Calculator Command Plugin
Name[bs]=Simon Dodatak za Naredbe u Kalkulatoru
Name[ca]=Connector per a ordres de calculadora del Simon
Name[ca@valencia]=Connector per a ordes de calculadora del Simon
Name[cs]=Modul příkazů pro kalkulačku pro Simon
Name[da]=Simon-plugin til kontrol af en regnemaskine
Name[de]=Taschenrechner-Befehlsmodul für Simon
Name[el]=Πρόσθετο εντολών αριθμομηχανής για το Simon
Name[es]=Complemento de órdenes de calculadora Simon
Name[et]=Simoni kalkulaatori käsuplugin
Name[fi]=Simon laskinkomentoliitännäinen
Name[fr]=Module externe de commande de calculatrice pour « Simon »
Name[gl]=Complemento de ordes de Calculator para Simon
Name[hu]=Simon számológép parancs bővítmény
Name[it]=Estensione Simon per il comando della calcolatrice
Name[kk]=Simon калькуляторының командалар плагині
Name[nl]=Commando-plug-in voor Simon Calculator
Name[pl]=Wtyczka poleceń kalkulatora dla Simon
Name[pt]='Plugin' de Comandos da Calculadora do Simon
Name[pt_BR]=Plugin de comandos da calculadora do Simon
Name[sk]=Plugin príkazu kalkulačky Simon
Name[sl]=Ukazni vstavek za Simon Računalo
Name[sv]=Simon kommandoinsticksprogram för miniräknare
Name[uk]=Додаток команд калькулятора Simon
Name[x-test]=xxSimon Calculator Command Pluginxx
Name[zh_TW]=Simon 計算機指令外掛程式
Comment=Provides a voice-controllable user interface
Comment[bs]=Pruža glasom upravljivo korisničko sučelje
Comment[ca]=Proporciona una interfície d'usuari controlable per veu
Comment[ca@valencia]=Proporciona una interfície d'usuari controlable per veu
Comment[cs]=Poskytuje hlasem ovládané uživatelské rozhraní
Comment[da]=Giver en brugerflade, som kan kontrolleres med stemmen
Comment[de]=Bietet eine sprachgesteuerte Benutzeroberfläche
Comment[el]=Παρέχει μια διεπαφή χρήστη με έλεγχο φωνής
Comment[es]=Proporciona una interfaz de usuario controlable por voz
Comment[et]=Hääljuhitav kasutajaliides
Comment[fi]=Tarjoaa ääniohjattavan käyttöliittymän
Comment[fr]=Fournit une interface utilisateur gérée par commande vocale
Comment[gl]=Fornece unha interface de usuario controlábel coa voz
Comment[hu]=Egy hang-vezérelt felhasználói felületet biztosít
Comment[it]=Fornisce un'interfaccia utente controllabile con la voce
Comment[kk]=Дауыспен басқару пайдаланушы интерфейсін қолдау мүмкіндігі
Comment[nl]=Levert een gebruikersinterface met stembesturing
Comment[pl]=Zapewnia interfejs użytkownika sterowany głosem
Comment[pt]=Oferece uma interface de utilizador controlada pela voz
Comment[pt_BR]=Oferece uma interface de usuário controlada pela voz
Comment[ro]=Furnizează o interfață cu utilizatorul controlabilă prin voce
Comment[sk]=Poskytuje hlasom ovládané používateľské rozhranie
Comment[sl]=Ponuja glasovno nadzorovan uporabniški vmesnik
Comment[sv]=Tillhandahåller ett röststyrt användargränssnitt
Comment[uk]=Надає інтерфейс користувача з керуванням за допомогою голосу
Comment[x-test]=xxProvides a voice-controllable user interfacexx
Comment[zh_TW]=提供語音控制的使用者介面

X-KDE-PluginInfo-Author=Dominik Neumeister
X-KDE-PluginInfo-Email=domar@gmx.at
X-KDE-PluginInfo-Name=simoncalculatorplugin
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://userbase.kde.org/Simon
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-ParentApp=simon
