[Desktop Entry]
Type=Service
Icon=camera-web
X-KDE-ServiceTypes=KCModule
X-KDE-Library=webcamsettings


X-KDE-FactoryName=SimonWebcamConfigurationFactory
X-KDE-ParentComponents=libwebcamsettings

X-KDE-ParentApp=simon
X-KDE-System-Settings-Parent-Category=simon

X-KDE-PluginKeyword=SimonWebcamConfiguration

Name=Webcam Configuration
Name[ca]=Configuració càmera web
Name[ca@valencia]=Configuració càmera web
Name[cs]=Nastavení webové kamery
Name[da]=Konfiguration af webcam
Name[de]=Webcam-Einrichtung
Name[el]=Διαμόρφωση web κάμερας
Name[es]=Configuración de la cámara web
Name[et]=Veebikaamera seadistamine
Name[fi]=Web-kameran asetukset
Name[fr]=Configuration d'une webcam
Name[gl]=Configuración da cámara web
Name[hu]=Webkamera beállítás
Name[nl]=Configuratie voor de webcam
Name[pl]=Konfiguracja kamery internetowej
Name[pt]=Configuração da Webcam
Name[pt_BR]=Configuração da webcam
Name[sk]=Nastavenie web kamery
Name[sl]=Nastavitev spletne kamere
Name[sv]=Webbkamerainställning
Name[uk]=Налаштовування вебкамери
Name[x-test]=xxWebcam Configurationxx
Name[zh_TW]=網路攝影機設定

Comment=Configuration of the Webcam
Comment[ca]=Configuració de la càmera web
Comment[ca@valencia]=Configuració de la càmera web
Comment[cs]=Nastavení webové kamery
Comment[da]=Konfiguration af webcam
Comment[de]=Einrichtung einer Webcam
Comment[el]=Διαμόρφωση της web κάμερας
Comment[es]=Configuración de la cámara web
Comment[et]=Veebikaamera seadistamine
Comment[fr]=Configuration de la webcam
Comment[gl]=Configuración da cámara web.
Comment[hu]=A webkamera beállítása
Comment[nl]=Configuratie van de webcam
Comment[pl]=Konfiguracja kamery internetowej
Comment[pt]=Configuração da Webcam
Comment[pt_BR]=Configuração da webcam
Comment[sk]=Nastavenie webovej kamery
Comment[sl]=Nastavitev spletne kamere
Comment[sv]=Inställning av webbkameran
Comment[uk]=Керування налаштуваннями вебкамери
Comment[x-test]=xxConfiguration of the Webcamxx
Comment[zh_TW]=設定網路攝影機
