[Desktop Entry]
Type=Service
Icon=camera-web
X-KDE-ServiceTypes=KCModule
X-KDE-Library=webcamsettings


X-KDE-FactoryName=SimonWebcamConfigurationFactory
X-KDE-ParentComponents=libwebcamsettings

X-KDE-ParentApp=simon
X-KDE-System-Settings-Parent-Category=simon

X-KDE-PluginKeyword=SimonWebcamConfiguration

Name=Webcam Configuration
Name[ca]=Configuració càmera web
Name[de]=Webcam-Einrichtung
Name[el]=Διαμόρφωση web κάμερας
Name[et]=Veebikaamera seadistamine
Name[nl]=Configuratie voor de webcam
Name[pt]=Configuração da Webcam
Name[pt_BR]=Configuração da webcam
Name[sl]=Nastavitev spletne kamere
Name[uk]=Налаштовування вебкамери
Name[x-test]=xxWebcam Configurationxx

Comment=Configuration of the Webcam
Comment[ca]=Configuració de la càmera web
Comment[de]=Einrichtung einer Webcam
Comment[el]=Διαμόρφωση της web κάμερας
Comment[et]=Veebikaamera seadistamine
Comment[nl]=Configuratie van de webcam
Comment[pt]=Configuração da Webcam
Comment[pt_BR]=Configuração da webcam
Comment[sl]=Nastavitev spletne kamere
Comment[uk]=Керування налаштуваннями вебкамери
Comment[x-test]=xxConfiguration of the Webcamxx
