[Desktop Entry]
Type=Service
Icon=text-field
ServiceTypes=simon/ConditionPlugin
X-KDE-Library=simonfilecontentplugin
Name=simon File Content Plugin
Name[de]=Dateiinhaltemodul für Simon
Name[pt]='Plugin' de Conteúdo do Ficheiro do Simon
Name[pt_BR]=Plugin de conteúdo do arquivo do simon
Name[sv]=Simon insticksprogram för filinnehåll
Name[uk]=Додаток вмісту файлів simon
Name[x-test]=xxsimon File Content Pluginxx
Comment=Checks for the content of a file
Comment[de]=Prüft Dateien anhand ihres Inhalts
Comment[pt]=Procura pelo conteúdo de um ficheiro
Comment[pt_BR]=Procura pelo conteúdo de um arquivo
Comment[sv]=Kontrollerar innehållet i en fil
Comment[uk]=Перевірка вмісту файлів
Comment[x-test]=xxChecks for the content of a filexx

X-KDE-PluginInfo-Author=Peter Grasch
X-KDE-PluginInfo-Email=grasch@simon-listens.org
X-KDE-PluginInfo-Name=simonfilecontentplugin
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://simon-listens.org
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-ParentApp=simon
