[Desktop Entry]
Type=Service
Icon=text-field
ServiceTypes=simon/ConditionPlugin
X-KDE-Library=simonfilecontentplugin
Name=simon File Content Plugin
Name[ca]=Connector de contingut del fitxer per a «simon»
Name[de]=Dateiinhaltemodul für Simon
Name[el]=Πρόσθετο περιεχομένου αρχείου του simon
Name[et]=Simoni failisisu plugin
Name[fi]=simon tiedostosisältöliitännäinen
Name[fr]=Module externe de contenu de fichiers pour simon
Name[gl]=Engadido de contido de ficheiros do simon
Name[pl]=Wtyczka treści pliku simon
Name[pt]='Plugin' de Conteúdo do Ficheiro do Simon
Name[pt_BR]=Plugin de conteúdo do arquivo do simon
Name[sv]=Simon insticksprogram för filinnehåll
Name[uk]=Додаток вмісту файлів simon
Name[x-test]=xxsimon File Content Pluginxx
Comment=Checks for the content of a file
Comment[ca]=Comprova el contingut d'un fitxer
Comment[de]=Prüft Dateien anhand ihres Inhalts
Comment[el]=Ελέγχει για το περιεχόμενο ενός αρχείου
Comment[et]=Failisisu kontrollimine
Comment[fi]=Tarkistaa tiedoston sisällön
Comment[fr]=Vérifie le contenu d'un fichier
Comment[gl]=Comproba o contido dun ficheiro
Comment[pl]=Sprawdza treść pliku
Comment[pt]=Procura pelo conteúdo de um ficheiro
Comment[pt_BR]=Procura pelo conteúdo de um arquivo
Comment[sv]=Kontrollerar innehållet i en fil
Comment[uk]=Перевірка вмісту файлів
Comment[x-test]=xxChecks for the content of a filexx

X-KDE-PluginInfo-Author=Peter Grasch
X-KDE-PluginInfo-Email=grasch@simon-listens.org
X-KDE-PluginInfo-Name=simonfilecontentplugin
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://simon-listens.org
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-ParentApp=simon
