[Desktop Entry]
Type=Service
Icon=view-pim-news
X-KDE-ServiceTypes=KCModule
X-KDE-Library=libsimonmodelmanagement

X-KDE-FactoryName=trainingsettingsfactory
X-KDE-ParentComponents=libsimonmodelmanagement

X-KDE-ParentApp=simon
X-KDE-System-Settings-Parent-Category=simon


Name=Training
Name[de]=Training

Comment=Configuration of simons Training
Comment[de]=Konfiguration des Trainings von simon