[Desktop Entry]
Type=Service
Icon=network-connect
ServiceTypes=simon/CommandPlugin
X-KDE-Library=simonjsoncommandplugin
Name=simon JSON Command Plugin
Comment=Provides a way to create interface to other applications through JSON

X-KDE-PluginInfo-Author=Peter Grasch
X-KDE-PluginInfo-Email=support@simon-listens.org
X-KDE-PluginInfo-Name=simonjsonlugin
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://simon-listens.org
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
X-KDE-ParentApp=simon
