[Desktop Entry]
Type=Service
Icon=network-connect
ServiceTypes=simon/CommandPlugin
X-KDE-Library=simonjsoncommandplugin
Name=Simon JSON Command Plugin
Name[ca]=Connector per a ordres de JSON del Simon
Name[ca@valencia]=Connector per a ordes de JSON del Simon
Name[cs]=Modul příkazů pro JSON pro Simon
Name[da]=Simon-plugin til JSON-kommandoer
Name[de]=JSON-Befehlsmodul für Simon
Name[el]=Πρόσθετο εντολών JSON για το Simon
Name[es]=Complemento de órdenes JSON de Simon
Name[et]=Simoni JSON-i käsuplugin
Name[fi]=Simon JSON-komentoliitännäinen
Name[fr]=Module externe de commandes JSON pour Simon
Name[gl]=Complemento de ordes de JSON para Simon
Name[hu]=Simon JSON parancs bővítmény
Name[nl]=Commando-plugin van Simon JSON
Name[pl]=Wtyczka poleceń Json dla Simon
Name[pt]='Plugin' de Comandos JSON do Simon
Name[pt_BR]=Plugin de comando JSON do Simon
Name[sk]=Plugin JSON príkazu Simon
Name[sl]=Ukazni vstavek Simon za JSON
Name[sv]=Simon JSON kommandoinsticksprogram
Name[uk]=Додаток команд JSON Simon
Name[x-test]=xxSimon JSON Command Pluginxx
Name[zh_TW]=Simon JSON 指令外掛程式
Comment=Provides a way to create interface to other applications through JSON
Comment[ca]=Proporciona una manera per crear interfícies amb altres aplicacions a través de JSON
Comment[ca@valencia]=Proporciona una manera per crear interfícies amb altres aplicacions a través de JSON
Comment[cs]=Nabízí možnost vytvořit rozhraní k jiným programům přes JSON
Comment[da]=Giver en måde at oprette brugerflader til andre programmer ved hjælp af JSON
Comment[de]=Bietet die Möglichkeit, über JSON Schnittstellen zu anderen Anwendungen zu erstellen
Comment[el]=Παρέχει τρόπο δημιουργίας διεπαφής με άλλες εφαρμογές μέσω JSON
Comment[es]=Proporciona un modo de crear una interfaz a otras aplicaciones mediante JSON
Comment[et]=Võimalus luua liides teistele rakendustele JSON-i vahendusel
Comment[fi]=Tarjoaa tavan luoda rajapintoja muihin sovelluksiin JSON-yhteyskäytännön kautta
Comment[fr]=Fournit un moyen de créer une interface à d'autres applications via JSON
Comment[gl]=Fornece unha maneira de crear interfaces para outros aplicativos mediante JSON
Comment[it]=Fornisce un modo per interfacciarsi ad altre applicazioni tramite JSON
Comment[nl]=Biedt een manier om interfaces te maken naar andere toepassingen via JSON
Comment[pl]=Zapewnia sposób utworzenia interfejsu do innych programów przez JSON
Comment[pt]=Oferece uma forma de criar uma interface com outras aplicações através do JSON
Comment[pt_BR]=Oferece uma forma de criar uma interface para outros aplicativos através do JSON
Comment[sk]=Poskytuje spôsob na vytvorenie rozhrania pre iné aplikácie cez JSON
Comment[sl]=Ponuja način za ustvarjanje vmesnika drugim programom preko JSON
Comment[sv]=Erbjuder ett sätt att skapa gränssnitt till andra program via JSON
Comment[uk]=Забезпечує роботу з іншими програмами за допомогою JSON
Comment[x-test]=xxProvides a way to create interface to other applications through JSONxx
Comment[zh_TW]=提供一個透過 JSON 與其他應用程式互動的介面的方式

X-KDE-PluginInfo-Author=Peter Grasch
X-KDE-PluginInfo-Email=kde-accessibility@kde.org
X-KDE-PluginInfo-Name=simonjsonlugin
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://userbase.kde.org/Simon
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
X-KDE-ParentApp=simon
