[Desktop Entry]
Type=Service
Icon=network-connect
ServiceTypes=simon/CommandPlugin
X-KDE-Library=simonjsoncommandplugin
Name=simon JSON Command Plugin
Name[pt]='Plugin' de Comando JSON do Simon
Name[pt_BR]=Plugin de comando Json do simon
Name[uk]=Додаток команд JSON simon
Name[x-test]=xxsimon Json Command Pluginxx
Comment=Provides a way to create interface to other applications through JSON
Comment[pt]=Oferece uma forma de criar uma interface com outras aplicações através do JSON
Comment[pt_BR]=Oferece uma forma de criar uma interface para outros aplicativos através do JSON
Comment[uk]=Забезпечує роботу з іншими програмами за допомогою JSON
Comment[x-test]=xxProvides a way to create interface to other applications through JSONxx

X-KDE-PluginInfo-Author=Peter Grasch
X-KDE-PluginInfo-Email=support@simon-listens.org
X-KDE-PluginInfo-Name=simonjsonlugin
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://simon-listens.org
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
X-KDE-ParentApp=simon
