[Desktop Entry]
Type=Service
Icon=text-field
ServiceTypes=simon/CommandPlugin
X-KDE-Library=simondictationcommandplugin
Name=Simon Dictation Plugin
Name[ca]=Connector per a dictat del Simon
Name[da]=Simon-plugin til diktat
Name[de]=Diktat-Modul für Simon
Name[el]=Πρόσθετο υπαγόρευσης για το Simon
Name[es]=Complemento de dictado de Simon
Name[et]=Simoni dikteerimisplugin
Name[gl]=Complemento de ditado para Simon
Name[hu]=Simon diktálás bővítmény
Name[nl]=Plug-in voor Simon Dictation
Name[pl]=Wtyczka dyktowania Simon
Name[pt]='Plugin' de Ditados do Simon
Name[pt_BR]=Plugin de ditados do Simon
Name[sv]=Simon dikteringsinsticksprogram
Name[uk]=Додаток диктування Simon
Name[x-test]=xxSimon Dictation Pluginxx
Comment=Dictate Texts
Comment[ca]=Dicta textos
Comment[da]=Diktér tekster
Comment[de]=Texte diktieren
Comment[el]=Υπαγόρευση κειμένων
Comment[es]=Dicta textos
Comment[et]=Teksti dikteerimine
Comment[fi]=Sanele tekstejä
Comment[fr]=Dicte des textes
Comment[gl]=Ditar textos
Comment[hu]=Szövegek diktálása
Comment[it]=Detta testi
Comment[nl]=Dicteert teksten
Comment[pl]=Dyktuj teksty
Comment[pt]=Fazer ditados de texto
Comment[pt_BR]=Ditados de texto
Comment[ro]=Dictează texte
Comment[sl]=Narekujte besedila
Comment[sv]=Dikterar text
Comment[uk]=Диктування текстів
Comment[x-test]=xxDictate Textsxx

X-KDE-PluginInfo-Author=Peter Grasch
X-KDE-PluginInfo-Email=peter.grasch@bedahr.org
X-KDE-PluginInfo-Name=simondictationcommandplugin
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://userbase.kde.org/Simon
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
X-KDE-ParentApp=simon
