[Desktop Entry]
Type=Service
Icon=text-field
ServiceTypes=simon/CommandPlugin
X-KDE-Library=simondictationcommandplugin
Name=simon Dictation Plugin
Name[ca]=Connector de dictat per a «simon»
Name[de]=Diktat-Modul für Simon
Name[el]=Πρόσθετο υπαγόρευσης του simon
Name[et]=Simoni dikteerimisplugin
Name[fi]=simon saneluliitännäinen
Name[fr]=Module externe de commande de dictée pour simon
Name[gl]=Engadido de ditado do simon
Name[it]=Estensione simon per la dettatura
Name[nl]=Plug-in voor simon Dictation
Name[pl]=Wtyczka dyktowania simon
Name[pt]='Plugin' de Ditados do Simon
Name[pt_BR]=Plugin de ditados do simon
Name[sl]=Vstavek simon za Narek
Name[sv]=Simon dikteringsinsticksprogram
Name[uk]=Додаток диктування simon
Name[x-test]=xxsimon Dictation Pluginxx
Comment=Dictate Texts
Comment[ca]=Dicta textos
Comment[de]=Texte diktieren
Comment[el]=Υπαγόρευση κειμένων
Comment[et]=Teksti dikteerimine
Comment[fi]=Sanele tekstejä
Comment[fr]=Dicte des textes
Comment[gl]=Ditar textos
Comment[it]=Detta testi
Comment[nl]=Dicteert teksten
Comment[pl]=Dyktuj teksty
Comment[pt]=Fazer ditados de texto
Comment[pt_BR]=Ditados de texto
Comment[ro]=Dictează texte
Comment[sl]=Narekujte besedila
Comment[sv]=Dikterar text
Comment[uk]=Диктування текстів
Comment[x-test]=xxDictate Textsxx

X-KDE-PluginInfo-Author=Peter Grasch
X-KDE-PluginInfo-Email=peter.grasch@bedahr.org
X-KDE-PluginInfo-Name=simondictationcommandplugin
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://userbase.kde.org/Simon
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
X-KDE-ParentApp=simon
