[Desktop Entry]
Type=Service
Icon=im-user
ServiceTypes=simon/CommandPlugin
X-KDE-Library=simondialogcommandplugin
Name=Simon Dialog Command Plugin
Comment=Provides a way to create interactive dialogs with the user

X-KDE-PluginInfo-Author=Peter Grasch
X-KDE-PluginInfo-Email=kde-accessibility@kde.org
X-KDE-PluginInfo-Name=simondialogplugin
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://userbase.kde.org/Simon
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
X-KDE-ParentApp=simon
