[Desktop Entry]
Type=Service
Icon=im-user
ServiceTypes=simon/CommandPlugin
X-KDE-Library=simondialogcommandplugin
Name=Simon Dialog Command Plugin
Name[bs]=Simon Dodatak za Dijalog Komande
Name[ca]=Connector per a ordres de diàleg del Simon
Name[ca@valencia]=Connector per a ordes de diàleg del Simon
Name[cs]=Modul příkazů pro dialogy pro Simon
Name[da]=Simon-plugin til dialogkommandoer
Name[de]=Dialog-Befehlsmodul für Simon
Name[el]=Πρόσθετο εντολών διαλόγου για το Simon
Name[es]=Complemento de órdenes de diálogo de Simon
Name[et]=Simoni dialoogi käsuplugin
Name[fi]=Simon valintaikkunakomentoliitännäinen
Name[fr]=Module externe de commande de boîtes de dialogue pour « Simon »
Name[gl]=Complemento de ordes de diálogo para Simon
Name[hu]=Simon párbeszéd parancs bővítmény
Name[it]=Estensione Simon per il comando finestre
Name[kk]=Simon диалог командалар плагині
Name[nl]=Commando-plug-in voor Simon Dialog
Name[pl]=Wtyczka poleceń okna dialogowego dla Simon
Name[pt]='Plugin' de Comandos de Janelas do Simon
Name[pt_BR]=Plugin de comandos de janelas do Simon
Name[sk]=Plugin príkazu dialógu Simon
Name[sl]=Ukazni vstavek za Simon Pogovorno okno
Name[sv]=Simon kommandoinsticksprogram för dialogrutor
Name[uk]=Додаток діалогових команд Simon
Name[x-test]=xxSimon Dialog Command Pluginxx
Name[zh_TW]=Simon 對話框指令外掛程式
Comment=Provides a way to create interactive dialogs with the user
Comment[bs]=Pruža način za kreiranjem interaktivnih dijaloga sa korisnikom
Comment[ca]=Proporciona una manera per crear diàlegs interactius amb l'usuari
Comment[ca@valencia]=Proporciona una manera per crear diàlegs interactius amb l'usuari
Comment[cs]=Nabízí možnost vytvářet interaktivní dialogy s uživatelem
Comment[da]=Giver en måde at oprette interaktive dialoger med brugeren
Comment[de]=Bietet die Möglichkeit, interaktive Dialoge mit dem Benutzer zu erstellen
Comment[el]=Παρέχει τρόπο δημιουργίας διαδραστικών διαλόγων με τον χρήστη
Comment[es]=Proporciona un modo de crear diálogos interactivos con el usuario
Comment[et]=Võimalus luua kasutajaga interaktiivselt suhtlevaid dialooge
Comment[fi]=Tarjoaa tavan luoda vuorovaikutteisia valintaikkunoita käyttäjän kanssa
Comment[fr]=Fournit un moyen de création de boîtes de dialogue interactives avec l'utilisateur
Comment[gl]=Fornece unha maneira de crear diálogos interactivos co usuario
Comment[hu]=Egy módot ad interaktív párbeszédablakok létrehozására a felhasználóval
Comment[it]=Fornisce un modo per creare finestre interattive con l'utente
Comment[kk]=Пайдаланушымен интерактивті диалогтар құру мүмкіндігі
Comment[nl]=Levert manieren om interactieve dialogen met de gebruiker te maken
Comment[pl]=Zapewnia sposób utworzenia okien dialogowych interaktywnych z użytkownikiem
Comment[pt]=Oferece uma forma de criar janelas interactivas com o utilizador
Comment[pt_BR]=Oferece uma forma de criar janelas interativas com o usuário
Comment[sk]=Poskytuje spôsob na vytvorenie interaktívnych dialógov s používateľom
Comment[sl]=Ponuja pot za ustvarjanje vzajemnih pogovornih oken z uporabnikom
Comment[sv]=Erbjuder ett sätt att skapa interaktiva dialogrutor för användaren
Comment[uk]=Надає змогу створювати інтерактивні діалоги з користувачем
Comment[x-test]=xxProvides a way to create interactive dialogs with the userxx
Comment[zh_TW]=提供一個建立與使用者互動對話框的方法

X-KDE-PluginInfo-Author=Peter Grasch
X-KDE-PluginInfo-Email=kde-accessibility@kde.org
X-KDE-PluginInfo-Name=simondialogplugin
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://userbase.kde.org/Simon
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
X-KDE-ParentApp=simon
