[Desktop Entry]
Type=Service
Icon=im-user
ServiceTypes=simon/CommandPlugin
X-KDE-Library=simondialogcommandplugin
Name=simon Dialog Command Plugin
Name[de]=simon Dialog-Kommando Modul
Comment=Provides a way to create interactive dialogs with the user
Comment[de]=Bietet ein Möglichkeit interaktive Dialoge mit dem Benutzer abzuhalten

X-KDE-PluginInfo-Author=Peter Grasch
X-KDE-PluginInfo-Email=support@simon-listens.org
X-KDE-PluginInfo-Name=simondialogplugin
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://simon-listens.org
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
X-KDE-ParentApp=simon
