[Desktop Entry]
Type=Service
Icon=text-field
ServiceTypes=simon/ConditionPlugin
X-KDE-Library=simonactivewindowplugin
Name=Simon Active Window Plugin
Name[bs]=Simon dodatak za Aktivne Prozore
Name[ca]=Connector per a finestra activa del Simon
Name[ca@valencia]=Connector per a finestra activa del Simon
Name[cs]=Modul pro aktivní okna pro Simon
Name[da]=Simon-plugin til aktive vinduer
Name[de]=Aktives-Fenster-Modul für Simon
Name[el]=Πρόσθετο ενεργού παραθύρου για το Simon
Name[en_GB]=Simon Active Window Plugin
Name[es]=Complemento de activación de ventana de Simon
Name[fi]=Simon aktiivi-ikkunaliitännäinen
Name[fr]=Module externe de fenêtre active pour « Simon »
Name[gl]=Complemento de xanela activa para Simon
Name[hu]=Simon aktív ablak bővítmény
Name[it]=Estensione Simon per la finestra attiva
Name[kk]=Simon белсенді терезе плагині
Name[nl]=Plug-in voor Simon Active Window
Name[pl]=Wtyczka aktywnego okna Simon
Name[pt]='Plugin' da Janela Activa do Simon
Name[pt_BR]=Plugin da janela ativa do Simon
Name[sk]=Plugin aktívneho okna Simon
Name[sl]=Vstavek Simon za dejavno okno
Name[sv]=Simon insticksprogram för aktivt fönster
Name[uk]=Додаток активного вікна Simon
Name[x-test]=xxSimon Active Window Pluginxx
Name[zh_TW]=Simon 作用中視窗外掛程式
Comment=Checks for Active Window
Comment[bs]=Provjerava da li ima Aktivnih prozora
Comment[ca]=Comprova la finestra activa
Comment[ca@valencia]=Comprova la finestra activa
Comment[cs]=Kontroluje aktivní okna
Comment[da]=Tjekker aktive vinduer
Comment[de]=Erkennt aktive Fenster
Comment[el]=Ελέγχει για ενεργό παράθυρο
Comment[en_GB]=Checks for Active Window
Comment[es]=Comprueba la ventana activa
Comment[fi]=Tarkistaa aktiivi-ikkunan
Comment[fr]=Vérifie la fenêtre active
Comment[gl]=Comproba cal é a xanela activa
Comment[hu]=Aktív ablakokat ellenőriz
Comment[it]=Controlla la finestra attiva
Comment[kk]=Терезені белсендету
Comment[nl]=Controleert op een actief venster
Comment[pl]=Poszukuje aktywnych okien
Comment[pt]=Procura pela janela activa
Comment[pt_BR]=Procura pela janela ativa
Comment[sk]=Skontroluje aktívne okno
Comment[sl]=Preveri dejavna okna
Comment[sv]=Söker efter aktivt fönster
Comment[uk]=Визначення активного вікна
Comment[x-test]=xxChecks for Active Windowxx
Comment[zh_TW]=檢查作用中視窗

X-KDE-PluginInfo-Author=Adam Nash
X-KDE-PluginInfo-Email=adam.t.nash@gmail.com
X-KDE-PluginInfo-Name=simonactivewindowplugin
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://userbase.kde.org/Simon
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-ParentApp=simon
