[Desktop Entry]
Type=Service
Icon=text-field
ServiceTypes=simon/ConditionPlugin
X-KDE-Library=simonactivewindowplugin
Name=simon Active Window Plugin
Name[ca]=Connector de finestra activa per a «simon»
Name[de]=Aktives-Fenster-Modul für Simon
Name[el]=Πρόσθετο ενεργού παραθύρου του simon
Name[et]=Simoni aktiivse akna plugin
Name[fi]=simon aktiivi-ikkunaliitännäinen
Name[fr]=Module externe de fenêtre active pour simon
Name[gl]=Engadido da xanela activa do simon
Name[it]=Estensione simon per la finestra attiva
Name[nl]=Plug-in voor simon Active Window
Name[pl]=Wtyczka aktywnego okna simon
Name[pt]='Plugin' da Janela Activa do Simon
Name[pt_BR]=Plugin da janela ativa do simon
Name[sv]=Simon insticksprogram för aktivt fönster
Name[uk]=Додаток активного вікна simon
Name[x-test]=xxsimon Active Window Pluginxx
Comment=Checks for Active Window
Comment[ca]=Comprova la finestra activa
Comment[de]=Erkennt aktive Fenster
Comment[el]=Ελέγχει για ενεργό παράθυρο
Comment[et]=Aktiivse akna juhtimine
Comment[fi]=Tarkistaa aktiivi-ikkunan
Comment[fr]=Vérifie la fenêtre active
Comment[gl]=Comproba cal é a xanela activa
Comment[it]=Controlla la finestra attiva
Comment[nl]=Controleert op een actief venster
Comment[pl]=Poszukuje aktywnych okien
Comment[pt]=Procura pela janela activa
Comment[pt_BR]=Procura pela janela ativa
Comment[sv]=Söker efter aktivt fönster
Comment[uk]=Визначення активного вікна
Comment[x-test]=xxChecks for Active Windowxx

X-KDE-PluginInfo-Author=Adam Nash
X-KDE-PluginInfo-Email=adam.t.nash@gmail.com
X-KDE-PluginInfo-Name=simonactivewindowplugin
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://simon-listens.org
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-ParentApp=simon
