[Desktop Entry]
Name=Simond
Exec=simond %i -caption %c
Icon=simond
Type=Application
X-DocPath=simond/index.html
X-AppStream-Ignore=true
GenericName=Speech Recognition Server
Terminal=true
Categories=Qt;KDE;Utility;Accessibility;
