[Desktop Entry]
Name=simond
Name[de]=simond
Name[es]=simond
Name[ga]=simond
Name[pt]=Simond
Name[pt_BR]=simond
Name[uk]=simond
Name[x-test]=xxsimondxx
Exec=simond %i -caption "%c"
Icon=simond
Type=Application
X-DocPath=simond/index.html
GenericName=Speech Recognition Server
GenericName[es]=Servidor de reconocimiento del habla
GenericName[pt]=Servidor de Reconhecimento de Fala
GenericName[pt_BR]=Servidor de reconhecimento de fala
GenericName[uk]=Сервер розпізнавання мовлення
GenericName[x-test]=xxSpeech Recognition Serverxx
Terminal=true
Categories=Qt;KDE;Utility;Accessibility;
