[Desktop Entry]
Name=simond
Name[x-test]=xxsimondxx
Exec=simond %i -caption "%c"
Icon=simond
Type=Application
DocPath=simond/index.html
GenericName=Speech Recognition Server
Terminal=1
Categories=Qt;KDE;Utility;Accessibility;
