[Desktop Entry]
Name=simond
Name[ca]=simond
Name[de]=simond
Name[el]=simond
Name[es]=simond
Name[fi]=simond
Name[fr]=simond
Name[ga]=simond
Name[gl]=simond
Name[nl]=simond
Name[pl]=simond
Name[pt]=Simond
Name[pt_BR]=simond
Name[sk]=simond
Name[sv]=simond
Name[uk]=simond
Name[x-test]=xxsimondxx
Name[zh_CN]=simond
Exec=simond %i -caption "%c"
Icon=simond
Type=Application
X-DocPath=simond/index.html
GenericName=Speech Recognition Server
GenericName[ca]=Servidor de reconeixement de la veu
GenericName[de]=Spracherkennungsserver
GenericName[el]=Εξυπηρετητής αναγνώρισης ομιλίας
GenericName[es]=Servidor de reconocimiento de voz
GenericName[fi]=Puheentunnistuspalvelin
GenericName[fr]=Serveur de reconnaissance vocale
GenericName[gl]=Servidor de recoñecemento da fala
GenericName[pl]=Serwer rozpoznawania mowy
GenericName[pt]=Servidor de Reconhecimento de Fala
GenericName[pt_BR]=Servidor de reconhecimento de fala
GenericName[sv]=Taligenkänningsserver
GenericName[uk]=Сервер розпізнавання мовлення
GenericName[x-test]=xxSpeech Recognition Serverxx
GenericName[zh_CN]=语音识别服务器
Terminal=true
Categories=Qt;KDE;Utility;Accessibility;
