[Desktop Entry]
Type=Service
Icon=ssc
X-KDE-ServiceTypes=KCModule
X-KDE-Library=sscsettings

# X-DocPath=help:/ssc/configuration.html

X-KDE-FactoryName=sscsettingsfactory
X-KDE-ParentComponents=libsscsettings

X-KDE-ParentApp=ssc
X-KDE-System-Settings-Parent-Category=ssc

#X-KDE-PluginKeyword=SSCConfiguration
Hidden=true

Name=SSC
Name[es]=SSC
Name[pt]=SSC
Name[pt_BR]=SSC
Name[uk]=SSC
Name[x-test]=xxSSCxx

Comment=Configuration of the simon sample collector
Comment[pt]=Configuração da recolha de amostras do Simon
Comment[uk]=Налаштування збирача зразків simon
Comment[x-test]=xxConfiguration of the simon sample collectorxx
