[Desktop Entry]
Type=Service
Icon=ssc
X-KDE-ServiceTypes=KCModule
X-KDE-Library=sscsettings

# X-DocPath=help:/ssc/configuration.html

X-KDE-FactoryName=sscsettingsfactory
X-KDE-ParentComponents=libsscsettings

X-KDE-ParentApp=ssc

#X-KDE-PluginKeyword=SSCConfiguration

Name=SSC
Name[ca]=SSC
Name[cs]=SSC
Name[da]=SSC
Name[de]=SSC
Name[el]=SSC
Name[es]=SSC
Name[et]=SSC
Name[fi]=Simon-näytekokooja
Name[fr]=SSC
Name[gl]=SSC
Name[hu]=SSC
Name[it]=SSC
Name[nl]=SSC
Name[pl]=SSC
Name[pt]=SSC
Name[pt_BR]=SSC
Name[sk]=SSC
Name[sl]=SSC
Name[sv]=SSC
Name[uk]=SSC
Name[x-test]=xxSSCxx
Name[zh_CN]=SSC

Comment=Configuration of the Simon sample collector
Comment[ca]=Configuració del col·leccionista de mostres per a Simon
Comment[nl]=Configuratie van de sample-verzamelaar van Simon
Comment[pt]=Configuração da recolha de amostras do Simon
Comment[pt_BR]=Configuração da coletor de amostras do Simon
Comment[uk]=Налаштування збирача зразків Simon
Comment[x-test]=xxConfiguration of the Simon sample collectorxx
