[Desktop Entry]
Type=Service
Icon=system-run
ServiceTypes=simon/CommandPlugin
X-KDE-Library=simoncompositecommandplugin
Name=Simon Composite Command Plugin
Name[ca]=Connector per a ordres compostes del Simon
Name[ca@valencia]=Connector per a ordes compostes del Simon
Name[cs]=Modul pro složené příkazy pro Simon
Name[da]=Simon-plugin til sammensatte kommandoer
Name[de]=Composite-Befehlsmodul für Simon
Name[el]=Πρόσθετο σύνθετων εντολών για το Simon
Name[es]=Complemento de órdenes de composición Simon
Name[et]=Simoni ühendkäskluste plugin
Name[fi]=Simon yhdistelmäkomentoliitännäinen
Name[gl]=Complemento de ordes de Composite para Simon
Name[hu]=Simon kompozit parancs bővítmény
Name[nl]=Commando-plug-in voor Simon Composite
Name[pl]=Wtyczka poleceń kompozytowych dla Simon
Name[pt]='Plugin' de Comandos Compostos do Simon
Name[pt_BR]=Plugin de comandos compostos do Simon
Name[sk]=Plugin zloženého príkazu Simon
Name[sl]=Ukazni vstavek za Simon Sestavljanka
Name[sv]=Simon insticksprogram för sammansatta kommandon
Name[uk]=Додаток складених команд Simon
Name[x-test]=xxSimon Composite Command Pluginxx
Name[zh_TW]=Simon 組合指令外掛程式
Comment=Combines multiple commands into one
Comment[ca]=Combina múltiples ordres en una sola
Comment[ca@valencia]=Combina múltiples ordes en una sola
Comment[cs]=Spojuje více příkazů do jednoho
Comment[da]=Kombinerer flere kommandoer til én
Comment[de]=Kombiniert mehrere Befehle zu einem
Comment[el]=Συνδυάζει πολλές εντολές σε μία
Comment[es]=Combina varias órdenes en una
Comment[et]=Võimaldab mitu käsku üheks liita
Comment[fi]=Yhdistää useita komentoja yhdeksi
Comment[fr]=Combine plusieurs commandes en une
Comment[gl]=Combina varias ordes nunha
Comment[hu]=Több parancs egyesít eggyé
Comment[it]=Combina più comandi in uno
Comment[nl]=Ccombineert meerdere commando's in één
Comment[pl]=Składa wiele poleceń w jedno
Comment[pt]=Combina vários comandos num único
Comment[pt_BR]=Combina vários comandos em um único
Comment[ro]=Combină mai multe comenzi în una
Comment[sk]=Zlúči viaceré príkazy do jedného
Comment[sl]=Spoji več ukazov v enega
Comment[sv]=Kombinerar flera kommandon till ett
Comment[uk]=Поєднує декілька команд у одну
Comment[x-test]=xxCombines multiple commands into onexx
Comment[zh_TW]=將多個指令組合起來

X-KDE-PluginInfo-Author=Peter Grasch
X-KDE-PluginInfo-Email=peter.grasch@bedahr.org
X-KDE-PluginInfo-Name=simoncompositecommandplugin
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://userbase.kde.org/Simon
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-ParentApp=simon
