[Desktop Entry]
Type=Service
Icon=help-hint
ServiceTypes=simon/CommandPlugin
X-KDE-Library=simonatspicommandplugin
Name=Simon ATSPI Command Plugin
Name[ca]=Connector per a ordres de ATSPI del Simon
Name[da]=Simon-plugin til ATSPI-kommandoer
Name[de]=ATSPI-Befehlsmodul für Simon
Name[el]=Πρόσθετο εντολών ATSPI για το Simon
Name[et]=Simoni ATSPI käsuplugin
Name[gl]=Complemento de ordes de ATSPI para Simon
Name[hu]=Simon ATSPI parancs bővítmény
Name[nl]=Commando-plug-in voor Simon ATSPI
Name[pl]=Wtyczka poleceń ATSPI dla Simon
Name[pt]='Plugin' de Comandos AT-SPI do Simon
Name[pt_BR]=Plugin de comandos ATSPI do Simon
Name[sv]=Simon ATSPI kommandoinsticksprogram
Name[uk]=Додаток команд ATSPI Simon
Name[x-test]=xxSimon ATSPI Command Pluginxx
Comment=Allows controlling an ATSPI2-enabled desktop
Comment[ca]=Permet controlar un escriptori amb ATSPI2 activat
Comment[da]=Lader dig kontrollere et skrivebord med ATSPI2
Comment[de]=Ermöglicht die Steuerung einer ATSPI2-fähigen Arbeitsfläche
Comment[el]=Επιτρέπει έλεγχο σε επιφάνεια εργασίας με ATSPI2
Comment[et]=Võimalus juhtida ATSPI2 toetusega töölauda
Comment[fi]=Sallii ATSPI2-käyttöönotetun työpöydän ohjaamisen
Comment[fr]=Permet de contrôler un bureau sous ATSPI2
Comment[gl]=Permite controlar un escritorio que dispoña de ATSPI2
Comment[it]=Permette il controllo di un desktop abilitato ATSPI2
Comment[nl]=Maakt besturing mogelijk van een bureaublad met ingeschakelde ATSPI2
Comment[pl]=Pozwala na sterowanie pulpitem z włączonym ATSPI2
Comment[pt]=Permite controlar um ambiente com suporte para o AT-SPI2
Comment[pt_BR]=Permite controlar um ambiente com suporte para o ATSPI2
Comment[sl]=Omogoča nadzor namizja z ATSPI2
Comment[sv]=Tillåter styrning av ett ATSPI2-aktiverat skrivbord
Comment[uk]=Надає змогу керувати стільницею з увімкненим ATSPI2
Comment[x-test]=xxAllows controlling an ATSPI2-enabled desktopxx

X-KDE-PluginInfo-Author=Peter Grasch
X-KDE-PluginInfo-Email=kde-accessibility@kde.org
X-KDE-PluginInfo-Name=simonatspiplugin
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://userbase.kde.org/Simon
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
X-KDE-ParentApp=simon
