[Desktop Entry]
Type=Service
Icon=simond
X-KDE-ServiceTypes=KCModule
X-KDE-Library=simondsettings

X-DocPath=help:/simond/using-kapp.html

X-KDE-FactoryName=simondsettingsfactory
X-KDE-ParentComponents=simondsettings

X-KDE-ParentApp=simond
X-KDE-System-Settings-Parent-Category=accessibility

#X-KDE-PluginKeyword=SimondNetworkConfiguration

Name=Simond
Name[ca]=Simond
Name[da]=Simond
Name[de]=Simond
Name[el]=Simond
Name[et]=Simond
Name[ga]=Simond
Name[hu]=Simond
Name[nl]=Simond
Name[pt]=Simond
Name[pt_BR]=Simond
Name[sv]=Simond
Name[uk]=Simond
Name[x-test]=xxSimondxx

Comment=simond Configuration
Comment[ca]=Configuració de «simond»
Comment[da]=Konfiguration af simond
Comment[de]=Simond-Konfiguration
Comment[el]=Διαμόρφωση του simond
Comment[es]=Configuración de simond
Comment[et]=Simond seadistamine
Comment[fi]=simond asetukset
Comment[fr]=Configuration de simond
Comment[ga]=Cumraíocht simond
Comment[gl]=Configuración do simond
Comment[hu]=Simond beállítások
Comment[it]=Configurazione di simond
Comment[nl]=Configuratie van simond
Comment[pl]=Konfiguracja simond
Comment[pt]=Configuração do Simond
Comment[pt_BR]=Configuração do simond
Comment[sl]=Nastavitve simond
Comment[sv]=Anpassning av Simond
Comment[uk]=Налаштування simond
Comment[x-test]=xxsimond Configurationxx
Comment[zh_CN]=simond 配置
