[Desktop Entry]
Type=Service
Icon=user-properties
X-KDE-ServiceTypes=KCModule
X-KDE-Library=libsimondsettings

X-DocPath=help:/simond/using-kapp.html

X-KDE-FactoryName=simondsettingsfactory
X-KDE-ParentComponents=libsimondsettings

X-KDE-ParentApp=simond
X-KDE-System-Settings-Parent-Category=simond


X-KDE-PluginKeyword=SimondUserConfiguration

Name=User
Name[ca]=Usuari
Name[cs]=Uživatel
Name[de]=Benutzer
Name[el]=Χρήστης
Name[es]=Usuario
Name[nds]=Bruker
Name[nl]=Gebruiker
Name[pl]=Użytkownik
Name[pt]=Utilizador
Name[pt_BR]=Usuário
Name[sk]=Užívateľ
Name[sv]=Användare
Name[uk]=Користувач
Name[x-test]=xxUserxx
Name[zh_CN]=用户

Comment=Userconfiguration
Comment[ca]=Configuració d'usuari
Comment[de]=Benutzerkonfiguration
Comment[el]=Userconfiguration
Comment[es]=Configuración del usuario
Comment[pl]=Konfiguracja użytkownika
Comment[pt]=Configuração do utilizador
Comment[pt_BR]=Configuração do usuário
Comment[sv]=Användarinställning
Comment[uk]=Налаштування користувача
Comment[x-test]=xxUserconfigurationxx
Comment[zh_CN]=用户配置

