[Desktop Entry]
Type=Service
Icon=network-disconnect
X-KDE-ServiceTypes=KCModule
X-KDE-Library=libsimondsettings

X-DocPath=help:/simond/network_configuration.html

X-KDE-FactoryName=simondsettingsfactory
X-KDE-ParentComponents=libsimondsettings

X-KDE-ParentApp=simond
X-KDE-System-Settings-Parent-Category=simond

X-KDE-PluginKeyword=SimondNetworkConfiguration

Name=Network
Name[ca]=Xarxa
Name[cs]=Síť
Name[de]=Netzwerk
Name[el]=Δίκτυο
Name[es]=Red local
Name[fi]=Verkko
Name[fr]=Réseau
Name[ga]=Líonra
Name[nds]=Nettwark
Name[nl]=Netwerk
Name[pl]=Sieć
Name[pt]=Rede
Name[pt_BR]=Rede
Name[sk]=Sieť
Name[sv]=Nätverk
Name[uk]=Мережа
Name[x-test]=xxNetworkxx
Name[zh_CN]=网络

Comment=Configuration of the Network Settings
Comment[ca]=Configuració dels paràmetres de xarxa
Comment[de]=Einrichtung der Netzwerkeinstellungen
Comment[el]=Διαμόρφωση των ρυθμίσεων δικτύου
Comment[fi]=Verkkoasetukset
Comment[fr]=Configuration des paramètres de réseau
Comment[pl]=Konfiguracja ustawień sieciowych
Comment[pt]=Configuração das Definições da Rede
Comment[pt_BR]=Configuração das definições da rede
Comment[sv]=Anpassning av nätverksinställningar
Comment[uk]=Налаштування параметрів мережі
Comment[x-test]=xxConfiguration of the Network Settingsxx
Comment[zh_CN]=配置网络设置
