[Desktop Entry]
Type=Service
Icon=simond
X-KDE-ServiceTypes=KCModule
X-KDE-Library=simondsettings

X-DocPath=help:/simond/using-kapp.html

X-KDE-FactoryName=simondsettingsfactory
X-KDE-ParentComponents=simondsettings

X-KDE-ParentApp=simond
X-KDE-System-Settings-Parent-Category=accessibility

#X-KDE-PluginKeyword=SimondNetworkConfiguration

Name=Simond
Name[ca]=simond
Name[cs]=simond
Name[de]=simond
Name[el]=simond
Name[es]=simond
Name[et]=simond
Name[fi]=simond
Name[fr]=simond
Name[ga]=simond
Name[gl]=simond
Name[it]=simond
Name[nl]=simond
Name[pl]=simond
Name[pt]=Simond
Name[pt_BR]=simond
Name[sk]=simond
Name[sl]=simond
Name[sv]=simond
Name[uk]=simond
Name[x-test]=xxsimondxx
Name[zh_CN]=simond

Comment=simond Configuration
Comment[ca]=Configuració de «simond»
Comment[de]=Simond-Konfiguration
Comment[el]=Διαμόρφωση του simond
Comment[es]=Configuración de simond
Comment[et]=Simond seadistamine
Comment[fi]=simond asetukset
Comment[fr]=Configuration de simond
Comment[gl]=Configuración do simond
Comment[it]=Configurazione di simond
Comment[nl]=Configuratie van simond
Comment[pl]=Konfiguracja simond
Comment[pt]=Configuração do Simond
Comment[pt_BR]=Configuração do simond
Comment[sl]=Nastavitve simond
Comment[sv]=Anpassning av Simond
Comment[uk]=Налаштування simond
Comment[x-test]=xxsimond Configurationxx
Comment[zh_CN]=simond 配置
