[Desktop Entry]
Type=Service
Icon=input-keyboard
ServiceTypes=simon/CommandPlugin
X-KDE-Library=simonkeyboardcommandplugin
Name=Simon Keyboard Command Plugin
Name[ca]=Connector per a ordres de teclat del Simon
Name[ca@valencia]=Connector per a ordes de teclat del Simon
Name[cs]=Modul příkazů pro klávesnici pro Simon
Name[da]=Simon-plugin til tastaturkommandoer
Name[de]=Tastatur-Befehlsmodul für Simon
Name[el]=Πρόσθετο εντολών πληκτρολογίου για το Simon
Name[es]=Complemento de órdenes de teclado Simon
Name[et]=Simoni klaviatuuri käsuplugin
Name[fi]=Simon näppäimistökomentoliitännäinen
Name[fr]=Module externe de commande de clavier pour « Simon »
Name[gl]=Complemento de ordes de teclado para Simon
Name[hu]=Simon billentyűzet parancs bővítmény
Name[it]=Estensione Simon per il comando tastiera
Name[nl]=Commando-plug-in voor Simon Keyboard
Name[pl]=Wtyczka poleceń klawiatury dla Simon
Name[pt]='Plugin' de Comando do Teclado do Simon
Name[pt_BR]=Plugin de comando do teclado do Simon
Name[sk]=Plugin príkazu klávesnice Simon
Name[sl]=Ukazni vstavek Simon za tipkovnico
Name[sv]=Simon insticksprogram för tangentbordskommandon
Name[uk]=Додаток команд клавіатури Simon
Name[x-test]=xxSimon Keyboard Command Pluginxx
Name[zh_TW]=Simon 鍵盤指令外掛程式
Comment=Provides a full keyboard functionality
Comment[ca]=Proporciona una completa funcionalitat per al teclat
Comment[ca@valencia]=Proporciona una completa funcionalitat per al teclat
Comment[cs]=Poskytuje úplnou funkcionalitu klávesnice
Comment[da]=Giver fuld tastaturfunktionalitet
Comment[de]=Bietet eine volle Tastatur
Comment[el]=Παρέχει πλήρη λειτουργικότητα πληκτρολογίου
Comment[es]=Proporciona una funcionalidad completa de teclado
Comment[et]=Täiemahulise klaviatuuri kasutamine
Comment[fi]=Tarjoaa täyden näppäimistötoiminnallisuuden
Comment[fr]=Fournit une fonctionnalité complète de clavier
Comment[gl]=Fornece funcionalidade completa do teclado
Comment[hu]=Teljes billentyű funkcionalitást biztosít
Comment[it]=Fornisce funzionalità complete di tastiera
Comment[nl]=Biedt volledige toetsenbordfunctionaliteit
Comment[pl]=Zapewnia funkcjonalność pełnej klawiatury
Comment[pt]=Oferece a funcionalidade para um teclado completo
Comment[pt_BR]=Oferece uma funcionalidade para um teclado completo
Comment[sk]=Poskytuje plnú funkcionalitu klávesnice
Comment[sl]=Omogoča polno opravilnost tipkovnice
Comment[sv]=Tillhandahåller fullständig tangentbordsfunktion
Comment[uk]=Віртуальна клавіатура з повним набором можливостей
Comment[x-test]=xxProvides a full keyboard functionalityxx
Comment[zh_TW]=提供一個完整的鍵盤功能

X-KDE-PluginInfo-Author=Neumeister Dominik und Strametz Mario
X-KDE-PluginInfo-Email=neudob06@edvhtl.at
X-KDE-PluginInfo-Name=simonkeyboardcommandplugin
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://userbase.kde.org/Simon
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-ParentApp=simon
