[Desktop Entry]
Type=Service
Icon=input-keyboard
ServiceTypes=simon/CommandPlugin
X-KDE-Library=simonkeyboardcommandplugin
Name=simon Keyboard Command Plugin
Name[pt]='Plugin' de Comando do Teclado do Simon
Name[pt_BR]=Plugin de comando do teclado do simon
Name[uk]=Додаток команд клавіатури simon
Name[x-test]=xxsimon Keyboard Command Pluginxx
Comment=Provides a full keyboard functionality
Comment[pt]=Oferece a funcionalidade para um teclado completo
Comment[pt_BR]=Oferece uma funcionalidade para um teclado completo
Comment[uk]=Віртуальна клавіатура з повним набором можливостей
Comment[x-test]=xxProvides a full keyboard functionalityxx

X-KDE-PluginInfo-Author=Neumeister Dominik und Strametz Mario
X-KDE-PluginInfo-Email=neudob06@edvhtl.at
X-KDE-PluginInfo-Name=simonkeyboardcommandplugin
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://simon-listens.org
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-ParentApp=simon
