[Desktop Entry]
Type=Service
Icon=input-keyboard
ServiceTypes=simon/CommandPlugin
X-KDE-Library=simonkeyboardcommandplugin
Name=simon Keyboard Command Plugin
Name[ca]=Connector d'ordres de teclat per a «simon»
Name[de]=Tastatur-Befehlsmodul für Simon
Name[el]=Πρόσθετο εντολών πληκτρολογίου του simon
Name[et]=Simoni klaviatuuri käsuplugin
Name[fi]=simon näppäimistökomentoliitännäinen
Name[fr]=Module externe de commande du clavier pour simon
Name[gl]=Engadido de ordes de teclado do simon
Name[nl]=Commando-plug-in voor simon Keyboard
Name[pl]=Wtyczka poleceń klawiatury dla simon
Name[pt]='Plugin' de Comando do Teclado do Simon
Name[pt_BR]=Plugin de comando do teclado do simon
Name[sv]=Simon insticksprogram för tangentbordskommandon
Name[uk]=Додаток команд клавіатури simon
Name[x-test]=xxsimon Keyboard Command Pluginxx
Comment=Provides a full keyboard functionality
Comment[ca]=Proporciona una completa funcionalitat per al teclat
Comment[el]=Παρέχει πλήρη λειτουργικότητα πληκτρολογίου
Comment[et]=Täiemahulise klaviatuuri kasutamine
Comment[fi]=Tarjoaa täyden näppäimistötoiminnallisuuden
Comment[fr]=Fournit une fonctionnalité exhaustive du clavier
Comment[gl]=Fornece funcionalidade completa do teclado
Comment[it]=Fornisce funzionalità complete di tastiera
Comment[nl]=Biedt volledige toetsenbordfunctionaliteit
Comment[pl]=Zapewnia funkcjonalność pełnej klawiatury
Comment[pt]=Oferece a funcionalidade para um teclado completo
Comment[pt_BR]=Oferece uma funcionalidade para um teclado completo
Comment[sv]=Tillhandahåller fullständig tangentbordsfunktion
Comment[uk]=Віртуальна клавіатура з повним набором можливостей
Comment[x-test]=xxProvides a full keyboard functionalityxx

X-KDE-PluginInfo-Author=Neumeister Dominik und Strametz Mario
X-KDE-PluginInfo-Email=neudob06@edvhtl.at
X-KDE-PluginInfo-Name=simonkeyboardcommandplugin
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://simon-listens.org
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-ParentApp=simon
