[Desktop Entry]
Type=Service
Icon=fork
X-KDE-ServiceTypes=KCModule
X-KDE-Library=simonactionskcm

X-DocPath=help:/simon/commands.html

X-KDE-FactoryName=commandsettingsfactory
X-KDE-ParentComponents=libsimonactions

X-KDE-ParentApp=simon

Name=Actions
Name[ca]=Accions
Name[cs]=Činnosti
Name[de]=Aktionen
Name[el]=Ενέργειες
Name[es]=Acciones
Name[et]=Toimingud
Name[fi]=Toiminnot
Name[fr]=Actions
Name[ga]=Gníomhartha
Name[gl]=Accións
Name[it]=Azioni
Name[nds]=Akschonen
Name[nl]=Acties
Name[pl]=Działania
Name[pt]=Acções
Name[pt_BR]=Ações
Name[sk]=Akcie
Name[sv]=Åtgärder
Name[uk]=Дії
Name[x-test]=xxActionsxx
Name[zh_CN]=动作

Comment=Configuration of simons Actions
Comment[ca]=Configuració de les accions per a «simon»
Comment[de]=Konfiguration der Simon-Aktionen
Comment[el]=Διαμόρφωση ενεργειών του simon
Comment[et]=Simoni toimingute seadistamine
Comment[fi]=simons toimintoasetukset
Comment[fr]=Configuration des actions de simon
Comment[gl]=Configuración das accións do simon
Comment[it]=Configurazione delle azioni di simon
Comment[pl]=Konfiguracja działań simon
Comment[pt]=Configuração das Acções do Simon
Comment[pt_BR]=Configuração das ações do simon
Comment[sv]=Inställning av Simons åtgärder
Comment[uk]=Налаштування дій simon
Comment[x-test]=xxConfiguration of simons Actionsxx
Comment[zh_CN]=配置 simon 动作

