[Desktop Entry]
Type=Service
Icon=fork
X-KDE-ServiceTypes=KCModule
X-KDE-Library=simonactionskcm

X-DocPath=help:/simon/commands.html

X-KDE-FactoryName=commandsettingsfactory
X-KDE-ParentComponents=libsimonactions

X-KDE-ParentApp=simon

Name=Actions
Name[cs]=Činnosti
Name[de]=Aktionen
Name[es]=Acciones
Name[ga]=Gníomhartha
Name[nds]=Akschonen
Name[nl]=Acties
Name[pt]=Acções
Name[pt_BR]=Ações
Name[sk]=Akcie
Name[sv]=Åtgärder
Name[uk]=Дії
Name[x-test]=xxActionsxx
Name[zh_CN]=动作

Comment=Configuration of simons Actions
Comment[de]=Konfiguration der Simon-Aktionen
Comment[pt]=Configuração das Acções do Simon
Comment[pt_BR]=Configuração das ações do simon
Comment[sv]=Inställning av Simons åtgärder
Comment[uk]=Налаштування дій simon
Comment[x-test]=xxConfiguration of simons Actionsxx
Comment[zh_CN]=配置 simon 动作

