[Desktop Entry]
Type=Service
Icon=games-config-board
ServiceTypes=simon/CommandPlugin
X-KDE-Library=simondesktopgridplugin
Name=simon DesktopGrid Plugin
Name[es]=Complemento DesktopGrid para simon
Name[pt]='Plugin' da Grelha do Ecrã do Simon
Name[pt_BR]=Plugin da grade da área de trabalho do simon
Name[uk]=Додаток стільничної ґратки simon
Name[x-test]=xxsimon DesktopGrid Pluginxx
Comment=Voice-controlled mouseclicks
Comment[de]=Sprachgesteuerte Mausklicks
Comment[pt]=Eventos de botões do rato controlados pela voz
Comment[pt_BR]=Eventos dos botões do mouse controlados pela voz
Comment[uk]=Керовані голосом клацання кнопками миші
Comment[x-test]=xxVoice-controlled mouseclicksxx

X-KDE-PluginInfo-Author=Peter Grasch
X-KDE-PluginInfo-Email=grasch@simon-listens.org
X-KDE-PluginInfo-Name=simoncommanddesktopgrid
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://simon-listens.org
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-ParentApp=simon
