[Desktop Entry]
Type=Service
Icon=games-config-board
X-KDE-ServiceTypes=KCModule
X-KDE-Library=simondesktopgridplugin

X-KDE-PluginKeyword=simondesktopgridpluginconfig
X-KDE-FactoryName=simondesktopgridpluginconfig
X-KDE-ParentComponents=simondesktopgridplugin

X-KDE-ParentApp=simon
X-KDE-System-Settings-Parent-Category=simon


Name=Desktopgrid
Name[de]=Desktopgitter
Name[fr]=Quadrillage du bureau

Comment=Configuration of simons desktopgrid-plugin
Comment[de]=Konfiguration des Desktopgitter-Plug-Ins von simon
Comment[fr]=Configuration du module de quadrillage du bureau de simon

