[Desktop Entry]
Type=Service
Icon=games-config-board
ServiceTypes=simon/CommandPlugin
X-KDE-Library=simondesktopgridplugin
Name=simon DesktopGrid Plugin
Name[ca]=Connector de graella d'escriptori per a «simon»
Name[de]=Arbeitsflächenrastermodul für Simon
Name[el]=Πρόσθετο DesktopGrid του simon
Name[et]=Simoni töölauavõrgustiku plugin
Name[fi]=simon DesktopGrid-liitännäinen
Name[fr]=Module externe « DesktopGrid » pour simon
Name[gl]=Engadido de DesktopGrid para simon
Name[it]=Estensione simon DesktopGrid
Name[nl]=Plug-in voor simon DesktopGrid
Name[pl]=Wtyczka SiatkiPulpitu dla simon
Name[pt]='Plugin' da Grelha do Ecrã do Simon
Name[pt_BR]=Plugin da grade da área de trabalho do simon
Name[sv]=Simon insticksprogram för skrivbordsrutnät
Name[uk]=Додаток стільничної ґратки simon
Name[x-test]=xxsimon DesktopGrid Pluginxx
Comment=Voice-controlled mouseclicks
Comment[ca]=Controla per veu els clics del ratolí
Comment[de]=Sprachgesteuerte Mausklicks
Comment[el]=Κλικ του ποντικιού με έλεγχο φωνής
Comment[et]=Hääljuhitavad hiireklõpsud
Comment[fi]=Ääniohjautuvat hiiren napsautukset
Comment[fr]=Clics de souris commandés à la voix
Comment[gl]=Clics do rato controlados coa voz
Comment[it]=Clic del mouse controllati tramite voce
Comment[nl]=Stembestuurde muiskliks
Comment[pl]=Kliknięcia myszą sterowane głosem
Comment[pt]=Eventos de botões do rato controlados pela voz
Comment[pt_BR]=Eventos dos botões do mouse controlados pela voz
Comment[sv]=Röststyrda musklick
Comment[uk]=Керовані голосом клацання кнопками миші
Comment[x-test]=xxVoice-controlled mouseclicksxx

X-KDE-PluginInfo-Author=Peter Grasch
X-KDE-PluginInfo-Email=peter.grasch@bedahr.org
X-KDE-PluginInfo-Name=simoncommanddesktopgrid
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://simon-listens.org
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-ParentApp=simon
