[Desktop Entry]
Type=Service
Icon=applications-education-language
X-KDE-ServiceTypes=KCModule
X-KDE-Library=simonmodelcompilationconfiguration

X-KDE-FactoryName=modelcompilationsettingsfactory
X-KDE-ParentComponents=simonmodelcompilationconfiguration

X-KDE-ParentApp=simond
X-KDE-System-Settings-Parent-Category=accessibility

Name=Speech Model Compilation

Comment=Configuration of the simon Speech Model Compilation

