[Desktop Entry]
Type=Service
Icon=applications-education-language
X-KDE-ServiceTypes=KCModule
X-KDE-Library=simonmodelcompilationconfiguration

X-DocPath=help:/simond/speech_model_compilation_configuration.html
X-KDE-FactoryName=modelcompilationsettingsfactory
X-KDE-ParentComponents=simonmodelcompilationconfiguration

X-KDE-ParentApp=simond
X-KDE-System-Settings-Parent-Category=accessibility

Name=Speech Model Compilation
Name[ca]=Compilació del model de pronunciació
Name[ca@valencia]=Compilació del model de pronunciació
Name[cs]=Vytvoření modelu řeči
Name[da]=Kompilering af talemodel
Name[de]=Sprachmodell-Kompilierung
Name[el]=Μεταγλώττιση του μοντέλου ομιλίας
Name[es]=Compilación del modelo de voz
Name[et]=Kõnemudeli kompileerimine
Name[fi]=Puhemallikäännnös
Name[fr]=Compilation du modèle de voix
Name[gl]=Compilación do Modelo de fala
Name[hu]=Beszéd modell gyűjtemény
Name[nl]=Spraakmodelcompilatie
Name[pl]=Kompilacja modelu mowy
Name[pt]=Compilação do Modelo de Fala
Name[pt_BR]=Compilação do modelo de fala
Name[sl]=Zbirka govornega modela
Name[sv]=Talmodellsamling
Name[uk]=Компіляція моделі мовлення
Name[x-test]=xxSpeech Model Compilationxx
Name[zh_TW]=語音模型編譯

Comment=Configuration of the Simon Speech Model Compilation
Comment[ca]=Configuració de la compilació del model de pronunciació per a Simon
Comment[ca@valencia]=Configuració de la compilació del model de pronunciació per a Simon
Comment[cs]=Nastavení vytvoření modelů řeči Simon
Comment[da]=Konfiguration af Simons kompilation af talemodeller
Comment[de]=Einrichtung der Simon-Sprachmodell-Kompilierung
Comment[el]=Διαμόρφωση της μεταγλώττισης του μοντέλου ομιλίας του Simon
Comment[es]=Configuración de la compilación del modelo de voz de Simon
Comment[et]=Simoni kõnemudeli kompileerimise seadistamine
Comment[gl]=Configuración da colección de modelos de fala de Simon.
Comment[hu]=A Simon beszéd modell gyűjtemény beállítása
Comment[nl]=Configuratie van de Simon spraakmodelcompilatie
Comment[pl]=Konfiguracja kompilacji modelu mowy dla Simon
Comment[pt]=Configuração da compilação do modelo de fala do Simon
Comment[pt_BR]=Configuração da compilação do modelo de fala do Simon
Comment[sl]=Nastavitev zbirke govornega modela Simon
Comment[sv]=Inställning av Simons talmodelsamling
Comment[uk]=Налаштування компіляції моделі мовлення Simon
Comment[x-test]=xxConfiguration of the Simon Speech Model Compilationxx
Comment[zh_TW]=設定 Simon 語音模型編譯

