[Desktop Entry]
Type=Service
Icon=applications-education-language
X-KDE-ServiceTypes=KCModule
X-KDE-Library=simonmodelcompilationconfiguration

X-DocPath=help:/simond/speech_model_compilation_configuration.html
X-KDE-FactoryName=modelcompilationsettingsfactory
X-KDE-ParentComponents=simonmodelcompilationconfiguration

X-KDE-ParentApp=simond
X-KDE-System-Settings-Parent-Category=accessibility

Name=Speech Model Compilation
Name[ca]=Compilació del model de pronunciació
Name[da]=Kompilering af talemodel
Name[de]=Sprachmodell-Kompilierung
Name[el]=Μεταγλώττιση του μοντέλου ομιλίας
Name[et]=Kõnemudeli kompileerimine
Name[fi]=Puhemallikäännnös
Name[fr]=Compilation du modèle de voix
Name[gl]=Compilación do Modelo de fala
Name[nl]=Spraakmodelcompilatie
Name[pl]=Kompilacja modelu mowy
Name[pt]=Compilação do Modelo de Fala
Name[pt_BR]=Compilação do modelo de fala
Name[sl]=Zbirka govornega modela
Name[sv]=Talmodellsamling
Name[uk]=Компіляція моделі мовлення
Name[x-test]=xxSpeech Model Compilationxx

Comment=Configuration of the Simon Speech Model Compilation
Comment[ca]=Configuració de la compilació del model de pronunciació per a Simon
Comment[nl]=Configuratie van de Simon spraakmodelcompilatie
Comment[pt]=Configuração da compilação do modelo de fala do Simon
Comment[pt_BR]=Configuração da compilação do modelo de fala do Simon
Comment[uk]=Налаштування компіляції моделі мовлення Simon
Comment[x-test]=xxConfiguration of the Simon Speech Model Compilationxx

