[Desktop Entry]
Icon=simon
Type=Application
X-DocPath=simon/index.html

Name=Simon

GenericName=Speech Recognition

Exec=simon

Comment=Speech Recognition and Model Management

Terminal=false

Categories=Qt;KDE;Utility;Accessibility;

