[Desktop Entry]
Icon=simon
Type=Application

Name=simon

GenericName=Speech Recognition

Exec=simon

Comment=Speech Recognition and Model Management

Terminal=false

Categories=Qt;KDE;Utility;Accessibility;

X-KDE-StartupNotify=false
X-KDE-autostart-condition=simonrc:General:AutoStart:false
