[Desktop Entry]
Icon=simon
Type=Application
X-DocPath=simon/index.html

Name=Simon
Name[ca]=Simon
Name[cs]=Simon
Name[de]=Simon
Name[el]=Simon
Name[fi]=Simon
Name[fr]=Simon
Name[gl]=Simon
Name[nl]=Simon
Name[pl]=Simon
Name[pt]=Simon
Name[pt_BR]=Simon
Name[sv]=Simon
Name[uk]=Simon
Name[x-test]=xxSimonxx

GenericName=Speech Recognition
GenericName[ca]=Reconeixement de la veu
GenericName[de]=Spracherkennung
GenericName[el]=Αναγνώριση ομιλίας
GenericName[es]=Reconocimiento de voz
GenericName[fi]=Puheentunnistus
GenericName[fr]=Reconnaissance vocale
GenericName[gl]=Recoñecemento da fala
GenericName[pl]=Rozpoznawanie mowy
GenericName[pt]=Reconhecimento de Fala
GenericName[pt_BR]=Reconhecimento de fala
GenericName[sv]=Taligenkänning
GenericName[uk]=Розпізнавання мовлення
GenericName[x-test]=xxSpeech Recognitionxx
GenericName[zh_CN]=语音识别

Exec=simon

Comment=Speech Recognition and Model Management
Comment[ca]=Gestió del reconeixement i model de pronunciació
Comment[de]=Spracherkennung und Modellverwaltung
Comment[el]=Αναγνώριση ομιλίας και διαχείριση μοντέλου
Comment[fi]=Puheentunnistus ja mallinhallinta
Comment[fr]=Reconnaissance vocale et gestion des modèles
Comment[gl]=Recoñecemento da fala e xestión de modelos
Comment[pl]=Rozpoznawanie mowy i zarządzanie modelami
Comment[pt]=Gestão do Modelo e do Reconhecimento de Fala
Comment[pt_BR]=Gerenciamento do modelo e do reconhecimento de fala
Comment[sv]=Taligenkänning och modellhantering
Comment[uk]=Керування розпізнаванням мовлення та моделями
Comment[x-test]=xxSpeech Recognition and Model Managementxx
Comment[zh_CN]=语音识别和模式管理

Terminal=false

Categories=Qt;KDE;Utility;Accessibility;

