[Desktop Entry]
Type=Service
Icon=simond
X-KDE-ServiceTypes=KCModule
X-KDE-Library=simonrecognitioncontrolkcm


X-DocPath=help:/simon/configuration.html#configure_server

X-KDE-FactoryName=serversettingsfactory
X-KDE-ParentComponents=libsimonrecognitioncontrol

X-KDE-ParentApp=simon

#X-KDE-PluginKeyword=NetworkSettings

Name=Recognition
Name[de]=Erkennung
Name[es]=Reconocimiento
Name[nl]=Herkenning
Name[pl]=Rozpoznawanie
Name[pt]=Reconhecimento
Name[pt_BR]=Reconhecimento
Name[sv]=Igenkänning
Name[uk]=Розпізнавання
Name[x-test]=xxRecognitionxx
Name[zh_CN]=识别

Comment=Recognition settings
Comment[de]=Erkennungseinstellungen
Comment[es]=Preferencias del reconocimiento
Comment[pl]=Ustawienia rozpoznawania
Comment[pt]=Configuração do reconhecimento
Comment[pt_BR]=Configurações do reconhecimento
Comment[sv]=Igenkänningsinställningar
Comment[uk]=Параметри розпізнавання
Comment[x-test]=xxRecognition settingsxx
Comment[zh_CN]=识别设置
#Name=Server
#Name[de]=Server
#Name[fr]=Serveur

#Comment=Configuration of the Recognition-Server
#Comment[de]=Konfiguration des Erkennungsservers
#Comment[fr]=Configuration du serveur de reconnaissance vocale
