[Desktop Entry]
Type=Service
Icon=view-refresh
X-KDE-ServiceTypes=KCModule
X-KDE-Library=simonrecognitioncontrolkcm



X-DocPath=help:/simon/configuration.html#configure_synchronization

X-KDE-FactoryName=serversettingsfactory
X-KDE-ParentComponents=libsimonrecognitioncontrol

X-KDE-ParentApp=simon

X-KDE-PluginKeyword=SynchronisationSettings

Name=Synchronization

Comment=Configuration of the model synchronization

