[Desktop Entry]
Type=Service
Icon=simond
X-KDE-ServiceTypes=KCModule
X-KDE-Library=libsimonrecognitioncontrol


X-DocPath=help:/simon/configuration.html#configure_server

X-KDE-FactoryName=serversettingsfactory
X-KDE-ParentComponents=libsimonrecognitioncontrol

X-KDE-ParentApp=simon
X-KDE-System-Settings-Parent-Category=simon

X-KDE-PluginKeyword=NetworkSettings

Name=Server
Name[de]=Server

Comment=Configuration of the Recognition-Server
Comment[de]=Konfiguration des Erkennungsservers
