[Desktop Entry]
Type=Service
Icon=view-refresh
X-KDE-ServiceTypes=KCModule
X-KDE-Library=simonrecognitioncontrolkcm



X-DocPath=help:/simon/configuration.html#configure_synchronization

X-KDE-FactoryName=serversettingsfactory
X-KDE-ParentComponents=libsimonrecognitioncontrol

X-KDE-ParentApp=simon

X-KDE-PluginKeyword=SynchronisationSettings

Name=Synchronization
Name[de]=Abgleich
Name[es]=Sincronización
Name[nl]=Synchronisatie
Name[pt]=Sincronização
Name[pt_BR]=Sincronização
Name[sv]=Synkronisering
Name[uk]=Синхронізація
Name[x-test]=xxSynchronizationxx

Comment=Configuration of the model synchronization
Comment[de]=Konfiguration des Modellabgleichs
Comment[es]=Configuración de la sincronización del modelo
Comment[pt]=Configuração da sincronização do modelo
Comment[pt_BR]=Configuração da sincronização do modelo
Comment[sv]=Inställning av modellsynkroniseringen
Comment[uk]=Налаштування синхронізації моделей
Comment[x-test]=xxConfiguration of the model synchronizationxx

