[Desktop Entry]
Type=Service
Icon=simond
X-KDE-ServiceTypes=KCModule
X-KDE-Library=simonrecognitioncontrolkcm


X-DocPath=help:/simon/configuration.html#configure_server

X-KDE-FactoryName=serversettingsfactory
X-KDE-ParentComponents=libsimonrecognitioncontrol

X-KDE-ParentApp=simon

#X-KDE-PluginKeyword=NetworkSettings

Name=Recognition
Name[de]=Erkennung

Comment=Recognition settings
Comment[de]=Erkennungskonfiguration
#Name=Server
#Name[de]=Server
#Name[fr]=Serveur

#Comment=Configuration of the Recognition-Server
#Comment[de]=Konfiguration des Erkennungsservers
#Comment[fr]=Configuration du serveur de reconnaissance vocale
