<settings>
 <option value="1" name="juliusdautostart" />
 <option value="0" name="askbeforeexit" />
 <option value="model/model.voca" name="pathtovocabul" />
 <option value="model/prompts" name="pathtoprompts" />
 <option value="model/model.grammar" name="pathtogrammar" />
 <option value="2" name="channel" />
 <option value="127.0.0.1" name="juliusdip" />
 <option value="1" name="juliusdrequired" />
 <option value="44000" name="samplerate" />
 <option value="99" name="volume" />
 <option value="0" name="saveallrecordings" />
 <option value="3" name="device" />
 <option value="4567" name="portnumber" />
 <option value="1" name="simonautostart" />
 <option value="records/" name="pathtosaverecordings" />
 <option value="conf/commandos" name="pathtocommando" />
 <option value="1" name="mixing" />
 <option value="model/prompts" name="pathtoptompts" />
 <option value="model/lexicon" name="pathtolexicon" />
</settings>
