[Desktop Entry]
Type=Service
Icon=text-field
ServiceTypes=simon/ConditionPlugin
X-KDE-Library=simonprocessopenedconditionplugin
Name=Simon Process Opened Plugin
Name[ca]=Connector per a procés obert del Simon
Name[ca@valencia]=Connector per a procés obert del Simon
Name[cs]=Modul pro otevřené procesy pro Simon
Name[da]=Simon-plugin til Opened-processen
Name[de]=Prozess-geöffnet-Modul für Simon
Name[el]=Πρόσθετο ανοιχτών διεργασιών για το Simon
Name[es]=Complemento de procesos abiertos de Simon
Name[et]=Simoni protsessi avamise plugin
Name[fi]=Simon prosessi avattu -liitännäinen
Name[fr]=Module externe des processus ouverts pour « Simon »
Name[gl]=Complemento de procesos abertos para Simon
Name[hu]=Simon megnyitott folyamat bővítmény
Name[it]=Estensione Simon processo aperto
Name[kk]=Simon ашылған процестер плагині
Name[nl]=Plug-in van Simon Process Opened
Name[pl]=Wtyczka otwartego procesu Simon
Name[pt]='Plugin' de Processo Aberto do Simon
Name[pt_BR]=Plugin de processo aberto do Simon
Name[sk]=Plugin otvorených procesov Simon
Name[sl]=Vstavek Simon za odprta opravila
Name[sv]=Simon insticksprogram för öppnad process
Name[uk]=Додаток відкритих процесів Simon
Name[x-test]=xxSimon Process Opened Pluginxx
Name[zh_TW]=Simon 開啟行程外掛程式
Comment=Checks for opened process
Comment[ca]=Comprova si hi ha processos oberts
Comment[ca@valencia]=Comprova si hi ha processos oberts
Comment[cs]=Ověřuje otevřené procesy
Comment[da]=Tjekker opened-processen
Comment[de]=Prüft nach geöffneten Prozessen
Comment[el]=Ελέγχει για ανοιχτές διεργασίες
Comment[es]=Comprueba los procesos abiertos
Comment[et]=Avatud protsessi kontrollimine
Comment[fi]=Tarkistaa avatut prosessit
Comment[fr]=Vérifie les processus ouverts
Comment[gl]=Comproba que procesos están abertos
Comment[hu]=Megnyitott folyamatot ellenőriz
Comment[it]=Controlla il processo aperto
Comment[kk]=Ашылған процесті тексеру
Comment[nl]=Controleert op een geopend proces
Comment[pl]=Poszukuje otwartych procesów
Comment[pt]=Verifica qual o processo aberto
Comment[pt_BR]=Verifica qual o processo aberto
Comment[sk]=Skontroluje otvorené procesy
Comment[sl]=Preveri odprta opravila
Comment[sv]=Söker efter öppnad process
Comment[uk]=Перевірка відкритих процесів
Comment[x-test]=xxChecks for opened processxx
Comment[zh_TW]=檢查已開啟的行程

X-KDE-PluginInfo-Author=Adam Nash
X-KDE-PluginInfo-Email=adam.t.nash@gmail.com
X-KDE-PluginInfo-Name=simonprocessopenedconditionplugin
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://userbase.kde.org/Simon
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-ParentApp=simon
