[Desktop Entry]
Type=Service
Icon=text-field
ServiceTypes=simon/ConditionPlugin
X-KDE-Library=simonprocessopenedconditionplugin
Name=simon Process Opened Plugin
Name[ca]=Connector de procés obert per a «simon»
Name[el]=Πρόσθετο ανοιχτών διεργασιών του simon
Name[et]=Simoni protsessi avamise plugin
Name[fi]=simon prosessi avattu-liitännäinen
Name[fr]=Module externe de procsessus ouverts pour simon
Name[gl]=Engadido de procesos abertos do simon
Name[pl]=Wtyczka otwartego procesu simon
Name[pt]='Plugin' de Processo Aberto do Simon
Name[pt_BR]=Plugin de processo aberto do simon
Name[sv]=Simon insticksprogram för öppnad process
Name[uk]=Додаток відкритих процесів simon
Name[x-test]=xxsimon Process Opened Pluginxx
Comment=Checks for opened process
Comment[ca]=Comprova si hi ha processos oberts
Comment[de]=Prüft nach geöffneten Prozessen
Comment[el]=Ελέγχει για ανοιχτές διεργασίες
Comment[et]=Avatud protsessi kontrollimine
Comment[fi]=Tarkistaa avatut prosessit
Comment[fr]=Vérifie les processsus ouverts
Comment[gl]=Comproba que procesos están abertos
Comment[pl]=Poszukuje otwartych procesów
Comment[pt]=Verifica qual o processo aberto
Comment[pt_BR]=Verifica qual o processo aberto
Comment[sv]=Söker efter öppnad process
Comment[uk]=Перевірка відкритих процесів
Comment[x-test]=xxChecks for opened processxx

X-KDE-PluginInfo-Author=Adam Nash
X-KDE-PluginInfo-Email=adam.t.nash@gmail.com
X-KDE-PluginInfo-Name=simonprocessopenedconditionplugin
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://simon-listens.org
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-ParentApp=simon
