[Desktop Entry]
Type=Service
Icon=akonadi
ServiceTypes=simon/CommandPlugin
X-KDE-Library=simonakonadicommandplugin
Name=simon Akonadi Command Plugin
Comment=Provides a way to create schedule commands for later execution

X-KDE-PluginInfo-Author=Peter Grasch
X-KDE-PluginInfo-Email=support@simon-listens.org
X-KDE-PluginInfo-Name=simonakonadiplugin
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://simon-listens.org
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
X-KDE-ParentApp=simon
