[Desktop Entry]
Type=Service
Icon=akonadi
ServiceTypes=simon/CommandPlugin
X-KDE-Library=simonakonadicommandplugin
Name=simon Akonadi Command Plugin
Name[de]=Akonadi-Befehlsmodul für Simon
Name[nl]=Plugin van simon Akonadi-commando
Name[pt]='Plugin' de Comandos do Akonadi para o Simon
Name[pt_BR]=Plugin de comandos do Akonadi para o simon
Name[uk]=Додаток команд Akonadi simon
Name[x-test]=xxsimon Akonadi Command Pluginxx
Comment=Provides a way to create schedule commands for later execution
Comment[pt]=Oferece uma forma de criar Akonadi's interactivos com o utilizador
Comment[pt_BR]=Oferece uma forma de criar akonadis interativos com o usuário
Comment[uk]=Надає змогу створювати інтерактивні записи akonadi користувача
Comment[x-test]=xxProvides a way to create interactive akonadis with the userxx

X-KDE-PluginInfo-Author=Peter Grasch
X-KDE-PluginInfo-Email=support@simon-listens.org
X-KDE-PluginInfo-Name=simonakonadiplugin
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://simon-listens.org
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
X-KDE-ParentApp=simon
