[Desktop Entry]
Type=Service
Icon=akonadi
ServiceTypes=simon/CommandPlugin
X-KDE-Library=simonakonadicommandplugin
Name=Simon Akonadi Command Plugin
Name[ca]=Connector per a ordres de Akonadi del Simon
Name[ca@valencia]=Connector per a ordes d'Akonadi del Simon
Name[cs]=Modul příkazů pro Akonadi pro Simon
Name[da]=Simon-plugin til Akonadi-kommandoer
Name[de]=Akonadi-Befehlsmodul für Simon
Name[el]=Πρόσθετο εντολών Akonadi για το Simon
Name[es]=Complemento de órdenes Akonadi de Simon
Name[et]=Simoni Akonadi käsuplugin
Name[fi]=Simon Akondi-komentoliitännäinen
Name[fr]=Module externe de commande Akonadi pour « Simon »
Name[gl]=Complemento de ordes de Akonadi para Simon
Name[hu]=Simon Akonadi parancs bővítmény
Name[it]=Estensione Simon per il comando Akonadi
Name[nl]=Commando-plugin van Simon Akonadi
Name[pl]=Wtyczka poleceń Akonadi dla Simon
Name[pt]='Plugin' de Comandos do Akonadi para o Simon
Name[pt_BR]=Plugin de comandos do Akonadi para o Simon
Name[sk]=Plugin príkazu Akonadi Simon
Name[sl]=Ukazni vstavek Simon Akonadi
Name[sv]=Simon Akonadi kommandoinsticksprogram
Name[uk]=Додаток команд Akonadi Simon
Name[x-test]=xxSimon Akonadi Command Pluginxx
Name[zh_TW]=Simon Akonadi 指令外掛程式
Comment=Provides a way to create schedule commands for later execution
Comment[ca]=Proporciona una forma per crear ordres de calendari per a una execució posterior
Comment[ca@valencia]=Proporciona una forma per crear ordes de calendari per a una execució posterior
Comment[cs]=Nabízí možnost vytvořit naplánované příkazy pro pozdější provedení
Comment[da]=Giver en måde at oprette planer for kommandoer til senere udførelse
Comment[de]=Bietet die Möglichkeit, zeitgesteuerte Befehle zur späteren Ausführung zu erstellen
Comment[el]=Παρέχει τρόπο δημιουργίας χρονικού προγραμματισμού εντολών για μεταγενέστερη εκτέλεση
Comment[es]=Proporciona un modo para crear órdenes planificadas para ejecución posterior
Comment[et]=Võimalus luua ajastatud käske hilisemaks sooritamiseks
Comment[fi]=Tarjoaa tavan luoda aikataulutettuja komentoja myöhemmin suoritettavaksi
Comment[fr]=Fournit un moyen de créer des commandes programmées pour une exécution ultérieure
Comment[gl]=Fornece unha maneira de crear ordes programadas para executar con posterioridade
Comment[hu]=Egy módot ad ütemezési parancsok létrehozására későbbi végrehajtáshoz
Comment[nl]=Biedt een manier om commando's te plannen voor latere uitvoering
Comment[pl]=Zapewnia sposób na utworzenie poleceń zaplanowanych na późniejsze wykonanie
Comment[pt]=Oferece uma forma de criar comandos de calendarização para uma execução posterior
Comment[pt_BR]=Oferece uma forma para criar comandos agendados para posterior execução
Comment[sk]=Poskytuje spôsob na vytvorenie rozvrhu príkazov na neskoršie spustenie
Comment[sl]=Ponuja način za ustvarjanje razporeda ukazov za poznejše izvajanje
Comment[sv]=Erbjuder ett sätt att skapa schemalagda kommandon att utföra senare
Comment[uk]=Надає змогу створювати команди з відкладеним виконанням
Comment[x-test]=xxProvides a way to create schedule commands for later executionxx
Comment[zh_TW]=提供一個建立排程指令以便稍後執行的方法

X-KDE-PluginInfo-Author=Peter Grasch
X-KDE-PluginInfo-Email=kde-accessibility@kde.org
X-KDE-PluginInfo-Name=simonakonadiplugin
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://userbase.kde.org/Simon
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
X-KDE-ParentApp=simon
