[Desktop Entry]
Name=SSC
Exec=ssc %i -caption %c
Icon=ssc
Type=Application
X-DocPath=ssc/index.html
X-AppStream-Ignore=true
GenericName=Simon sample collector
Terminal=false
Categories=Qt;KDE;Utility;Accessibility;
X-KDE-StartupNotify=false

