<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE kpartgui SYSTEM "kpartgui.dtd">
<gui name="ssc" version="3">
	<ToolBar name="mainToolBar" >
		<text>Main actions</text>
		<Action name="connect" />
		<Action name="disconnect" />
		<Action name="offline" />
<!-- 		<Action name="adduser" /> -->
		<Action name="users" />
		<Action name="institutions" />
		<Action name="store" />
	</ToolBar>
	<MenuBar>
		<Menu name="sscd">
			<text>Server</text>
			<Action name="connect" />
			<Action name="disconnect" />
			<Action name="offline" />
		</Menu>
		<Menu name="manage">
			<text>Manage</text>
			<Action name="adduser" />
			<Action name="users" />
			<Action name="institutions" />
			<Action name="store" />
		</Menu>

		<Menu name="settings">
			<text>Preferences</text>
			<Action name="configuration" />
		</Menu>
	</MenuBar>
</gui>

