[Desktop Entry]
Name=ksimond
Name[ca]=ksimond
Name[cs]=ksimond
Name[de]=KSimond
Name[el]=ksimond
Name[es]=ksimond
Name[ga]=ksimond
Name[nds]=KSimond
Name[nl]=ksimond
Name[pl]=ksimond
Name[pt]=ksimond
Name[pt_BR]=ksimond
Name[sk]=ksimond
Name[sv]=Ksimond
Name[uk]=ksimond
Name[x-test]=xxksimondxx
Name[zh_CN]=ksimond
Exec=ksimond %i -caption "%c"
Icon=ksimond
Type=Application
X-DocPath=ksimond/index.html
GenericName=KDE Front-End to simond
GenericName[ca]=Frontal del KDE per a «simond»
GenericName[de]=KDE-Programm für Simond
GenericName[el]=Περιβάλλον χρήστη KDE για το simond
GenericName[nl]=KDE-frontend naar simond
GenericName[pl]=Nakładka KDE dla simond
GenericName[pt]=Interface para o KDE do Simond
GenericName[pt_BR]=Interface gráfica do simond para o KDE
GenericName[sv]=KDE gränssnitt för Simond
GenericName[uk]=Графічна оболонка KDE до simond
GenericName[x-test]=xxKDE Front-End to simondxx
GenericName[zh_CN]=simond 的 KDE 前端
Terminal=false
Categories=Qt;KDE;Utility;Accessibility;
X-KDE-StartupNotify=false
