[Desktop Entry]
Name=KSimond
Name[ca]=KSimond
Name[cs]=KSimond
Name[de]=KSimond
Name[el]=KSimond
Name[es]=KSimond
Name[et]=KSimond
Name[fi]=KSimond
Name[fr]=KSimond
Name[ga]=KSimond
Name[gl]=KSimond
Name[hu]=KSimond
Name[it]=KSimond
Name[nds]=KSimond
Name[nl]=KSimond
Name[pl]=KSimond
Name[pt]=KSimond
Name[pt_BR]=KSimond
Name[ro]=KSimond
Name[sk]=KSimond
Name[sl]=KSimond
Name[sv]=Ksimond
Name[uk]=KSimond
Name[x-test]=xxKSimondxx
Name[zh_CN]=KSimond
Exec=ksimond %i -caption "%c"
Icon=ksimond
Type=Application
X-DocPath=ksimond/index.html
GenericName=KDE Front-End to Simond
Terminal=false
Categories=Qt;KDE;Utility;Accessibility;
X-KDE-StartupNotify=false
X-KDE-autostart-condition=ksimondrc:KSimond:AutoStart:false
