[Desktop Entry]
Name=ksimond
Exec=ksimond %i -caption "%c"
Icon=ksimond
Type=Application
X-DocPath=ksimond/index.html
GenericName=KDE Front-End to simond
Terminal=false
Categories=Qt;KDE;Utility;Accessibility;
X-KDE-StartupNotify=false
