[Desktop Entry]
Name=KSimond
Exec=ksimond %i -caption %c
Icon=ksimond
Type=Application
X-DocPath=ksimond/index.html
X-AppStream-Ignore=true
GenericName=KDE Front-End to Simond
Terminal=false
Categories=Qt;KDE;Utility;Accessibility;
X-KDE-StartupNotify=false
