<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE kpartgui SYSTEM "kpartgui.dtd">
<gui name="simon" version="3">
	<ToolBar name="mainToolBar" >
		<text>Main actions</text>
		<Action name="connectActivate" />
		<Separator/>
		<Action name="addword" />
		<Action name="wordlist" />
		<Action name="grammar" />
		<Action name="train" />
		<Action name="commands" />
		<Separator/>
		<Action name="compileModel" />
	</ToolBar>
	
	<MenuBar>
		<Menu name="simond">
			<text>Recognition</text>
			<Action name="connect" />
		</Menu>
			
		<Menu name="modules" >
			<text>Module</text>
			<Action name="addword" />
			<Action name="wordlist" />
			<Action name="grammar" />
			<Action name="train" />
			<Action name="commands" />
		</Menu>
		<Menu name="commands">
			<text>Commands</text>
			<Action name="activate" />
			<ActionList name="command_actionlist" />
		</Menu>
		<Menu name="actions">
			<text>Actions</text>
			<Action name="compileModel" />
		</Menu>
		<Menu name="settings">
			<text>Preferences</text>
			<Action name="configuration" />
		</Menu>
	</MenuBar>
</gui>
