<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE kpartgui SYSTEM "kpartgui.dtd">
<gui name="simon" version="1">
	<ToolBar name="mainToolBar" >
		<text>Main Actions</text>
		<Action name="connectActivate" />
		<Separator/>
		<Action name="addword" />
		<Action name="wordlist" />
		<Action name="train" />
		<Action name="commands" />
		<Separator/>
		<Action name="compileModel" />
	</ToolBar>
	
	<MenuBar>
		<Menu name="juliusd">
			<text>Recognition</text>
			<Action name="connectActivate" />
		</Menu>
			
		<Menu name="modules" >
			<text>Module</text>
			<Action name="addword" />
			<Action name="wordlist" />
			<Action name="train" />
			<Action name="commands" />
		</Menu>
		<Menu name="mode">
			<text>Actions</text>
			<Action name="compileModel" />
			<Action name="systemMode" />
		</Menu>
		<Menu name="settings">
			<text>Preferences</text>
			<Action name="configuration" />
		</Menu>
	</MenuBar>
</gui>
