<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE kpartgui SYSTEM "kpartgui.dtd">
<gui name="simon" version="5">
	<ToolBar name="mainToolBar" >
		<text>Main actions</text>
		<Action name="connectActivate" />
		<Separator/>
		<Action name="wordlist" />
		<Action name="grammar" />
		<Action name="train" />
		<Action name="commands" />
                <Action name="context" />
		<Separator/>
		<Action name="compileModel" />
	</ToolBar>
	<ToolBar name="scenario" >
		<text>Scenario selection</text>
		<!--<Action name="scenarioLabel" />-->
		<Action name="selectScenario" />
		<Action name="manageScenarios" />
	</ToolBar>
	
	<MenuBar>
		<Menu name="scenarios">
			<text>Scenarios</text>
			<Action name="manageScenarios" />
		</Menu>
		<Menu name="simond">
			<text>Recognition</text>
			<Action name="connect" />
		</Menu>
			
		<Menu name="modules" >
			<text>Modules</text>
			<Action name="wordlist" />
			<Action name="grammar" />
			<Action name="train" />
			<Action name="commands" />
                        <Action name="context" />
			<Action name="volumeCalibration" />
		</Menu>
		<Menu name="commands">
			<text>Commands</text>
			<Action name="activate" />
			<ActionList name="command_actionlist" />
		</Menu>
		<Menu name="actions">
			<text>Actions</text>
			<Action name="compileModel" />
		</Menu>
		<Menu name="settings">
			<text>Preferences</text>
			<Action name="configuration" />
		</Menu>
	</MenuBar>
</gui>
