[Desktop Entry]
Type=Service
Icon=view-statistics
X-KDE-ServiceTypes=KCModule
X-KDE-Library=simonmodelmanagementuikcm

X-DocPath=help:/simon/configuration.html#configuration_model

X-KDE-FactoryName=speechmodelmanagementuifactory
X-KDE-ParentComponents=libsimonmodelmanagementui

X-KDE-ParentApp=simon
# X-KDE-System-Settings-Parent-Category=simon

Name=Model Extensions
Name[ca]=Extensions del model
Name[de]=Modell-Erweiterungen
Name[el]=Επεκτάσεις μοντέλου
Name[es]=Extensiones del modelo
Name[et]=Mudelilaiendused
Name[fi]=Mallilaajennokset
Name[fr]=Extensions des modèles
Name[gl]=Extensións do modelo
Name[hu]=Modell kiterjesztések
Name[it]=Estensioni del modello
Name[nl]=Modelextensies
Name[pl]=Rozszerzenia modeli
Name[pt]=Extensões do Modelo
Name[pt_BR]=Extensões do modelo
Name[sl]=Razširitve modela
Name[sv]=Modellutökningar
Name[uk]=Розширення моделі
Name[x-test]=xxModel Extensionsxx

#X-KDE-PluginKeyword=ModelSettings

Comment=Configuration of the Simon speech model extensions
