[Desktop Entry]
Type=Service
Icon=view-statistics
X-KDE-ServiceTypes=KCModule
X-KDE-Library=simonmodelmanagementuikcm

X-DocPath=help:/simon/configuration.html#configuration_model

X-KDE-FactoryName=speechmodelmanagementuifactory
X-KDE-ParentComponents=libsimonmodelmanagementui

X-KDE-ParentApp=simon
# X-KDE-System-Settings-Parent-Category=simon

Name=Model Extensions
Name[ca]=Extensions del model
Name[da]=Modeludvidelser
Name[de]=Modell-Erweiterungen
Name[el]=Επεκτάσεις μοντέλου
Name[es]=Extensiones del modelo
Name[et]=Mudelilaiendused
Name[fi]=Mallilaajennokset
Name[fr]=Extensions des modèles
Name[gl]=Extensións do modelo
Name[hu]=Modell kiterjesztések
Name[it]=Estensioni del modello
Name[nl]=Modelextensies
Name[pl]=Rozszerzenia modeli
Name[pt]=Extensões do Modelo
Name[pt_BR]=Extensões do modelo
Name[sl]=Razširitve modela
Name[sv]=Modellutökningar
Name[uk]=Розширення моделі
Name[x-test]=xxModel Extensionsxx

#X-KDE-PluginKeyword=ModelSettings

Comment=Configuration of the Simon speech model extensions
Comment[ca]=Configuració de les extensions del model de pronunciació per a Simon
Comment[da]=Konfiguration af udvidelser til Simons talemodeller
Comment[de]=Konfiguration der Simon-Sprachmodellerweiterungen
Comment[el]=Διαμόρφωση των επεκτάσεων του μοντέλου ομιλίας του Simon
Comment[et]=Simoni kõnemudelite laienduste seadistused
Comment[hu]=A Simon beszéd modell kiterjesztések beállítása
Comment[nl]=Configuratie van de extensies van het Simon spraakmodel
Comment[pt]=Configuração das extensões do modelo de fala do Simon
Comment[pt_BR]=Configuração das extensões do modelo de fala do Simon
Comment[sv]=Inställning av Simons talmodellutökningar
Comment[uk]=Налаштування розширень моделі мовлення Simon
Comment[x-test]=xxConfiguration of the Simon speech model extensionsxx
