[Desktop Entry]
Type=Service
Icon=view-pim-news
X-KDE-ServiceTypes=KCModule
X-KDE-Library=simonscenarioskcm

X-DocPath=help:/simon/configuration.html#configuration_speechmodel

X-KDE-FactoryName=speechmodelsettingsfactory
X-KDE-ParentComponents=libsimonscenarios

X-KDE-ParentApp=simon

Name=Speech Model
Name[bs]=Model Govora
Name[ca]=Model de pronunciació
Name[ca@valencia]=Model de pronunciació
Name[cs]=Model řeči
Name[da]=Talemodel
Name[de]=Sprachmodell
Name[el]=Μοντέλο ομιλίας
Name[en_GB]=Speech Model
Name[es]=Modelo de habla
Name[fi]=Puhemalli
Name[fr]=Modèle de paroles
Name[gl]=Modelo de fala
Name[hu]=Beszéd modell
Name[it]=Modello vocale
Name[kk]=Сөйлеу моделі
Name[nl]=Spraakmodel
Name[pl]=Model mowy
Name[pt]=Modelo de Fala
Name[pt_BR]=Modelo de fala
Name[sk]=Model reči
Name[sl]=Model govora
Name[sv]=Talmodell
Name[uk]=Модель мовлення
Name[x-test]=xxSpeech Modelxx
Name[zh_CN]=语音模式
Name[zh_TW]=語音模型

Comment=Configuration of the Simon Speech Model
Comment[bs]=Konfiguracija Simon Modela Govora
Comment[ca]=Configuració del model de pronunciació per a Simon
Comment[ca@valencia]=Configuració del model de pronunciació per a Simon
Comment[cs]=Nastavení modelů řeči Simon
Comment[da]=Konfiguration af Simons talemodel
Comment[de]=Einrichtung des Simon-Sprachmodells
Comment[el]=Διαμόρφωση του μοντέλου ομιλίας του Simon
Comment[en_GB]=Configuration of the Simon Speech Model
Comment[es]=Configuración del modelo de voz de Simon
Comment[fi]=Simonin puhemalliasetukset
Comment[fr]=Configuration du modèle de paroles de « Simon »
Comment[gl]=Configuración do modelo de fala de Simon.
Comment[hu]=A Simon beszéd modell beállítása
Comment[it]=Configurazione del modello vocale di Simon
Comment[kk]=Simon-ның сөйлеу моделін баптау
Comment[nl]=Configuratie van het Simon spraakmodel
Comment[pl]=Konfiguracja modelu mowy dla Simon
Comment[pt]=Configuração do modelo de fala do Simon
Comment[pt_BR]=Configuração do modelo de fala do Simon
Comment[sk]=Nastavenie prevodu textu na reč
Comment[sl]=Nastavitev modela govora za Simon
Comment[sv]=Inställning av Simons talmodell
Comment[uk]=Налаштування моделі мовлення Simon
Comment[x-test]=xxConfiguration of the Simon Speech Modelxx
Comment[zh_TW]=設定 Simon 語音模型

