[Desktop Entry]
Type=Service
Icon=view-pim-news
X-KDE-ServiceTypes=KCModule
X-KDE-Library=simonscenarioskcm

X-DocPath=help:/simon/configuration.html#configuration_speechmodel

X-KDE-FactoryName=speechmodelsettingsfactory
X-KDE-ParentComponents=libsimonscenarios

X-KDE-ParentApp=simon

Name=Speech Model

Comment=Configuration of the simon Speech Model

