[Desktop Entry]
Type=Service
Icon=view-pim-news
X-KDE-ServiceTypes=KCModule
X-KDE-Library=simonscenarioskcm

X-DocPath=help:/simon/configuration.html#configuration_speechmodel

X-KDE-FactoryName=speechmodelsettingsfactory
X-KDE-ParentComponents=libsimonscenarios

X-KDE-ParentApp=simon
X-KDE-System-Settings-Parent-Category=simon


Name=Speech Model
Name[de]=Sprachmodell
Name[fr]=Modèle vocal

Comment=Configuration of simons Speech Model
Comment[de]=Konfiguration des Sprachmodells von simon
Comment[fr]=Configuration du modèle vocal de simon

