[Desktop Entry]
Type=Service
Icon=view-filter
ServiceTypes=simon/CommandPlugin
X-KDE-Library=simonfilterplugin
Name=Simon Filter Plugin
Name[ca]=Connector per a filtre del Simon
Name[ca@valencia]=Connector per a filtre del Simon
Name[cs]=Filtrovací modul pro Simon
Name[da]=Simon-plugin til filtrerting
Name[de]=Filtermodul für Simon
Name[el]=Πρόσθετο φιλτραρίσματος για το simon
Name[es]=Complemento de filtros de Simon
Name[et]=Simoni filtriplugin
Name[fi]=Simon-suodatinliitännäinen
Name[gl]=Complemento de filtros para Simon
Name[hu]=Simon szűrő bővítmény
Name[nl]=Plug-in voor Simon Filter
Name[pl]=Wtyczka Filtra Simon
Name[pt]='Plugin' de Filtragem do Simon
Name[pt_BR]=Plugin de filtragem do Simon
Name[sk]=Plugin filtra Simon
Name[sl]=Vstavek Simon Filter
Name[sv]=Simon filterinsticksprogram
Name[uk]=Додаток фільтрування Simon
Name[x-test]=xxSimon Filter Pluginxx
Name[zh_TW]=Simon 過濾器外掛程式
Comment=Filters recognition results
Comment[ca]=Filtra els resultats del reconeixement
Comment[ca@valencia]=Filtra els resultats del reconeixement
Comment[cs]=Filtruje výsledky rozpoznávání
Comment[da]=Filtrerer genkendelsesresultater
Comment[de]=Erkennungsergebnis des Filters
Comment[el]=Φιλτράρει αποτελέσματα αναγνώρισης
Comment[es]=Resultados de reconocimiento de filtros
Comment[et]=Kõnetuvastuse tulemuste filtreerimine
Comment[fi]=Suodattaa tunnistustuloksia
Comment[fr]=Filtre les résultats de la reconnaissance
Comment[gl]=Resultados de recoñecemento de filtros
Comment[hu]=Felismerési eredményeket szűr
Comment[it]=Filtra i risultati di riconoscimento
Comment[nl]=Filtert herkende resultaten
Comment[pl]=Filtruje wyniki rozpoznawania
Comment[pt]=Filtra os resultados do reconhecimento
Comment[pt_BR]=Filtra os resultados do reconhecimento
Comment[sl]=Rezultati prepoznavanja Filtrov
Comment[sv]=Filtrerar igenkänningsresultat
Comment[uk]=Додаток фільтрування результатів розпізнавання
Comment[x-test]=xxFilters recognition resultsxx
Comment[zh_TW]=過濾辨識結果

X-KDE-PluginInfo-Author=Peter Grasch
X-KDE-PluginInfo-Email=peter.grasch@bedahr.org
X-KDE-PluginInfo-Name=simoncommandfilter
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://userbase.kde.org/Simon
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
X-KDE-ParentApp=simon
