[Desktop Entry]
Type=Service
Icon=view-filter
ServiceTypes=simon/CommandPlugin
X-KDE-Library=simonfilterplugin
Name=simon Filter Plugin
Name[de]=Filtermodul für Simon
Name[pt]='Plugin' de Filtragem do Simon
Name[pt_BR]=Plugin de filtragem do simon
Name[sv]=Simon filterinsticksprogram
Name[uk]=Додаток фільтрування simon
Name[x-test]=xxsimon Filter Pluginxx
Comment=Filters recognition results
Comment[pt]=Filtra os resultados do reconhecimento
Comment[pt_BR]=Filtra os resultados do reconhecimento
Comment[sv]=Filtrerar igenkänningsresultat
Comment[uk]=Додаток фільтрування результатів розпізнавання
Comment[x-test]=xxFilters recognition resultsxx

X-KDE-PluginInfo-Author=Peter Grasch
X-KDE-PluginInfo-Email=grasch@simon-listens.org
X-KDE-PluginInfo-Name=simoncommandfilter
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://simon-listens.org
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
X-KDE-ParentApp=simon
