[Desktop Entry]
Type=Service
Icon=view-filter
ServiceTypes=simon/CommandPlugin
X-KDE-Library=simonfilterplugin
Name=simon Filter Plugin
Name[ca]=Connector de filtre per a «simon»
Name[de]=Filtermodul für Simon
Name[el]=Πρόσθετο φίλτρου του simon
Name[et]=Simoni filtriplugin
Name[fi]=simon-suodatinliitännäinen
Name[fr]=Module externe de filtre pour simon
Name[gl]=Engadido de filtros do simon
Name[it]=Estensione simon per il filtraggio
Name[nl]=Plug-in voor simon Filter
Name[pl]=Wtyczka Filtra simon
Name[pt]='Plugin' de Filtragem do Simon
Name[pt_BR]=Plugin de filtragem do simon
Name[sv]=Simon filterinsticksprogram
Name[uk]=Додаток фільтрування simon
Name[x-test]=xxsimon Filter Pluginxx
Comment=Filters recognition results
Comment[ca]=Filtra els resultats del reconeixement
Comment[de]=Erkennungsergebnis des Filters
Comment[el]=Φιλτράρει αποτελέσματα αναγνώρισης
Comment[et]=Kõnetuvastuse tulemuste filtreerimine
Comment[fi]=Suodattaa tunnistustuloksia
Comment[fr]=Filtre les résultats de la reconnaissance
Comment[gl]=Resultados de recoñecemento de filtros
Comment[it]=Filtra i risultati di riconoscimento
Comment[nl]=Filtert herkende resultaten
Comment[pl]=Filtruje wyniki rozpoznawania
Comment[pt]=Filtra os resultados do reconhecimento
Comment[pt_BR]=Filtra os resultados do reconhecimento
Comment[sv]=Filtrerar igenkänningsresultat
Comment[uk]=Додаток фільтрування результатів розпізнавання
Comment[x-test]=xxFilters recognition resultsxx

X-KDE-PluginInfo-Author=Peter Grasch
X-KDE-PluginInfo-Email=peter.grasch@bedahr.org
X-KDE-PluginInfo-Name=simoncommandfilter
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://userbase.kde.org/Simon
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
X-KDE-ParentApp=simon
