[Desktop Entry]
Type=Service
Icon=view-filter
X-KDE-ServiceTypes=KCModule
X-KDE-Library=simonfilterplugin

X-KDE-PluginKeyword=simonfilterpluginconfig
X-KDE-FactoryName=simonfilterpluginconfig
X-KDE-ParentComponents=simonfilterplugin

X-KDE-ParentApp=simon
X-KDE-System-Settings-Parent-Category=simon


Name=Filter
Name[de]=Filter

Comment=Configuration of simons filter-plugin
Comment[de]=Konfiguration des Filter-Plug-Ins von simon

