[Desktop Entry]
Type=Service
Icon=applications-education-language
X-KDE-ServiceTypes=KCModule
X-KDE-Library=libsimonmodelcompilation

X-KDE-FactoryName=modelcompilationsettingsfactory
X-KDE-ParentComponents=libsimonmodelcompilation

X-KDE-ParentApp=simon
X-KDE-System-Settings-Parent-Category=simon


Name=Speech Model Compilation
Name[de]=Sprachmodell Erstellung

Comment=Configuration of simons Speech-Model-Compilation
Comment[de]=Konfiguration der Sprachmodell-Erstellung von simon