[Desktop Entry]
Type=Service
Icon=system-run
ServiceTypes=simon/CommandPlugin
X-KDE-Library=simonlistcommandplugin
Name=simon Composite Command Plugin
Name[ca]=Connector d'ordres de Composició per a «simon»
Name[de]=Composite-Befehlsmodul für Simon
Name[el]=Πρόσθετο σύνθετων εντολών του simon
Name[pl]=Wtyczka poleceń kompozytowych dla simon
Name[pt]='Plugin' de Comandos Compostos do Simon
Name[pt_BR]=Plugin de comandos compostos do simon
Name[sv]=Simon insticksprogram för sammansatta kommandon
Name[uk]=Додаток складених команд simon
Name[x-test]=xxsimon Composite Command Pluginxx
Comment=Combines multiple commands into one
Comment[ca]=Combina múltiples ordres en una sola
Comment[de]=Kombiniert mehrere Befehle zu einem
Comment[el]=Συνδυάζει πολλές εντολές σε μία
Comment[pl]=Składa wiele poleceń w jedno
Comment[pt]=Combina vários comandos num único
Comment[pt_BR]=Combina vários comandos em um único
Comment[sv]=Kombinerar flera kommandon till ett
Comment[uk]=Поєднує декілька команд у одну
Comment[x-test]=xxCombines multiple commands into onexx

X-KDE-PluginInfo-Author=Peter Grasch
X-KDE-PluginInfo-Email=grasch@simon-listens.org
X-KDE-PluginInfo-Name=simonlistcommandplugin
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://simon-listens.org
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-ParentApp=simon
