[Desktop Entry]
Type=Service
Icon=system-run
ServiceTypes=simon/CommandPlugin
X-KDE-Library=simonlistcommandplugin
Name=Simon Composite Command Plugin
Name[ca]=Connector d'ordres compostes per a Simon
Name[nl]=Commando-plug-in voor Simon Composite
Name[pt]='Plugin' de Comandos Compostos do Simon
Name[pt_BR]=Plugin de comandos compostos do Simon
Name[uk]=Додаток складених команд Simon
Name[x-test]=xxSimon Composite Command Pluginxx
Comment=Combines multiple commands into one
Comment[ca]=Combina múltiples ordres en una sola
Comment[da]=Kombinerer flere kommandoer til én
Comment[de]=Kombiniert mehrere Befehle zu einem
Comment[el]=Συνδυάζει πολλές εντολές σε μία
Comment[et]=Võimaldab mitu käsku üheks liita
Comment[fi]=Yhdistää useita komentoja yhdeksi
Comment[fr]=Combine plusieurs commandes en une
Comment[gl]=Combina varias ordes nunha
Comment[it]=Combina più comandi in uno
Comment[nl]=Ccombineert meerdere commando's in één
Comment[pl]=Składa wiele poleceń w jedno
Comment[pt]=Combina vários comandos num único
Comment[pt_BR]=Combina vários comandos em um único
Comment[ro]=Combină mai multe comenzi în una
Comment[sl]=Spoji več ukazov v enega
Comment[sv]=Kombinerar flera kommandon till ett
Comment[uk]=Поєднує декілька команд у одну
Comment[x-test]=xxCombines multiple commands into onexx

X-KDE-PluginInfo-Author=Peter Grasch
X-KDE-PluginInfo-Email=peter.grasch@bedahr.org
X-KDE-PluginInfo-Name=simonlistcommandplugin
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://userbase.kde.org/Simon
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-ParentApp=simon
