HADAPT:TRANSKIND		= MLLRMEAN
HADAPT:USEBIAS			= TRUE
HADAPT:REGTREE			= rtree.tree
HADAPT:ADAPTKIND 		= TREE
HADAPT:SPLITTHRESH		= 1000.0
HADAPT:KEEPXFORMDISTINCT	= TRUE
HADAPT:TRACE 			= 61
HMODEL:TRACE			= 512


HADAPT:SAVESPKRMODELS 		= TRUE
HADAPT:SAVEFULLC 		= TRUE

