<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE kpartgui SYSTEM "kpartgui.dtd">
<gui name="simonpronunciationplugin" version="1">
	<MenuBar>
		<Menu name="commands">
			<text>Commands</text>
			<Action name="simonpronunciationtrainingplugin" />
		</Menu>
	</MenuBar>
</gui>
