[Desktop Entry]
Type=Service
Icon=applications-education
ServiceTypes=simon/CommandPlugin
X-KDE-Library=simonpronunciationtrainingplugin
Name=simon pronunciation training Plugin
Name[pt]='Plugin' de treino de pronúncia do Simon
Name[uk]=Додаток навчання вимові simon
Name[x-test]=xxsimon pronunciation training Pluginxx
Comment=Educational software to train the pronuncation of a foreign language
Comment[es]=Software educativo para entrenar la pronunciación de un idioma extranjero
Comment[pt]=Aplicação educativa para treinar a pronúncia de uma língua estrangeira
Comment[uk]=Програмне забезпечення для навчання вимові різними мовами
Comment[x-test]=xxEducational software to train the pronuncation of a foreign languagexx

X-KDE-PluginInfo-Author=Peter Grasch
X-KDE-PluginInfo-Email=grasch@simon-listens.org
X-KDE-PluginInfo-Name=simoncommandpronunciationtraining
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://simon-listens.org
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-ParentApp=simon
