[Desktop Entry]
Type=Service
Icon=applications-education
ServiceTypes=simon/CommandPlugin
X-KDE-Library=simonpronunciationtrainingplugin
Name=Simon pronunciation training Plugin
Name[ca]=Connector per a entrenament de la pronunciació del Simon
Name[ca@valencia]=Connector per a entrenament de la pronunciació del Simon
Name[cs]=Modul pro procvičování výslovnosti pro Simon
Name[da]=Simon-plugin til udtaletræning
Name[de]=Aussprachetrainingsmodul für Simon
Name[el]=Πρόσθετο εκμάθησης προφοράς για το Simon
Name[es]=Complemento de entrenamiento de pronunciación de Simon
Name[et]=Simoni häälduse harjutamise plugin
Name[gl]=Complemento de adestramento da pronuncia para Simon
Name[hu]=Simon kiejtés gyakorlás bővítmény
Name[nl]=Plug-in voor Simon uitspraaktraining
Name[pl]=Wtyczka treningu wymowy dla Simon
Name[pt]='Plugin' de treino de pronúncia do Simon
Name[pt_BR]=Plugin de treino de pronúncia do Simon
Name[sl]=vstavek Simon za učenje izgovorjave
Name[sv]=Simon insticksprogram för uttalsövning
Name[uk]=Додаток навчання вимові Simon
Name[x-test]=xxSimon pronunciation training Pluginxx
Name[zh_TW]=Simon 發音訓練外掛程式
Comment=Educational software to train the pronuncation of a foreign language
Comment[ca]=Programari educatiu per entrenar la pronunciació d'una llengua estrangera
Comment[ca@valencia]=Programari educatiu per entrenar la pronunciació d'una llengua estrangera
Comment[cs]=Vzdělávací program na procvičování výslovnosti cizího jazyka
Comment[da]=Undervisningsprogram til at træne udtale af et fremmedsprog
Comment[de]=Ausbildungssoftware zum Üben der Aussprache einer fremden Sprache
Comment[el]=Εκπαιδευτικό λογισμικό εκμάθησης της προφοράς μιας ξένης γλώσσας
Comment[es]=Aplicación educativa para entrenar la pronunciación de un idioma extranjero
Comment[et]=Õpitarkvara võõrkeele häälduse harjutamiseks
Comment[fi]=Koulutusohjelmisto vieraan kielen ääntämisen harjoittelemiseksi
Comment[fr]=Logiciel pédagogique pour s'entraîner à la prononciation d'une langue étrangère
Comment[gl]=Software educativo para adestrar na pronuncia dunha lingua estranxeira
Comment[hu]=Oktatási szoftver idegen nyelvek kiejtésének gyakorlásához
Comment[it]=Software educativo per l'allenamento della pronuncia di una lingua straniera
Comment[nl]=Onderwijssoftware voor het trainen van het uitspreken van een vreemde taal
Comment[pl]=Oprogramowanie edukacyjne do trenowania wymowy w obcych językach
Comment[pt]=Aplicação educativa para treinar a pronúncia de uma língua estrangeira
Comment[pt_BR]=Software educacional para treinar a pronúncia de um idioma estrangeiro
Comment[sl]=Izobraževalna programska oprema za učenje izgovorjave tujega jezika
Comment[sv]=Utbildningsprogramvara för att öva på uttal på ett främmande språk
Comment[uk]=Програмне забезпечення для навчання вимові різними мовами
Comment[x-test]=xxEducational software to train the pronuncation of a foreign languagexx
Comment[zh_TW]=訓練外語發音的教育軟體

X-KDE-PluginInfo-Author=Peter Grasch
X-KDE-PluginInfo-Email=peter.grasch@bedahr.org
X-KDE-PluginInfo-Name=simoncommandpronunciationtraining
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://userbase.kde.org/Simon
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-ParentApp=simon
