[Desktop Entry]
Type=Service
Icon=im-user
ServiceTypes=simon/CommandPlugin
X-KDE-Library=simondialogcommandplugin
Name=simon Dialog Command Plugin
Name[ca]=Connector d'ordres de Diàleg per a «simon»
Name[de]=Dialog-Befehlsmodul für Simon
Name[el]=Πρόσθετο εντολών διαλόγου του simon
Name[pl]=Wtyczka poleceń okna dialogowego dla simon
Name[pt]='Plugin' de Comandos de Janelas do Simon
Name[pt_BR]=Plugin de comandos de janelas do simon
Name[sv]=Simon kommandoinsticksprogram för dialogrutor
Name[uk]=Додаток команд у діалогових вікнах simon
Name[x-test]=xxsimon Dialog Command Pluginxx
Comment=Provides a way to create interactive dialogs with the user
Comment[ca]=Proporciona una manera per crear diàlegs interactius amb l'usuari
Comment[de]=Bietet die Möglichkeit, interaktive Dialoge mit dem Benutzer zu erstellen
Comment[el]=Παρέχει τρόπο δημιουργίας διαδραστικών διαλόγων με τον χρήστη
Comment[pl]=Zapewnia sposób utworzenia okien dialogowych interaktywnych z użytkownikiem
Comment[pt]=Oferece uma forma de criar janelas interactivas com o utilizador
Comment[pt_BR]=Oferece uma forma de criar janelas interativas com o usuário
Comment[sv]=Erbjuder ett sätt att skapa interaktiva dialogrutor för användaren
Comment[uk]=Надає змогу створювати інтерактивні діалогові вікна
Comment[x-test]=xxProvides a way to create interactive dialogs with the userxx

X-KDE-PluginInfo-Author=Peter Grasch
X-KDE-PluginInfo-Email=support@simon-listens.org
X-KDE-PluginInfo-Name=simondialogplugin
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://simon-listens.org
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
X-KDE-ParentApp=simon
