[Desktop Entry]
Type=Service
Icon=im-user
ServiceTypes=simon/CommandPlugin
X-KDE-Library=simondialogcommandplugin
Name=simon Dialog Command Plugin
Name[pt]='Plugin' de Comandos de Janelas do Simon
Name[uk]=Додаток команд у діалогових вікнах simon
Name[x-test]=xxsimon Dialog Command Pluginxx
Comment=Provides a way to create interactive dialogs with the user
Comment[pt]=Oferece uma forma de criar janelas interactivas com o utilizador
Comment[uk]=Надає змогу створювати інтерактивні діалогові вікна
Comment[x-test]=xxProvides a way to create interactive dialogs with the userxx

X-KDE-PluginInfo-Author=Peter Grasch
X-KDE-PluginInfo-Email=support@simon-listens.org
X-KDE-PluginInfo-Name=simondialogplugin
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://simon-listens.org
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
X-KDE-ParentApp=simon
