[Desktop Entry]
Type=Service
Icon=text-field
ServiceTypes=simon/ConditionPlugin
X-KDE-Library=simonfacedetectionconditionplugin
Name=Simon Face Detection Plugin
Name[ca]=Connector per a la detecció de rostres del Simon
Name[ca@valencia]=Connector per a la detecció de rostres del Simon
Name[cs]=Modul pro rozpoznání obličeje pro Simon
Name[da]=Simon-plugin til ansigtsgenkendelse
Name[de]=Gesichtserkennungs-Modul für Simon
Name[el]=Πρόσθετο ανίχνευσης προσώπου για το Simon
Name[es]=Complemento de detección de rostros de Simon
Name[et]=Simoni näotuvastusplugin
Name[fi]=Simon kasvontunnistusliitännäinen
Name[fr]=Module externe de détection de faces pour Simon
Name[gl]=Complemento de recoñecemento facial para Simon
Name[hu]=Simon arcfelismerő bővítmény
Name[it]=Estensione Simon per il riconoscimento facciale
Name[nl]=Plug-in voor gezichtsherkenning van Simon
Name[pl]=Wtyczka wykrywania Twarzy
Name[pt]='Plugin' de Detecção de Caras do Simon
Name[pt_BR]=Plugin de detecção de rostos do Simon
Name[sk]=Plugin detekcie tváre Simon
Name[sl]=Vstavek Simon za prepoznavanje obrazov
Name[sv]=Simon insticksprogram för ansiktsdetektering
Name[uk]=Додаток розпізнавання облич Simon
Name[x-test]=xxSimon Face Detection Pluginxx
Name[zh_TW]=Simon 臉孔偵測外掛程式
Comment=Checks for presence of Face
Comment[ca]=Comprova si hi ha presència d'un rostre
Comment[ca@valencia]=Comprova si hi ha presència d'un rostre
Comment[cs]=Kontroluje přítomnost obličeje
Comment[da]=Tjekker forekomsten af et ansigt
Comment[de]=Sucht ein Gesicht
Comment[el]=Ελέγχει για παρουσία προσώπου
Comment[es]=Comprueba la presencia de rostros
Comment[et]=Näo olemasolu kontrollimine
Comment[fi]=Tarkistaa kasvojen läsnäolon
Comment[fr]=Vérifie la présence de face
Comment[gl]=Comproba a presencia dunha cara.
Comment[hu]=Arcok jelenlétét ellenőrzi
Comment[nl]=Controleert op de aanwezigheid van een gezicht
Comment[pl]=Poszukuje obecności Twarzy
Comment[pt]=Detecta a presença de uma cara
Comment[pt_BR]=Verifica a presença de rostos
Comment[sk]=Overí prítomnosť tváre
Comment[sl]=Preveri za navzočnost obraza
Comment[sv]=Söker efter ansiktsnärvaro
Comment[uk]=Перевірка видимості обличчя
Comment[x-test]=xxChecks for presence of Facexx
Comment[zh_TW]=檢查臉孔是否存在
#Name=simon Process Opened Plugin
#Name[pt]='Plugin' de Processo Aberto do Simon
#Name[pt_BR]=Plugin de processo aberto do simon
#Name[sv]=Simon insticksprogram för öppnad process
#Name[uk]=Додаток відкритих процесів simon
#Name[x-test]=xxsimon Process Opened Pluginxx
#Comment=Checks for opened process
#Comment[pt]=Verifica qual o processo aberto
#Comment[pt_BR]=Verifica qual o processo aberto
#Comment[sv]=Söker efter öppnad process
#Comment[uk]=Перевірка відкритих процесів
#Comment[x-test]=xxChecks for opened processxx

X-KDE-PluginInfo-Author=Yash Shah
X-KDE-PluginInfo-Email=blazonware@gmail.com
X-KDE-PluginInfo-Name=simonfacedetectionconditionplugin
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://userbase.kde.org/Simon
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-ParentApp=simon
