[Desktop Entry]
Type=Service
Icon=system-run
ServiceTypes=simon/CommandPlugin
X-KDE-Library=simoninputnumbercommandplugin
Name=simon Input Number Command Plugin
Name[ca]=Connector d'ordres d'introducció numèrica per a «simon»
Name[de]=Zahleneingabe-Befehlsmodul für Simon
Name[el]=Πρόσθετο εντολών εισαγωγής αριθμών του simon
Name[et]=Simoni arvu sisestamise käsuplugin
Name[fi]=simon-syötenumerokomentoliitännäinen
Name[fr]=Module externe de commandes numériques d'entrée pour simon
Name[gl]=Engadido de ordes de entrada de números do simon
Name[nl]=Commando-plug-in voor simon Input Number
Name[pl]=Wtyczka poleceń podawanych liczb dla simon
Name[pt]='Plugin' do Comando de Introdução Numérica do Simon
Name[pt_BR]=Plugin do comando de introdução numérica do simon
Name[sv]=Simon kommandoinsticksprogram för nummerinmatning
Name[uk]=Додаток команд з введення чисел simon
Name[x-test]=xxsimon Input Number Command Pluginxx
Comment=Provides an easy way to spell out any number
Comment[ca]=Proporciona una forma fàcil per escriure qualsevol número
Comment[el]=Παρέχει έναν εύκολο τρόπο εκφώνησης οποιουδήποτε αριθμού
Comment[et]=Võimalus hõlpsasti välja öelda mis tahes arv
Comment[fi]=Tarjoaa helpon tavan tavata numero numerolta minkä tahansa numeron
Comment[fr]=Fournit un moyen facile d''épeler n'importe quel nombre
Comment[gl]=Fornece unha maneira doada de ler calquera número en alto
Comment[it]=Fornisce un metodo semplice per la dettatura dei numeri
Comment[nl]=Biedt een gemakkelijke manier om een getal te spellen
Comment[pl]=Zapewnia łatwy sposób na wymowę każdej liczby
Comment[pt]=Oferece uma forma simples de sintetizar um número qualquer
Comment[pt_BR]=Oferece uma forma simples de soletrar um número qualquer
Comment[sv]=Erbjuder ett enkelt sätt att ange vilket nummer som helst
Comment[uk]=Простий спосіб фільтрування у мовленні будь-яких чисел
Comment[x-test]=xxProvides an easy way to spell out any numberxx

X-KDE-PluginInfo-Author=Peter Grasch
X-KDE-PluginInfo-Email=grasch@simon-listens.org
X-KDE-PluginInfo-Name=simoninputnumbercommandplugin
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://simon-listens.org
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-ParentApp=simon
