[Desktop Entry]
Type=Service
Icon=preferences-desktop-sound
X-KDE-ServiceTypes=KCModule
X-KDE-Library=simonsoundkcm

X-DocPath=help:/simon/configuration.html#soundconfiguration

X-KDE-FactoryName=soundsettingsfactory
X-KDE-ParentComponents=libsimonsound

X-KDE-ParentApp=simon
X-KDE-System-Settings-Parent-Category=simon


Name=Recordings

Comment=Configuration of simons Soundsystem

