[Desktop Entry]
Type=Service
Icon=preferences-desktop-sound
X-KDE-ServiceTypes=KCModule
X-KDE-Library=simonsoundkcm

X-DocPath=help:/simon/configuration.html#soundconfiguration

X-KDE-FactoryName=soundsettingsfactory
X-KDE-ParentComponents=libsimonsound

X-KDE-ParentApp=simon

Name=Recordings
Name[ca]=Enregistraments
Name[de]=Aufnahmen
Name[el]=Ηχογραφήσεις
Name[es]=Grabaciones
Name[et]=Salvestused
Name[fi]=Äänitykset
Name[fr]=Enregistrements
Name[gl]=Gravacións
Name[nl]=Opnamen
Name[pl]=Nagrania
Name[pt]=Gravações
Name[pt_BR]=Gravações
Name[sv]=Inspelning
Name[uk]=Записи
Name[x-test]=xxRecordingsxx

Comment=Configuration of the simon Soundsystem
Comment[ca]=Configuració del sistema de so per a «simon»
Comment[de]=Einrichtung des Simon-Soundsystems
Comment[el]=Διαμόρφωση του ηχητικού συστήματος του simon
Comment[et]=Simoni helisüsteemi seadistamine
Comment[fi]=simon äänijärjestelmän asetukset
Comment[fr]=Configuration du système de sons de simon
Comment[gl]=Configuración do sistema de son do simon
Comment[nl]=Configuratie van de simon geluidssysteem
Comment[pl]=Konfiguracja systemu dźwiękowego simon
Comment[pt]=Configuração do sistema de som do Simon
Comment[pt_BR]=Configuração do sistema de som do simon
Comment[sv]=Inställning av Simons ljudsystem
Comment[uk]=Налаштування звукової системи simon
Comment[x-test]=xxConfiguration of the simon Soundsystemxx

