[Desktop Entry]
Type=Service
Icon=preferences-desktop-text-to-speech
X-KDE-ServiceTypes=KCModule
X-KDE-Library=simonttsconfiguration

X-KDE-FactoryName=ttssettingsfactory
X-KDE-ParentComponents=simonttsconfiguration

X-KDE-ParentApp=simon
X-DocPath=simon/imdex.html#configuration

Name=Text-to-speech
Name[ca]=Text a veu
Name[cs]=Hlasová syntéza
Name[da]=Tekst til tale
Name[de]=Sprachausgabe
Name[el]=Κείμενο-σε-ομιλία
Name[et]=Teksti ettelugemine
Name[fi]=Tekstistä puheeksi
Name[fr]=Synthèse vocale
Name[gl]=Texto-para-voz
Name[hu]=Szövegfelolvasó
Name[nl]=Tekst-naar-spraak
Name[pl]=Tekst-na-mowę
Name[pt]=Texto-para-fala
Name[pt_BR]=Sintetizador de voz
Name[sk]=Text na reč
Name[sl]=Besedilo-v-govor
Name[sv]=Text-till-tal
Name[uk]=Синтез мовлення з тексту
Name[x-test]=xxText-to-speechxx
Name[zh_CN]=文本到语音

Comment=Configuration of the Simon text-to-speech layer
Comment[ca]=Configuració de la capa text a veu per a Simon
Comment[da]=Konfiguration af Simons tekst til tale-lag
Comment[de]=Einrichtung des Simon-Sprachausgabe-Layers
Comment[el]=Διαμόρφωση του στρώματος κείμενο-σε-ομιλία του Simon
Comment[et]=Simoni teksti ettelugemise kihi seadistamine
Comment[hu]=A Simon szövegfelolvasó réteg beállítása
Comment[nl]=Configuratie van de Simon-laag tekst-naar-spraak
Comment[pt]=Configuração da interface de texto-para-fala do Simon
Comment[pt_BR]=Configuração da interface do sintetizador de voz do Simon
Comment[sv]=Inställning av Simons text-till-tal lager
Comment[uk]=Налаштування шару перетворення тексту у мовлення Simon
Comment[x-test]=xxConfiguration of the Simon text-to-speech layerxx

