[Desktop Entry]
Type=Service
Icon=preferences-desktop-text-to-speech
X-KDE-ServiceTypes=KCModule
X-KDE-Library=simonttsconfiguration

X-KDE-FactoryName=ttssettingsfactory
X-KDE-ParentComponents=simonttsconfiguration

X-KDE-ParentApp=simon
X-DocPath=simon/imdex.html#configuration

Name=Text-to-speech

Comment=Configuration of the simon text-to-speech layer

