[Desktop Entry]
Type=Service
Icon=system-run
ServiceTypes=simon/CommandPlugin
X-KDE-Library=simonexecutablecommandplugin
Name=Simon ExecutableCommand Plugin
Name[ca]=Connector d'ordre executable per a Simon
Name[da]=Simon-plugin til udførbare kommandoer
Name[el]=Πρόσθετο ExecutableCommand για το Simon
Name[et]=Simoni käsu käivitamise plugin
Name[nl]=Plug-in voor Simon ExecutableCommand
Name[pt]='Plugin' de Comandos Executáveis do Simon
Name[pt_BR]=Plugin de comandos executáveis do Simon
Name[uk]=Додаток виконуваних команд Simon
Name[x-test]=xxSimon ExecutableCommand Pluginxx
Comment=Execute commands
Comment[ca]=Executa ordres
Comment[da]=Udfører kommandoer
Comment[de]=Befehle ausführen
Comment[el]=Εκτέλεση εντολών
Comment[es]=Ejecutar órdenes
Comment[et]=Käskude käivitamine
Comment[fi]=Suorita komentoja
Comment[fr]=Exécute des commandes
Comment[ga]=Rith orduithe
Comment[gl]=Executar ordes
Comment[it]=Esegue comandi
Comment[nl]=Commando's uitvoeren
Comment[pl]=Wykonaj polecenie
Comment[pt]=Executar comandos
Comment[pt_BR]=Executar comandos
Comment[ro]=Execută comenzi
Comment[sl]=Izvedi ukaze
Comment[sv]=Kör kommandon
Comment[uk]=Виконання команд
Comment[x-test]=xxExecute commandsxx
X-KDE-PluginInfo-Author=Peter Grasch
X-KDE-PluginInfo-Email=peter.grasch@bedahr.org
X-KDE-PluginInfo-Name=simonexecutablecommandplugin
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://userbase.kde.org/Simon
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-ParentApp=simon
