[Desktop Entry]
Type=Service
Icon=system-run
ServiceTypes=simon/CommandPlugin
X-KDE-Library=simonexecutablecommandplugin
Name=simon ExecutableCommand Plugin
Name[de]=simon Ausführbare Dateien Modul
Name[fr]=Module de commande de simon
Comment=Execute commands
Comment[de]=Führe Kommandos aus
Comment[fr]=Exécuter des commandes
X-KDE-PluginInfo-Author=Peter Grasch
X-KDE-PluginInfo-Email=grasch@simon-listens.org
X-KDE-PluginInfo-Name=simonexecutablecommandplugin
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://simon-listens.org
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-ParentApp=simon
