[Desktop Entry]
Type=Service
Icon=system-run
ServiceTypes=simon/CommandPlugin
X-KDE-Library=simonexecutablecommandplugin
Name=Simon ExecutableCommand Plugin
Comment=Execute commands
X-KDE-PluginInfo-Author=Peter Grasch
X-KDE-PluginInfo-Email=peter.grasch@bedahr.org
X-KDE-PluginInfo-Name=simonexecutablecommandplugin
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://userbase.kde.org/Simon
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-ParentApp=simon
