[Desktop Entry]
Type=Service
Icon=text-field
ServiceTypes=simon/CommandPlugin
X-KDE-Library=simonrecognizercommandplugin
Name=Simon Recognizer Plugin
Name[ca]=Connector de reconeixement per a «simon»
Name[de]=Erkennungsmodul für Simon
Name[el]=Πρόσθετο αναγνώρισης του simon
Name[et]=Simoni kõnetuvastuse plugin
Name[fi]=simon tunnistajaliitännäinen
Name[fr]=Module externe de reconnaissance pour simon
Name[gl]=Engadido de recoñecemento do simon
Name[it]=Estensione simon di riconoscimento
Name[nl]=Plug-in voor simon Recognizer
Name[pl]=Wtyczka Rozpoznawania simon
Name[pt]='Plugin' de Reconhecimento do Simon
Name[pt_BR]=Plugin de reconhecimento do simon
Name[sl]=vstavek prepoznave simon
Name[sv]=Simon insticksprogram för igenkänning
Name[uk]=Додаток розпізнавання simon
Name[x-test]=xxsimon Recognizer Pluginxx
Name[zh_CN]=simon 识别插件
Comment=Recognize
Comment[ca]=Reconeix
Comment[de]=Erkennung
Comment[el]=Αναγνωρίζει
Comment[es]=Reconocer
Comment[et]=Kõnetuvastus
Comment[fi]=Tunnista
Comment[fr]=Effectue de la reconnaissance
Comment[gl]=Recoñecer
Comment[nl]=Herkennen
Comment[pl]=Rozpoznaj
Comment[pt]=Reconhecer
Comment[pt_BR]=Reconhecer
Comment[sk]=Rozoznávať
Comment[sl]=Prepoznajte
Comment[sv]=Igenkänning
Comment[uk]=Розпізнати
Comment[x-test]=xxRecognizexx
Comment[zh_CN]=识别

X-KDE-PluginInfo-Author=Adam Nash
X-KDE-PluginInfo-Email=adam.t.nash@gmail.com
X-KDE-PluginInfo-Name=simonrecognizercommandplugin
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://userbase.kde.org/Simon
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
X-KDE-ParentApp=simon
