[Desktop Entry]
Type=Service
Icon=text-field
ServiceTypes=simon/CommandPlugin
X-KDE-Library=simonrecognizercommandplugin
Name=Simon Recognizer Plugin
Name[bs]=Simon Dodatak za Prepoznavanje
Name[ca]=Connector per a reconeixement del Simon
Name[ca@valencia]=Connector per a reconeixement del Simon
Name[cs]=Modul pro rozpoznávání pro Simon
Name[da]=Simon-plugin til genkendelse
Name[de]=Erkennungsmodul für Simon
Name[el]=Πρόσθετο αναγνώρισης για το Simon
Name[en_GB]=Simon Recogniser Plugin
Name[es]=Complemento de reconocimiento de Simon
Name[fi]=Simon tunnistajaliitännäinen
Name[fr]=Module externe de reconnaissance pour « Simon »
Name[gl]=Complemento de recoñecemento para Simon
Name[hu]=Simon felismerő bővítmény
Name[it]=Estensione Simon di riconoscimento
Name[kk]=Simon танығыш плагині
Name[nl]=Plug-in voor Simon Recognizer
Name[pl]=Wtyczka Rozpoznawania Simon
Name[pt]='Plugin' de Reconhecimento do Simon
Name[pt_BR]=Plugin de reconhecimento do Simon
Name[sk]=Plugin rozpoznávača Simon
Name[sl]=Vstavek prepoznavanja za Simon
Name[sv]=Simon insticksprogram för igenkänning
Name[uk]=Додаток розпізнавання Simon
Name[x-test]=xxSimon Recognizer Pluginxx
Name[zh_TW]=Simon 辨識器外掛程式
Comment=Recognize
Comment[bs]=Prepoznaje
Comment[ca]=Reconeix
Comment[ca@valencia]=Reconeix
Comment[cs]=Rozpoznat
Comment[da]=Genkend
Comment[de]=Erkennung
Comment[el]=Αναγνωρίζει
Comment[en_GB]=Recognise
Comment[es]=Reconocer
Comment[fi]=Tunnista
Comment[fr]=Effectue la reconnaissance
Comment[gl]=Recoñecer
Comment[hu]=Felismerés
Comment[it]=Riconoscimento dell'utente
Comment[kk]=Талдап тану
Comment[nl]=Herkennen
Comment[pl]=Rozpoznaj
Comment[pt]=Reconhecer
Comment[pt_BR]=Reconhecer
Comment[sk]=Rozoznávať
Comment[sl]=Prepoznaj
Comment[sv]=Igenkänning
Comment[uk]=Розпізнати
Comment[x-test]=xxRecognizexx
Comment[zh_CN]=识别
Comment[zh_TW]=辨認

X-KDE-PluginInfo-Author=Adam Nash
X-KDE-PluginInfo-Email=adam.t.nash@gmail.com
X-KDE-PluginInfo-Name=simonrecognizercommandplugin
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://userbase.kde.org/Simon
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
X-KDE-ParentApp=simon
