[Desktop Entry]
Type=Service
Icon=text-field
ServiceTypes=simon/CommandPlugin
X-KDE-Library=simonrecognizercommandplugin
Name=simon Recognizer Plugin
Name[es]=Complemento de reconocimiento para simon
Name[pt]='Plugin' de Reconhecimento do Simon
Name[pt_BR]=Plugin de reconhecimento do simon
Name[sv]=Simon insticksprogram för igenkänning
Name[uk]=Додаток розпізнавання simon
Name[x-test]=xxsimon Recognizer Pluginxx
Comment=Recognize
Comment[es]=Reconocer
Comment[pt]=Reconhecer
Comment[pt_BR]=Reconhecer
Comment[sv]=Igenkänning
Comment[uk]=Розпізнати
Comment[x-test]=xxRecognizexx

X-KDE-PluginInfo-Author=Adam Nash
X-KDE-PluginInfo-Email=adam.t.nash@gmail.com
X-KDE-PluginInfo-Name=simonrecognizercommandplugin
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://simon-listens.org
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
X-KDE-ParentApp=simon
