[Desktop Entry]
Type=Service
Icon=text-field
ServiceTypes=simon/ConditionPlugin
X-KDE-Library=simonlipdetectionconditionplugin
Name=Simon Lip Detection Plugin
Name[bs]=Simon Dodatak za Prepoznavanje Usne
Name[ca]=Connector per a la detecció de llavis del Simon
Name[ca@valencia]=Connector per a la detecció de llavis del Simon
Name[cs]=Modul pro rozpoznání rtů pro Simon
Name[da]=Simon-plugin til detektion af læbebevægelse
Name[de]=Lippenerkennung für Simon
Name[el]=Πρόσθετο ανίχνευσης χείλους για το Simon
Name[es]=Complemento de detección de labios de Simon
Name[et]=Simoni huuletuvastusplugin
Name[fi]=Simon huulentunnistusliitännäinen
Name[fr]=Module externe de commande de détection du mouvement des lèvres pour « Simon »
Name[gl]=Complemento de recoñecemento dos beizos para Simon
Name[hu]=Simon ajakfelismerő bővítmény
Name[it]=Estensione Simon per la dettatura
Name[kk]=Ерінді байқау Simon плагині
Name[nl]=Plug-in voor detectie van lippen in Simon
Name[pl]=Wtyczka wykrywania Ust
Name[pt]='Plugin' de Detecção dos Lábios do Simon
Name[pt_BR]=Plugin de detecção de lábios do Simon
Name[sk]=Plugin detekcie pier Simon
Name[sl]=Vstavek za zaznavanje ustnic
Name[sv]=Simon insticksprogram för läppdetektering
Name[uk]=Додаток розпізнавання руху губ Simon
Name[x-test]=xxSimon Lip Detection Pluginxx
Name[zh_TW]=Simon 唇語偵測外掛程式
Comment=Checks for presence of Lip
Comment[bs]=Provjerava da li je prisutna Usna
Comment[ca]=Comprova si hi ha presència d'uns llavis
Comment[ca@valencia]=Comprova si hi ha presència d'uns llavis
Comment[cs]=Kontroluje přítomnost rtu
Comment[da]=Tjekker for læbebevægelse
Comment[de]=Erkennt Lippenbewegungen
Comment[el]=Ελέγχει για παρουσία χείλους
Comment[es]=Comprueba la presencia de labios
Comment[et]=Huulte olemasolu kontrollimine
Comment[fi]=Tarkistaa huulen läsnäolon
Comment[fr]=Vérifie la présence de mouvements des lèvres
Comment[gl]=Comproba a presencia de beizos.
Comment[hu]=Ajak jelenlétét ellenőrzi
Comment[kk]=Ерін бар ма тексеру
Comment[nl]=Controleert op de aanwezigheid van lippen
Comment[pl]=Poszukuje obecności Ust
Comment[pt]=Verifica a presença de lábios de uma pessoa
Comment[pt_BR]=Verifica a presença de lábios de uma pessoa
Comment[sk]=Overí prítomnosť pier
Comment[sl]=Preveri prisotnost ustnic
Comment[sv]=Söker efter läppnärvaro
Comment[uk]=Перевірка видимості губ
Comment[x-test]=xxChecks for presence of Lipxx
Comment[zh_TW]=檢查唇語
#Name=simon Process Opened Plugin
#Name[pt]='Plugin' de Processo Aberto do Simon
#Name[pt_BR]=Plugin de processo aberto do simon
#Name[sv]=Simon insticksprogram för öppnad process
#Name[uk]=Додаток відкритих процесів simon
#Name[x-test]=xxsimon Process Opened Pluginxx
#Comment=Checks for opened process
#Comment[pt]=Verifica qual o processo aberto
#Comment[pt_BR]=Verifica qual o processo aberto
#Comment[sv]=Söker efter öppnad process
#Comment[uk]=Перевірка відкритих процесів
#Comment[x-test]=xxChecks for opened processxx

X-KDE-PluginInfo-Author=Yash Shah
X-KDE-PluginInfo-Email=blazonware@gmail.com
X-KDE-PluginInfo-Name=simonlipdetectionconditionplugin
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://userbase.kde.org/Simon
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-ParentApp=simon
