[Desktop Entry]
Type=Service
Icon=text-field
ServiceTypes=simon/ConditionPlugin
X-KDE-Library=simonlipdetectionconditionplugin
Name=simon Lip Detection Plugin
Name[x-test]=xxsimon Lip Detection Pluginxx
Comment=Checks for presence of Lip
Comment[x-test]=xxChecks for presence of Lipxx
#Name=simon Process Opened Plugin
#Name[pt]='Plugin' de Processo Aberto do Simon
#Name[pt_BR]=Plugin de processo aberto do simon
#Name[sv]=Simon insticksprogram för öppnad process
#Name[uk]=Додаток відкритих процесів simon
#Name[x-test]=xxsimon Process Opened Pluginxx
#Comment=Checks for opened process
#Comment[pt]=Verifica qual o processo aberto
#Comment[pt_BR]=Verifica qual o processo aberto
#Comment[sv]=Söker efter öppnad process
#Comment[uk]=Перевірка відкритих процесів
#Comment[x-test]=xxChecks for opened processxx

X-KDE-PluginInfo-Author=Yash Shah
X-KDE-PluginInfo-Email=blazonware@gmail.com
X-KDE-PluginInfo-Name=simonlipdetectionconditionplugin
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://simon-listens.org
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-ParentApp=simon
