[Desktop Entry]
Type=Service
Icon=text-field
ServiceTypes=simon/ConditionPlugin
X-KDE-Library=simonlipdetectionconditionplugin
Name=Simon Lip Detection Plugin
Comment=Checks for presence of Lip
Comment[ca]=Comprova si hi ha presència d'uns llavis
Comment[el]=Ελέγχει για παρουσία χείλους
Comment[et]=Huulte olemasolu kontrollimine
Comment[nl]=Controleert op de aanwezigheid van lippen
Comment[pt]=Verifica a presença de lábios de uma pessoa
Comment[pt_BR]=Verifica a presença de lábios de uma pessoa
Comment[sl]=Preveri prisotnost Lip
Comment[sv]=Söker efter läppnärvaro
Comment[uk]=Перевірка видимості губ
Comment[x-test]=xxChecks for presence of Lipxx
#Name=simon Process Opened Plugin
#Name[pt]='Plugin' de Processo Aberto do Simon
#Name[pt_BR]=Plugin de processo aberto do simon
#Name[sv]=Simon insticksprogram för öppnad process
#Name[uk]=Додаток відкритих процесів simon
#Name[x-test]=xxsimon Process Opened Pluginxx
#Comment=Checks for opened process
#Comment[pt]=Verifica qual o processo aberto
#Comment[pt_BR]=Verifica qual o processo aberto
#Comment[sv]=Söker efter öppnad process
#Comment[uk]=Перевірка відкритих процесів
#Comment[x-test]=xxChecks for opened processxx

X-KDE-PluginInfo-Author=Yash Shah
X-KDE-PluginInfo-Email=blazonware@gmail.com
X-KDE-PluginInfo-Name=simonlipdetectionconditionplugin
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://userbase.kde.org/Simon
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-ParentApp=simon
