[Desktop Entry]
Name=Sam
Exec=sam %i -caption %c
Icon=sam
Type=Application
X-DocPath=sam/index.html
X-AppStream-Ignore=true
GenericName=Acoustic Modeller
Terminal=false
Categories=Qt;KDE;Utility;Accessibility;
