[Desktop Entry]
Name=Sam
Name[ast]=Sam
Name[bs]=Sam
Name[ca]=Sam
Name[ca@valencia]=Sam
Name[cs]=Sam
Name[da]=Sam
Name[de]=Sam
Name[el]=Sam
Name[en_GB]=Sam
Name[es]=Sam
Name[fi]=Sam
Name[fr]=Sam
Name[ga]=Sam
Name[gl]=Sam
Name[hu]=Sam
Name[it]=Sam
Name[kk]=Sam
Name[nl]=Sam
Name[pl]=Sam
Name[pt]=Sam
Name[pt_BR]=Sam
Name[sk]=Sam
Name[sl]=Sam
Name[sv]=Sam
Name[ug]=Sam
Name[uk]=Sam
Name[x-test]=xxSamxx
Name[zh_TW]=Sam
Exec=sam %i -caption %c
Icon=sam
Type=Application
X-DocPath=sam/index.html
GenericName=Acoustic Modeller
GenericName[bs]=Akustični Modelar
GenericName[ca]=Modelador acústic
GenericName[ca@valencia]=Modelador acústic
GenericName[da]=Akustisk model-værktøj
GenericName[de]=Akustischer Modellierer
GenericName[el]=Ακουστικός μοντελιστής
GenericName[en_GB]=Acoustic Modeller
GenericName[es]=Modelador acústico
GenericName[fi]=Akustinen mallintaja
GenericName[fr]=Outil de modélisation acoustique
GenericName[gl]=Modelador acústico
GenericName[hu]=Akusztikus modellező
GenericName[it]=Modellatore acustico
GenericName[kk]=Акустикалық модельдеу
GenericName[nl]=Akoestische modelleerder
GenericName[pl]=Program modelujący akustykę
GenericName[pt]=Modelador Acústico
GenericName[pt_BR]=Modelador acústico
GenericName[sk]=Akustický modelár
GenericName[sl]=Akustični modelirnik
GenericName[sv]=Akustisk modellering
GenericName[uk]=Акустичне моделювання
GenericName[x-test]=xxAcoustic Modellerxx
GenericName[zh_TW]=聽覺模型
Terminal=false
Categories=Qt;KDE;Utility;Accessibility;
