[Desktop Entry]
Type=Service
Icon=view-media-artist
ServiceTypes=simon/CommandPlugin
X-KDE-Library=simonaiplugin
Name=simon AI Plugin
Name[es]=Complemento de IA para simon
Name[nl]=Plug-in van simon AI
Name[pt]='Plugin' de IA do Simon
Name[pt_BR]=Plugin de inteligência artificial do simon
Name[sv]=Simon AI-insticksprogram
Name[uk]=Додаток штучного інтелекту simon
Name[x-test]=xxsimon AI Pluginxx
Comment=Voicecontrolled Chatbot with Festival based speech output
Comment[pt]=Área de conversação com o resultado da fala baseado no Festival
Comment[pt_BR]=Área de conversação com o resultado da fala baseado no Festival
Comment[sv]=Röststyrt automatiskt chattprogram med Festival-baserad uppläsning
Comment[uk]=Керований голосом бот з заснованим на Festival мовленням
Comment[x-test]=xxVoicecontrolled Chatbot with Festival based speech outputxx

X-KDE-PluginInfo-Author=Peter Grasch
X-KDE-PluginInfo-Email=grasch@simon-listens.org
X-KDE-PluginInfo-Name=simonai
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://simon-listens.org
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
X-KDE-ParentApp=simon
