[Desktop Entry]
Type=Service
Icon=view-media-artist
X-KDE-ServiceTypes=KCModule
X-KDE-Library=simonaiplugin

X-KDE-PluginKeyword=simonaipluginconfig
X-KDE-FactoryName=simonaipluginconfig
X-KDE-ParentComponents=simonaiplugin

X-KDE-ParentApp=simon
X-KDE-System-Settings-Parent-Category=simon


Name=AI

Comment=Configuration of simons ai-plugin

