[Desktop Entry]
Type=Service
Icon=view-media-artist
ServiceTypes=simon/CommandPlugin
X-KDE-Library=simonaiplugin
Name=Simon AI Plugin
Name[ca]=Connector per a IA del Simon
Name[ca@valencia]=Connector per a IA del Simon
Name[cs]=Modul umělé inteligence pro Simon
Name[da]=Simon-plugin til AI
Name[de]=KI-Modul für Simon
Name[el]=Πρόσθετο AI για το Simon
Name[es]=Complemento IA de Simon
Name[et]=Simoni tehisintelligentsi plugin
Name[fi]=Simon AI-liitännäinen
Name[gl]=Complemento de IA para Simon
Name[hu]=Simon MI bővítmény
Name[nl]=Plug-in van Simon AI
Name[pl]=Wtyczka AI Simon
Name[pt]='Plugin' de IA do Simon
Name[pt_BR]=Plugin de inteligência artificial do Simon
Name[sk]=Simon AI Plugin
Name[sl]=Vstavek Simon vse-v-enem
Name[sv]=Simon AI-insticksprogram
Name[uk]=Додаток штучного інтелекту Simon
Name[x-test]=xxSimon AI Pluginxx
Name[zh_TW]=Simon 人工智慧外掛程式
Comment=Voice-controlled Chatbot with Festival-based speech output
Comment[ca]=Àrea de conversa controlada per veu amb sortida parlada basada en Festival
Comment[ca@valencia]=Àrea de conversa controlada per veu amb eixida parlada basada en Festival
Comment[cs]=Hlasem řízený konverzační agent s výstupem řeči založeným na Festival
Comment[da]=Stemmekontrolleret chatbot med Festival-baseret tale-output
Comment[de]=Sprachgesteuerter Chatbot mit Sprachausgabe basierend auf Festival
Comment[el]=Chatbot με έλεγχο φωνής και έξοδο ομιλίας με βάση το festival
Comment[es]=Robot de charla controlado por voz con salida de habla basada en Festival
Comment[et]=Hääljuhitav vestlusrobot Festivali-põhise kõneväljundiga
Comment[fi]=Ääniohjattu jutustin Festival-perustaisella puheen tulostuksella
Comment[fr]=Assistant virtuel (« chatbot ») commandé à la voix avec une sortie de synthèse vocale reposant sur Festival
Comment[gl]=Robot de conversa controlado coa voz con saída da fala baseada no Festiva
Comment[hu]=Hang-vezérelt csevegőrobot Festival-alapú beszéd kimenettel
Comment[nl]=Spraakgestuurde chatbot met op Festival gebaseerde spraakuitvoer
Comment[pl]=Rozmowny bot sterowany głosem, z wyjściem głosowym opartym o Festival
Comment[pt]=Área de conversação com o resultado da fala baseado no Festival
Comment[pt_BR]=Área de conversação com o resultado da fala baseado no Festival
Comment[sk]=Hlasovo ovládaný chatovací bot s výstupom založeným na Festival
Comment[sl]=Glasovno vodeni robot klepeta z govornim izhodom, ki temelji na Festival
Comment[sv]=Röststyrt automatiskt chattprogram med Festival-baserad uppläsning
Comment[uk]=Керований голосом бот з заснованим на Festival мовленням
Comment[x-test]=xxVoice-controlled Chatbot with Festival-based speech outputxx
Comment[zh_TW]=語音控制聊天機器人，使用 Festival 語音輸出

X-KDE-PluginInfo-Author=Peter Grasch
X-KDE-PluginInfo-Email=peter.grasch@bedahr.org
X-KDE-PluginInfo-Name=simonai
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://userbase.kde.org/Simon
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
X-KDE-ParentApp=simon
