[Desktop Entry]
Type=Service
Icon=applications-multimedia
ServiceTypes=simon/CommandPlugin
X-KDE-Library=simonmprisplayerplugin
Name=Simon Media Player Control Command Plugin
Name[ca]=Connector per a ordres de control del reproductor de suports del Simon
Name[da]=Simon plugin til medieafspiller-kontrolkommandoer
Name[es]=Complemento de órdenes de control del reproductor de medios de  Simon
Name[fi]=Simon mediasoittimen ohjauksen komentoliitännäinen
Name[nl]=Commando-plug-in voor besturing van Simon mediaspeler
Name[pl]=Sterowanie odtwarzaczami multimediów wyposażonych w MPRIS dla Simon
Name[pt]='Plugin' de Comandos de Controlo de Leitores Multimédia do Simon
Name[pt_BR]=Plugin de comandos de controle de reprodutores de mídia do Simon
Name[sk]=Plugin ovládacieho príkazu prehrávač médií Simon
Name[uk]=Додаток команд керування мультимедійними програвачами
Name[x-test]=xxSimon Media Player Control Command Pluginxx
Comment=Control any MPRIS enabled media player using Simon
Comment[ca]=Controla qualsevol reproductor de suports amb MPRIS habilitat usant el Simon
Comment[da]=Kontrollér en MPRIS-aktiveret medieafspiller med Simon
Comment[es]=Controla cualquier reproductor de medios MPRIS activado usando Simon
Comment[fi]=Ohjaa mitä tahansa MPRIS:iä tukevaa mediasoitinta Simonilla
Comment[nl]=Bestuur elke, met MPRIS ingeschakelde, mediaspeler met Simon
Comment[pl]=Sterowanie odtwarzacz multimediów z możliwością sterowania przez dowolny MPRIS używający Simon
Comment[pt]=Controlar qualquer leitor multimédia com suporte para MPRIS com o Simon
Comment[pt_BR]=Controla qualquer reprodutor de mídia com suporte a MPRIS usando o Simon
Comment[sk]=Ovláda ľubovoľný prehrávač médií MPRIS pomocou Simon
Comment[uk]=Керування усіма програвачами з можливостями MPRIS за допомогою Simon
Comment[x-test]=xxControl any MPRIS enabled media player using Simonxx

X-KDE-PluginInfo-Author=Ashish Madeti
X-KDE-PluginInfo-Email=ashishmadeti@gmail.com
X-KDE-PluginInfo-Name=simoncommandmprisplayer
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://userbase.kde.org/Simon
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-ParentApp=simon
