[Desktop Entry]
Type=Service
Icon=applications-multimedia
ServiceTypes=simon/CommandPlugin
X-KDE-Library=simonmprisplayerplugin
Name=Simon Media Player Control Command Plugin
Name[bs]=Komandni dodatak za Simon izvođač medija
Name[ca]=Connector per a ordres de control del reproductor de suports del Simon
Name[cs]=Modul příkazů pro ovládání přehrávače médií pro Simon
Name[da]=Simon plugin til medieafspiller-kontrolkommandoer
Name[de]=Medienwiedergabesteuerungs-Befehlsmodul für Simon
Name[el]=Πρόσθετο εντολών ελέγχου για τον αναπαραγωγέα πολυμέσων του Simon
Name[en_GB]=Simon Media Player Control Command Plugin
Name[es]=Complemento de órdenes de control del reproductor de medios de  Simon
Name[fi]=Simon mediasoittimen ohjauksen komentoliitännäinen
Name[fr]=Module externe de commande lecteur de média pour « Simon »
Name[gl]=Complemento de ordes do control de reprodutores multimedia para Simon
Name[hu]=Simon médialejátszó vezérlő parancs bővítmény
Name[it]=Estensione Simon per il comando del riproduttore multimediale
Name[nl]=Commando-plug-in voor besturing van Simon mediaspeler
Name[pl]=Sterowanie odtwarzaczami multimediów wyposażonych w MPRIS dla Simon
Name[pt]='Plugin' de Comandos de Controlo de Leitores Multimédia do Simon
Name[pt_BR]=Plugin de comandos de controle de reprodutores de mídia do Simon
Name[sk]=Plugin ovládacieho príkazu prehrávač médií Simon
Name[sl]=Vstavek »Ukazi za nadzor predstavnostnega predvajalnika« za Simon
Name[sv]=Simon kommandoinsticksprogram för styrning av mediaspelare
Name[uk]=Додаток команд керування мультимедійними програвачами
Name[x-test]=xxSimon Media Player Control Command Pluginxx
Comment=Control any MPRIS enabled media player using Simon
Comment[bs]=Kontrolišite bilo koji MPRIS prilagođen izvođač medija koristeći SIMON
Comment[ca]=Controla qualsevol reproductor de suports amb MPRIS habilitat usant el Simon
Comment[da]=Kontrollér en MPRIS-aktiveret medieafspiller med Simon
Comment[el]=Ελέγχει οποιονδήποτε αναπαραγωγέα πολυμέσων με προδιαγραφή MPRIS με χρήση του Simon
Comment[en_GB]=Control any MPRIS enabled media player using Simon
Comment[es]=Controla cualquier reproductor de medios MPRIS activado usando Simon
Comment[fi]=Ohjaa mitä tahansa MPRIS:iä tukevaa mediasoitinta Simonilla
Comment[fr]=Commander n'importe quel lecteur de média compatible MPRIS en utilisant Simon
Comment[gl]=Controla calquera reprodutor multimedia compatíbel con MPRIS usando Simon.
Comment[hu]=Bármilyen MPRIS-képes médialejátszó vezérlése Simon használatával
Comment[it]=Controlla tramite Simon qualsiasi riproduttore multimediale MPRIS
Comment[nl]=Bestuur elke, met MPRIS ingeschakelde, mediaspeler met Simon
Comment[pl]=Sterowanie odtwarzacz multimediów z możliwością sterowania przez dowolny MPRIS używający Simon
Comment[pt]=Controlar qualquer leitor multimédia com suporte para MPRIS com o Simon
Comment[pt_BR]=Controla qualquer reprodutor de mídia com suporte a MPRIS usando o Simon
Comment[sk]=Ovláda ľubovoľný prehrávač médií MPRIS pomocou Simon
Comment[sl]=Nadzirajte katerikoli predstavnostni predvajalnik s podporo MPRIS preko Simona
Comment[sv]=Styr eventuella MPRIS-kontrollerade mediaspelare genom att använda Simon
Comment[uk]=Керування усіма програвачами з можливостями MPRIS за допомогою Simon
Comment[x-test]=xxControl any MPRIS enabled media player using Simonxx

X-KDE-PluginInfo-Author=Ashish Madeti
X-KDE-PluginInfo-Email=ashishmadeti@gmail.com
X-KDE-PluginInfo-Name=simoncommandmprisplayer
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://userbase.kde.org/Simon
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-ParentApp=simon
