[Desktop Entry]
Type=Service
Icon=format-text-bold
ServiceTypes=simon/CommandPlugin
X-KDE-Library=simontextmacrocommandplugin
Name=simon TextMacro Plugin
Name[de]=Textmakro-Modul für Simon
Name[pt]='Plugin' de Macro de Texto para o Simon
Name[pt_BR]=Plugin de macro de texto para o simon
Name[sv]=Simon insticksprogram för textmakro
Name[uk]=Додаток текстових макросів simon
Name[x-test]=xxsimon TextMacro Pluginxx
Comment=Writes prerecorded sequences
Comment[de]=Schreibt aufgenommene Abfolgen
Comment[pt]=Escreve sequências pré-gravadas
Comment[pt_BR]=Escreve sequências pré-gravadas
Comment[sv]=Skriver förinspelade sekvenser
Comment[uk]=Додавання попередньо записаних послідовностей
Comment[x-test]=xxWrites prerecorded sequencesxx

X-KDE-PluginInfo-Author=Peter Grasch
X-KDE-PluginInfo-Email=grasch@simon-listens.org
X-KDE-PluginInfo-Name=simonshortcutcommandplugin
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://simon-listens.org
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-ParentApp=simon
