[Desktop Entry]
Type=Service
Icon=format-text-bold
ServiceTypes=simon/CommandPlugin
X-KDE-Library=simontextmacrocommandplugin
Name=Simon TextMacro Plugin
Comment=Writes prerecorded sequences

X-KDE-PluginInfo-Author=Peter Grasch
X-KDE-PluginInfo-Email=peter.grasch@bedahr.org
X-KDE-PluginInfo-Name=simonshortcutcommandplugin
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://userbase.kde.org/Simon
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-ParentApp=simon
