[Desktop Entry]
Type=Service
Icon=format-text-bold
ServiceTypes=simon/CommandPlugin
X-KDE-Library=simontextmacrocommandplugin
Name=simon TextMacro Plugin
Name[ca]=Connector de macro de text per a «simon»
Name[de]=Textmakro-Modul für Simon
Name[el]=Πρόσθετο TextMacro του simon
Name[et]=Simoni tekstimakro plugin
Name[fi]=simon TextMacro-liitännäinen
Name[fr]=Module externe de macros de texte pour simon
Name[gl]=Engadido de macros de texto do simon
Name[pl]=Wtyczka MakraTekstu simon
Name[pt]='Plugin' de Macro de Texto para o Simon
Name[pt_BR]=Plugin de macro de texto para o simon
Name[sv]=Simon insticksprogram för textmakro
Name[uk]=Додаток текстових макросів simon
Name[x-test]=xxsimon TextMacro Pluginxx
Comment=Writes prerecorded sequences
Comment[ca]=Escriu seqüències pregravades
Comment[de]=Schreibt aufgenommene Abfolgen
Comment[el]=Γράφει καταγεγραμμένες ακολουθίες
Comment[et]=Varem salvestatud lausete kirjutamine
Comment[fi]=Kirjoittaa esiäänitettyjä sekvenssejä
Comment[fr]=Écrit des séquences pré-enregistrées
Comment[gl]=Escribe secuencias pre-gravadas
Comment[pl]=Zapisuje wstępnie nagrane sekwencje
Comment[pt]=Escreve sequências pré-gravadas
Comment[pt_BR]=Escreve sequências pré-gravadas
Comment[sv]=Skriver förinspelade sekvenser
Comment[uk]=Додавання попередньо записаних послідовностей
Comment[x-test]=xxWrites prerecorded sequencesxx

X-KDE-PluginInfo-Author=Peter Grasch
X-KDE-PluginInfo-Email=grasch@simon-listens.org
X-KDE-PluginInfo-Name=simonshortcutcommandplugin
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://simon-listens.org
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-ParentApp=simon
