[Desktop Entry]
Type=Service
Icon=ksimond
X-KDE-ServiceTypes=KCModule
X-KDE-Library=ksimondsettings

X-DocPath=help:/ksimond/using-kapp.html

X-KDE-FactoryName=ksimondsettingsfactory
X-KDE-ParentComponents=libksimondsettings

X-KDE-ParentApp=ksimond
X-KDE-System-Settings-Parent-Category=accessibility

#X-KDE-PluginKeyword=KSimondSettings

Name=KSimond
Name[ca]=KSimond
Name[cs]=KSimond
Name[de]=KSimond
Name[el]=KSimond
Name[es]=KSimond
Name[fi]=KSimond
Name[fr]=KSimond
Name[ga]=KSimond
Name[hu]=KSimond
Name[nds]=KSimond
Name[nl]=KSimond
Name[pl]=KSimond
Name[pt]=KSimond
Name[pt_BR]=KSimond
Name[ro]=KSimond
Name[sk]=KSimond
Name[sv]=Ksimond
Name[uk]=KSimond
Name[x-test]=xxKSimondxx
Name[zh_CN]=KSimond

Comment=Configuration of the KDE simond front-end
Comment[ca]=Configuració del frontal de «simond» per al KDE
Comment[de]=Konfiguration des KDE-Simond-Programms
Comment[el]=Διαμόρφωση του περιβάλλοντος χρήστη του KDE simond
Comment[fi]=KDE-simond-edustaohjelman asetukset
Comment[fr]=Configuration de l'interface de simon pour KDE
Comment[hu]=A KDE simond előtétprogram beállítása
Comment[nl]=Configuratie van de KDE simond-frontend
Comment[pl]=Konfiguracja nakładki KDE dla simond
Comment[pt]=Configuração da interface 'simond' para o KDE
Comment[pt_BR]=Configuração da interface gráfica do simond para o KDE
Comment[ro]=Configurație pentru interfața simond LDE
Comment[sv]=Inställning av KDE:s Simond gränssnitt
Comment[uk]=Налаштування оболонки simond у KDE
Comment[x-test]=xxConfiguration of the KDE simond front-endxx
Comment[zh_CN]=KDE simond 的配置前端
