[Desktop Entry]
Type=Service
Icon=ksimond
X-KDE-ServiceTypes=KCModule
X-KDE-Library=libksimondsettings

X-DocPath=help:/ksimond/using-kapp.html

X-KDE-FactoryName=ksimondsettingsfactory
X-KDE-ParentComponents=libksimondsettings

X-KDE-ParentApp=ksimond
X-KDE-System-Settings-Parent-Category=simond

#X-KDE-PluginKeyword=KSimondSettings

Name=KSimond
Name[de]=KSimond
Name[fr]=KSimond

Comment=Configuration of the KDE simond front-end
Comment[de]=Konfiguration des KDE simond Front-Ends
Comment[fr]=Configuration de l'interface graphique KDE de simond
