[Desktop Entry]
Type=Service
Icon=ksimond
X-KDE-ServiceTypes=KCModule
X-KDE-Library=ksimondsettings

X-DocPath=help:/ksimond/using-kapp.html

X-KDE-FactoryName=ksimondsettingsfactory
X-KDE-ParentComponents=libksimondsettings

X-KDE-ParentApp=ksimond
X-KDE-System-Settings-Parent-Category=accessibility

#X-KDE-PluginKeyword=KSimondSettings

Name=KSimond

Comment=Configuration of the KDE simond front-end
