[Desktop Entry]
Type=Service
Icon=text-field
ServiceTypes=simon/ConditionPlugin
X-KDE-Library=simonorconditionassociationplugin
Name=Simon Or Association Plugin
Name[bs]=Simon Dodatak za Ili Asocijaciju
Name[ca]=Connector per a associació O del Simon
Name[ca@valencia]=Connector per a associació O del Simon
Name[da]=Simon-plugin til eller-sammenknytning
Name[de]=Oder-Verbindung für Simon
Name[el]=Πρόσθετο Or Association για το Simon
Name[en_GB]=Simon Or Association Plugin
Name[es]=Complemento de asociación O de Simon
Name[et]=Simoni või-seose plugin
Name[fi]=Simon Or-yhdistysliitännäinen
Name[fr]=Module externe d'associations « OU » pour « Simon »
Name[gl]=Complemento de asociación OU para Simon
Name[hu]=Simon vagy társítás bővítmény
Name[it]=Estensione associazione «O» di Simon
Name[kk]=Simon істейтін байланыс плагині
Name[nl]=Plug-in van Simon Or Association
Name[pl]=Wtyczka Skojarzenia Lub Simon
Name[pt]='Plugin' de Associação OU do Simon
Name[pt_BR]=Plugin de associação OU do Simon
Name[sk]=Plugin Or asociácie Simon
Name[sl]=Vstavek »Povezave Or« za Simon
Name[sv]=Simon insticksprogram för eller-association
Name[uk]=Додаток прив’язки Simon
Name[x-test]=xxSimon Or Association Pluginxx
Name[zh_TW]=Simon Or 關聯外掛程式
Comment=Checks for Or Association
Comment[bs]=Provjerava da li ima Ili Asocijacije
Comment[ca]=Comprova si hi ha associació O
Comment[ca@valencia]=Comprova si hi ha associació O
Comment[da]=Tjekker for eller-sammenknytning
Comment[de]=Testet für ein logisches Oder
Comment[el]=Ελέγχει για Or Association
Comment[en_GB]=Checks for Or Association
Comment[es]=Comprueba las asociaciones O
Comment[et]=Või-seose kontrollimine
Comment[fi]=Tarkistaa Or-yhdistyksen
Comment[fr]=Vérifie l'association « OU »
Comment[gl]=Comproba a asociación OU
Comment[hu]=Vagy társítást ellenőriz
Comment[it]=Controlla l'associazione «O»
Comment[kk]=Істейтін байланысты тексеру
Comment[nl]=Controleert op een of associatie
Comment[pl]=Poszukuje Skojarzeń Lub
Comment[pt]=Procura por uma Associação OU
Comment[pt_BR]=Procura por uma Associação OU
Comment[sk]=Skontroluje Or asociáciu
Comment[sl]=Preveri povezave Or
Comment[sv]=Söker efter eller-association
Comment[uk]=Перевірка прив’язки
Comment[x-test]=xxChecks for Or Associationxx
Comment[zh_TW]=檢查 Or 關聯

X-KDE-PluginInfo-Author=Adam Nash
X-KDE-PluginInfo-Email=adam.t.nash@gmail.com
X-KDE-PluginInfo-Name=simonorconditionassociationplugin
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://userbase.kde.org/Simon
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-ParentApp=simon
