[Desktop Entry]
Type=Service
Icon=text-field
ServiceTypes=simon/ConditionPlugin
X-KDE-Library=simonorconditionassociationplugin
Name=Simon Or Association Plugin
Name[ca]=Connector de associació o per a Simon
Name[nl]=Plug-in van Simon Or Association
Name[pt]='Plugin' de Associação OU do Simon
Name[pt_BR]=Plugin de associação OU do Simon
Name[uk]=Додаток прив’язки Simon
Name[x-test]=xxSimon Or Association Pluginxx
Comment=Checks for Or Association
Comment[ca]=Comprova si hi ha associació o
Comment[da]=Tjekker for eller-sammenknytning
Comment[el]=Ελέγχει για Or Association
Comment[et]=Või-seose kontrollimine
Comment[fi]=Tarkistaa Or-yhdistyksen
Comment[fr]=Vérifie l'association OU
Comment[gl]=Comproba a asociación OU
Comment[nl]=Controleert op een of associatie
Comment[pl]=Poszukuje Skojarzeń Lub
Comment[pt]=Procura por uma Associação OU
Comment[pt_BR]=Procura por uma Associação OU
Comment[sl]=Preveri povezave Or
Comment[sv]=Söker efter eller-association
Comment[uk]=Перевірка прив’язки
Comment[x-test]=xxChecks for Or Associationxx

X-KDE-PluginInfo-Author=Adam Nash
X-KDE-PluginInfo-Email=adam.t.nash@gmail.com
X-KDE-PluginInfo-Name=simonorconditionassociationplugin
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://userbase.kde.org/Simon
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-ParentApp=simon
