[Desktop Entry]
Type=Service
Icon=text-field
ServiceTypes=simon/ConditionPlugin
X-KDE-Library=simonorconditionassociationplugin
Name=simon Or Association Plugin
Name[ca]=Connector de associació o per a «simon»
Name[el]=Πρόσθετο Or Association του simon
Name[fi]=simon Or-yhdistysliitännäinen
Name[fr]=Module externe d'association OU pour simon
Name[gl]=Engadido de asociación OU do simon
Name[pl]=Wtyczka Skojarzenia Lub simon
Name[pt]='Plugin' de Associação OU do Simon
Name[pt_BR]=Plugin de associação OU do simon
Name[sv]=Simon insticksprogram för eller-association
Name[uk]=Додаток прив’язки simon
Name[x-test]=xxsimon Or Association Pluginxx
Comment=Checks for Or Association
Comment[ca]=Comprova si hi ha associació o
Comment[el]=Ελέγχει για Or Association
Comment[fi]=Tarkistaa Or-yhdistyksen
Comment[fr]=Vérifie l'association OU
Comment[gl]=Comproba a asociación OU
Comment[pl]=Poszukuje Skojarzeń Lub
Comment[pt]=Procura por uma Associação OU
Comment[pt_BR]=Procura por uma Associação OU
Comment[sv]=Söker efter eller-association
Comment[uk]=Перевірка прив’язки
Comment[x-test]=xxChecks for Or Associationxx

X-KDE-PluginInfo-Author=Adam Nash
X-KDE-PluginInfo-Email=adam.t.nash@gmail.com
X-KDE-PluginInfo-Name=simonorconditionassociationplugin
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://simon-listens.org
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-ParentApp=simon
