[Desktop Entry]
Name=SSCd
Exec=sscd %i -caption %c
Icon=sscd
Type=Application
X-DocPath=sscd/index.html
X-AppStream-Ignore=true
GenericName=Sample Collection Server
Terminal=true
Categories=Qt;KDE;Utility;Accessibility;
