[Desktop Entry]
Name=SSCd
Name[ca]=SSCd
Name[ca@valencia]=SSCd
Name[da]=SSCd
Name[de]=SSCd
Name[el]=SSCd
Name[es]=SSCd
Name[et]=SSCd
Name[gl]=SSCd
Name[hu]=SSCd
Name[nl]=SSCd
Name[pl]=SSCd
Name[pt]=SSCd
Name[pt_BR]=SSCd
Name[sk]=SSCd
Name[sv]=SSCd
Name[uk]=SSCd
Name[x-test]=xxSSCdxx
Name[zh_TW]=SSCd
Exec=sscd %i -caption "%c"
Icon=sscd
Type=Application
X-DocPath=sscd/index.html
GenericName=Sample Collection Server
GenericName[ca]=Servidor per a la col·lecció de mostres
GenericName[ca@valencia]=Servidor per a la col·lecció de mostres
GenericName[cs]=Server pro sbírku vzorků
GenericName[da]=Server til sample-indsamling
GenericName[de]=Server für die Aufnahmensammlung
GenericName[el]=Εξυπηρετητής συλλογής δειγμάτων
GenericName[es]=Servidor de colección de muestras
GenericName[et]=Näidete kogumise server
GenericName[fi]=Näytekeräyspalvelin
GenericName[fr]=Serveur de collections d'échantillons
GenericName[gl]=Servidor de recolección de mostras
GenericName[hu]=Minta gyűjtemény kiszolgáló
GenericName[it]=Server della raccolta dei campioni
GenericName[nl]=Sample-verzamelaar-server
GenericName[pl]=Serwer zbierający próbki
GenericName[pt]=Servidor de Recolha de Amostras
GenericName[pt_BR]=Servidor da coleção de amostras
GenericName[sl]=Strežnik zbirke vzorcev
GenericName[sv]=Samplingsinsamlingsserver
GenericName[uk]=Сервер збирання зразків
GenericName[x-test]=xxSample Collection Serverxx
GenericName[zh_CN]=采样收集服务器
GenericName[zh_TW]=樣本收集伺服器
Terminal=true
Categories=Qt;KDE;Utility;Accessibility;
