[Desktop Entry]
Type=Service
Icon=user-properties
X-KDE-ServiceTypes=KCModule
X-KDE-Library=libsimondsettings

X-KDE-FactoryName=simondsettingsfactory
X-KDE-ParentComponents=libsimondsettings

X-KDE-ParentApp=simond
X-KDE-System-Settings-Parent-Category=simond


X-KDE-PluginKeyword=SimondUserConfiguration

Name=User
Name[de]=Benutzer

Comment=Userconfiguration
Comment[de]=Benutzerkonfiguration