[Desktop Entry]
Type=Service
Icon=network-disconnect
X-KDE-ServiceTypes=KCModule
X-KDE-Library=libsimondsettings

X-KDE-FactoryName=simondsettingsfactory
X-KDE-ParentComponents=libsimondsettings

X-KDE-ParentApp=simond
X-KDE-System-Settings-Parent-Category=simond

X-KDE-PluginKeyword=SimondNetworkConfiguration


Name=Network
Name[de]=Netzwerk

Comment=Configuration of the Network Settings
Comment[de]=Konfiguration der Netzwerkeinstellungen
