[Desktop Entry]
Type=Service
Icon=network-disconnect
X-KDE-ServiceTypes=KCModule
X-KDE-Library=libsimondsettings

X-DocPath=help:/simond/network_configuration.html

X-KDE-FactoryName=simondsettingsfactory
X-KDE-ParentComponents=libsimondsettings

X-KDE-ParentApp=simond
X-KDE-System-Settings-Parent-Category=simond

X-KDE-PluginKeyword=SimondNetworkConfiguration

Name=Network
Name[de]=Netzwerk
Name[fr]=Réseau

Comment=Configuration of the Network Settings
Comment[de]=Konfiguration der Netzwerkeinstellungen
Comment[fr]=Configuration des paramètres réseau
