[Desktop Entry]
Type=Service
Icon=network-disconnect
X-KDE-ServiceTypes=KCModule
X-KDE-Library=libsimondconfiguration

X-KDE-FactoryName=simondnetworkconfigurationfactory
X-KDE-ParentComponents=libsimondconfiguration

X-KDE-ParentApp=simond
X-KDE-System-Settings-Parent-Category=simond


Name=Network
Name[de]=Netzwerk

Comment=Configuration of the Network Settings
Comment[de]=Konfiguration der Netzwerkeinstellungen
